[2021-03-15 15:57] #444 closed

[2021-03-17 08:22] soumyankar opened #466 "Wrong handling of zero result in fulltext search"
The search function doesn't exactly work when made to search for keywords that doesn't exist in the book and the library.
To recreate the bug:
1. Download this [zim file](https://download.kiwix.org/zim/wikipedia_en_100_maxi.zim) (However, you can do this with any other zim file)
2. Search for "Charlie" and you will find results.
3. Search for "Angelina Jolie" and page refreshes with no change.
4.

[2021-03-17 13:45] #106 closed

[2021-03-18 06:32] maneeshpm opened #467 "Buggy test zim examples.zim should be replaced"
Refer openzim/libzim#521
A test zim file [examples.zim](https://github.com/kiwix/kiwix-lib/blob/baed447dd38a29342a3f509151d6d274774e0a32/test/data/example.zim) is incorrectly written and should be replaced to avoid any future confusion.

[2021-03-18 07:26] kelson42 commented on #467
@veloman-yunkan I think you had generated that file. If this bug was on purpose, please let us know.

[2021-03-18 09:34] veloman-yunkan commented on #467
I have nothing to do with example.zim.

[code]

[2021-03-18 18:44] MananJethwani commented on #466
@kelson42 I faced a similar issue
http://library.kiwix.org/search?content=wikipedia_lt_all_mini_2021-02&pattern=%2F+
why doesn't url like these work?
like if you go to http://library.kiwix.org/wikipedia_lt_all_mini_2021-02/A/Pagrindinis_puslapis
and search for /  autocomplete shows one option with / but the option containing '/'..  doesn't work

[2021-03-19 07:53] kelson42 opened #479 "Multizim (suggestions) does not work at all"
If I search for suggestion in the welcome page, nothing is printed.

I would like to see the results and it would be great to have the logo of the ZIM beside to see in which content the content is available.

See kiwix/kiwix-tools#385 for the fulltext search multizim lack of scalability

[2021-03-19 07:58] kelson42 opened #516 "On 404 page the content ZIM home button is not displayed"
It should:
* If the bookname is correct, display the correct button
* If the bookname is not correct display only the "Home" button to go back to the welcome page

[2021-03-19 08:38] kelson42 commented on #466
I confirm the bug, not clue why this fails. Serious bug!

[2021-03-19 09:09] kelson42 commented on #467
@veloman-yunkan OK, sorry about that. My misunderstanding.

[2021-03-19 11:02] mgautierfr opened #469 "We must not add xapian include in public headers."
Last PR (#460) add include `#include "xapian.h"` in `library.h`

As xapian is a internal dependency, we must not expose it in public header. I've missed that during the review.

See https://github.com/kiwix/kiwix-desktop/issues/615

[2021-03-21 10:41] MananJethwani commented on #466
@kelson42 I suppose this might be a bug related to `libzim` while storing in `xapian::database` when I try to print `database.get_metadata("valuesmap")`
even with 1 title I get this as output `title:0;wordcount:1;geo.position:2`.

[2021-03-21 10:44] kelson42 commented on #466
@mgautierfr @maneeshpm Any idea?

[2021-03-21 12:08] maneeshpm commented on #466
The metadata `valuesmap` stores the slot number of various parameters. Here, `title:0;wordcount:1;geo.position:2` means that we are storing titles in the slot number 0, wordcount in slot number 1 and so on. This does not signify the number of titles.

As far as libzim is concerned, when we don't have any matching document we do not throw any exception of sorts that can cause such an issue. Rather,

[2021-03-21 12:14] kelson42 commented on #466
@maneeshpm Ok, the the problem is in the handling of zero resukt. I guess that an other symptom of the same bug is that this URL does not display anything http://library.kiwix.org/search?content=wikipedia_en_100_maxi&pattern=Angelina+jolie

[2021-03-21 12:19] maneeshpm commented on #466
@kelson42 I agree. We should review the implementation of empty result handling.

[2021-03-21 16:49] maneeshpm commented on #466
This issue is arising because of the status code `MHD_HTTP_NO_CONTENT` (204). In the `handle_search()` subroutine,
[code]
If the status code is replaced with anything else (200, 404, 501 etc), we get the expected behavior and get a "no search results found" screen. I could not find any custom handling for `MHD_HTTP_NO_CONTENT` in the kiwix code either. I am not sure, but afaik this status code 204

[2021-03-21 17:15] maneeshpm commented on #466
What we see is not actually a bug, but an expected behavior of response code 204. I think in our case, a response code 200 with an appropriate message (or an empty json list in case of REST) is better. Sites like Wikipedia follow the same behavior.

[2021-03-21 17:23] kelson42 commented on #466
@maneeshpm You might be right, seems the bug has been introduce by attempting to implement https://github.com/kiwix/kiwix-lib/issues/393. Not clear to me if we can at the same time achieve to keep the solution for #393 and fix this ticket as well.

[2021-03-21 17:31] kelson42 commented on #393
FYI, we might have to rollback the fix of this ticket because it creates new problem, see #466

[2021-03-21 18:53] maneeshpm commented on #466
In my opinion, we must get rid of 204 since it is enforced by the server and it is not its expected behavior. If necessary, we can give some other status code that isn't already being used and is not specified. Then we can add a unit test to signify the updated behavior.

[2021-03-21 19:26] kelson42 commented on #466
@maneeshpm Make sense, les wait feedback of @mgautierfr on this.

[2021-03-22 09:35] MananJethwani commented on #456
@kelson42 shouldn't this be in kiwix-desktop? I suppose this is related to QWebEngine.

[2021-03-22 09:41] mayur-samrutwar opened #471 "Add favicon to the library page"
"https://library.kiwix.org/" - This page has no favicon. Adding a favicon will make the page more recognizable and visibly good. I would like to work on this.

[2021-03-22 11:28] kelson42 commented on #456
@MananJethwani No, quite sure, the bug is here in the libkiwix.

[2021-03-22 12:02] MananJethwani commented on #407
@kelson42 @mgautierfr can I work on this issue?

[2021-03-22 12:16] kelson42 commented on #407
@MananJethwani yes

[2021-03-23 09:54] #407 closed

[2021-03-23 09:55] kelson42 opened #473 "<link type="root" ...> must be injected even if the taskbar is disabled"
`<link type="root" href="{{root}}">` is placed in head_part.html which is rendered only if `m_withTaskbar` is true,
it should be moved to `index.html`.

[2021-03-23 10:13] veloman-yunkan commented on #473
No, it shouldn't be moved to `index.html`. That template is used for rendering only the homepage of the library.

[2021-03-23 10:52] MananJethwani commented on #473
then @veloman-yunkan what do you propose?.....should I make a new HTML file which should always be added while creating response?

[2021-03-23 15:56] veloman-yunkan commented on #473
@MananJethwani What other options can you think of?

[2021-03-23 16:02] MananJethwani commented on #473
Instead of making a separate html page just for a link I can try embedding it directly through c++

[2021-03-23 17:02] veloman-yunkan commented on #473
So if we go with a new HTML template, I think that we will name it something like `head_common.html`, and it makes sense to rename `head_part.html` to `head_taskbar.html`. `<link type="root" href="{{root}}">` will move from the latter to the former. While `head_common.html` is going to consist of that single line we can just insert that line directly. Introducing `head_common.html` now will lower

[2021-03-24 08:24] #473 closed

[2021-03-24 11:24] MananJethwani commented on #471
I guess there is already a ticket for this kiwix/kiwix-tools#159

[2021-03-24 11:47] kelson42 commented on #471
I will give a feedback but the problem is not that easy. There is a few things first to discuss.

[2021-03-25 19:03] MananJethwani opened #477 "abnormal behaviour of links"
while trying to solve openzim/mwoffliner#904 while writing a relative path from an article named `/dev/zero` to `/dev` the href was supposed to be `..` but using it the site moves from `/dev/zero` to `/` that's 2 level up. here is some proof ->

![Screenshot from 2021-03-25 01-32-59](https://user-images.githubusercontent.com/50267986/112528476-32324e80-8dca-11eb-92d2-336479406503.png)
![Screenshot

[2021-03-26 07:15] kelson42 commented on #477
@MananJethwani It does not seem to be the right ZIM file.

[2021-03-26 07:16] kelson42 commented on #477
/move openzim/mwoffliner

[2021-03-26 07:16] #477 closed

[2021-03-26 10:05] veloman-yunkan opened #478 "kiwix::Library::removeBookById() doesn't update m_readers and m_bookDB"
https://github.com/kiwix/kiwix-lib/blob/e214efe/src/library.cpp#L96-L99

[2021-03-26 12:41] maneeshpm commented on #467
This issue should be resolved only after openzim/libzim#522 is merged so that we can generate a zim file with proper indexing of HTML content.

[2021-04-03 08:37] kelson42 opened #480 "Provide method which builds the OPDS URL"
Currently the process is:
1 - client builds the OPDS URL
2 - client makes the OPDS URL call and retrieve the OPDS feed
3 - client shares the OPDS feed with libkiwix which parse it and in returns gives the list of books as object

I want that the first steps is done by the libkiwix as this is a common step to all clients. A first version of that code should be already available in Kiwix Desktop (an

[2021-04-03 08:40] kelson42 commented on #480
@mgautierfr Please let us know quickly if this does not make sense
@veloman-yunkan This is important to provide this soon as Kiwix Android next GSoC student will need it
@gouri-panda You will benefit of this. In the meantime you need to build the OPDS URL yourself for your first tests. See https://wiki.kiwix.org/wiki/OPDS

[2021-04-03 16:57] kelson42 commented on #166
To me, now, we clearly need that.

[2021-04-03 17:01] kelson42 commented on #154
We don’t recommend to split randomly ZIM files. Kiwix Android does not anymore. We have a proper zimsplit tools.

[2021-04-03 17:02] #154 closed

[2021-04-04 15:01] automactic commented on #166
Could you elaborate why we need it? To me, `getNext` works, so I'd say it is not required

[2021-04-04 15:24] kelson42 commented on #166
@automactic The iterator is a C++ standard pattern to do this kind of operation and I want to use it as far as possible in place of custom API. But this is not the key point we are going to change (even if this is still open to discussion):
* I want to avoid to buffer the list of results (this should come more or less directly from Xapian)
* We should be able to iterate through all the results (no

[2021-04-04 18:53] maneeshpm commented on #166
@kelson42 We already have a search_iterator implementation in libzim [here](https://github.com/openzim/libzim/blob/master/src/search_iterator.cpp) that is based on the `Xapian::MSetIterator`. In kiwix-lib this iterator is wrapped inside a `_Result` class internally. The `getNextResult()` method is just incrementing the iterator and returning it wrapped in a `_Result` object. This is perhaps done f

[2021-04-04 18:56] kelson42 commented on #166
@maneeshpm I will let @mgautierfr further answer

[2021-04-06 11:21] mgautierfr commented on #166
Definitvly not :) It was this way a long time ago (before we had a xapian database).
I've keep this API for compatibility reason but it complicate all the stack.

Yes. See https://github.com/kiwix/kiwix-lib/issues/430

[2021-04-06 12:35] maneeshpm commented on #166
Thanks @mgautierfr! It makes sense now. I agree with your comment on the linked issue. The distinction between libzim and kiwix-lib needs to be clear. This issue gets fixed once we drop the wrappers(or even without dropping them) and adapt the existing kiwix-lib to implement libzim directly.

[2021-04-06 14:34] kelson42 commented on #166
@automactic @maneeshpm https://github.com/kiwix/kiwix-tools/issues/97#issuecomment-814111663 gives a good insight in how should be the new searcher architecture.

[2021-04-07 14:55] #469 closed

[2021-04-07 16:14] mgautierfr opened #481 "Remove redirect to article in search"
Following #464, we now have the redirect code in search request (https://github.com/kiwix/kiwix-lib/blob/master/src/server/internalServer.cpp#L500-L522) which somehow become useless.

It may broke a API (if someone use the search api with the article title to directly go to the article (in case of bookmark)), but I think this is something we can accept.

[2021-04-08 08:09] gouri-panda opened #482 "Migrating Maven from Bintray"
More info at https://github.com/kiwix/kiwix-android/issues/2591

[2021-04-08 11:01] kelson42 commented on #482
There is the plan to move the JNI part of libkiwix on a dedicated repository anyway, maybe this is the right moment to do that as well.

[2021-04-08 11:24] kelson42 commented on #481
@MananJethwani Maybe you can tackle this one as this is the follower of your PR

[2021-04-09 10:08] veloman-yunkan opened #484 "[library] Use Xapian for library search on all fields"
#460 provided a fix for #106, targeting (as requested) only the title/description fields.

Now it's time to use Xapian for search over all fields of the library entries.

[2021-04-09 19:37] veloman-yunkan opened #487 "Shouldn't some of the methods of kiwix::Library be const?"
The following public methods of `kiwix::Library` are conceptually `const` but are not declared such:

[code]

Besides, it makes sense to have `const` versions of the following methods:

[code]

Is there anything that is preventing us from doing this?

[2021-04-09 22:17] kelson42 commented on #484
@veloman-yunkan I guess somehow https://github.com/kiwix/kiwix-tools/issues/440 is a duplicate of this ticket... or least will be fixed at the same time?

[2021-04-10 19:48] veloman-yunkan commented on #484
I can't agree. Though the description of that ticket contains ideas that allow it to consider it a duplicate of this one, its title doesn't suggest that at all.

Both tickets can be fixed in the same PR, however that is optional.

[2021-04-11 09:21] veloman-yunkan commented on #484
@kelson42 @mgautierfr

I am currently extending the library unit-tests so that this change doesn't break anything (see #488). Though the functional coverage of catalog search/filtering has to be enhanced further, I already one questions at this point:

- Currently filtering by some fields (e.g. creator/author, tags) is case sensitive. How important is it to preserve that behaviour?

[2021-04-11 09:37] kelson42 commented on #484
@veloman-yunkan I appreciate to see you taking a TDD approach here. That said, I believe we should try to be coherent and like for other fields, take a diacritic/case insensitive approach.

[2021-04-11 12:30] kelson42 opened #489 "Add popularity attribute to books (and sort based on it)"
Something important to implement now (as we are revamping the library mgmt) is the handling of the popularity:
* Would be an optional `library.xml` attribute
* A float number beetween 0 and 5 (like on google play), 0 been the minimum note

[2021-04-11 13:06] kelson42 opened #511 "Kiwix serve welcome page should be dynamic"
It should propose filters, make the [OPDS](https://wiki.kiwix.org/wiki/OPDS) call, parse the result with JS and show the result (cards) dynamically.

[2021-04-11 13:17] kelson42 opened #546 "Kiwix Serve welcome page should allow to filter by popularity"
With 0 to 5 stars

[2021-04-12 09:59] mgautierfr commented on #487
No.

[2021-04-12 13:05] #478 closed

[2021-04-12 13:18] #462 closed

[2021-04-13 08:14] maneeshpm commented on #466
@mgautierfr Do you think we should go back to returning a 200 status code and let the client handle it based on the response we return?

[2021-04-13 10:23] kelson42 commented on #484
@veloman-yunkan Do you confirm that the description/title search is diacritics/case insensitive (like the title/ft search in libzim). Not doing this generates unexpected behaviour like reported here for example https://github.com/kiwix/kiwix-android/issues/2638.

[2021-04-13 10:43] gouri-panda commented on #484
@kelson42 In `kiwix-ios` it works well.

[2021-04-13 12:20] mgautierfr commented on #484
I don't think we have to preserve this.
As @kelson42 said, we don't have to be totally coherent with current version.

As far as I know (@kelson42 please confirm), kiwix-lib is used by kiwix-tools, kiwix-desktop, kiwix-android (through the jni wrapper) and maybe kiwix-ios/macos (I don't know, maybe they directly use libzim).

As far as those project are not broken (or updated), we are "good".
Movi

[2021-04-13 12:41] kelson42 commented on #484
@automactic Should confirm, but I believe Kiwix iOS downloads the whole OPDS stream (without any filtering) and parse/handle it on its own (without relying to the libkiwix).

[2021-04-13 18:47] veloman-yunkan commented on #484
I just checked and it is so only partly. The titles/descriptions stored in the search DB are normalized to lower case with diacritics removed. However the query string is not normalized. As a result the query string is case insensitive but diacritics sensitive.

[2021-04-13 18:49] kelson42 commented on #484
@veloman-yunkan Thx for checking. This is something you can fix in this PR or should I open an other ticket?

[2021-04-13 20:00] veloman-yunkan commented on #484
@kelson42 I already fixed it in this PR (see ded9d01, or its equivalent commit titled "Made catalog filtering by query diacritics insensitive" if I rebase the PR again).

[2021-04-16 09:40] veloman-yunkan opened #493 "openzim/libzim#524 broke the kiwix-lib build"
kiwix-lib build was [broken](https://github.com/kiwix/kiwix-build/actions/runs/750350632) by openzim/libzim#524 because of the changed public API (the method `get_url()` in `zim::search_iterator` was renamed to `get_path()`.

[2021-04-16 10:38] #493 closed

[2021-04-16 15:55] kelson42 commented on #467
@maneeshpm Do you still plan to upload a new version of the ZIM file?

[2021-04-16 18:53] maneeshpm commented on #467
@kelson42 Thanks for the reminder :+1:. I have opened a PR.

[2021-04-16 20:18] maneeshpm opened #496 "Kiwix-serve suggestion does not work from search results page"
When we type anything in the search box from the search results page, we do not get suggestions. This is probably because the request is generated using the wrong parameters.
[code]
As seen in the log, the generated url takes the `content` parameter from the search page url(localhost:8080/**search**?content="foo"&pattern="bar"), hence the `content` parameter is invalid.

[code]
As seen above, This

[2021-04-16 21:20] maneeshpm commented on #82
I was able to get the snippet by adding a new method `search_iterator::get_titleSnippet` to libzim. Seems like replacing the title string with snippet string does not guarantee rendering.
![Screenshot from 2021-04-17 02-44-08](https://user-images.githubusercontent.com/45821104/115084831-0d437e00-9f27-11eb-882a-80996e29e1fa.png)
@kelson42 Any idea how to get the HTML rendering sorted?

[2021-04-17 04:59] kelson42 commented on #82
@maneeshpm Great! Regarding the rendering, we had recently afew ticket fixed regarding this. @maneeshpm @veloman-yunkan an idea?

[2021-04-17 05:06] kelson42 commented on #496
I suspect a duplicate of https://github.com/kiwix/kiwix-tools/issues/446

[2021-04-17 14:42] maneeshpm commented on #82
@kelson42 I agree, not all systems can render HTML. I think we can just push the snippet [here](https://github.com/kiwix/kiwix-lib/blob/11db5dec4ea0d039b54ec593d2e9ad51ba33aff2/src/reader.cpp#L510) and handle the added string accordingly in `handle_suggest`. This way we can implement it in kiwix-serve, and leave it available(but optional) to be used in other clients as well.

[2021-04-17 14:44] kelson42 commented on #82
@maneeshpm Sounds good to me. For my information the `<b>` tags are added by Xapian or by the Libzim?

[2021-04-17 15:19] maneeshpm commented on #82
We are generating the snippet by a `Xapian::MSet::get_snippet` method. It adds the tags.

[2021-04-18 12:20] veloman-yunkan commented on #480
@kelson42 I can't make sense of this ticket probably because I am missing some background.

Can you please provide at least two examples in different clients?

[2021-04-18 12:29] veloman-yunkan commented on #82
It shouldn't be hard to handle it on both sides (front and back ends) of kiwix-serve. I concur that the keyword highlighting must be optional (and off by default).

[2021-04-18 14:09] kelson42 commented on #480
@veloman-yunkan Where is built the library.kiwix.org OPDS related URL with all the filter arguments?

[2021-04-18 16:08] veloman-yunkan commented on #480
This is what I found in kiwix-desktop [searching for 'catalog'](https://github.com/kiwix/kiwix-desktop/search?q=catalog): https://github.com/kiwix/kiwix-desktop/blob/1d8c556075df65999cbde690db7200b181f62df6/src/opdsrequestmanager.cpp#L10-L39

The same search in kiwix-android yields [empty results](https://github.com/kiwix/kiwix-android/search?q=catalog).

[2021-04-18 20:10] kelson42 commented on #480
@veloman-yunkan This is what I meant with this ticket, each port should not domits own code to build the URL. Libkiwix shoukd provide a primitive taking the filters and returning the URL string.

[2021-04-19 08:43] mgautierfr commented on #480
The idea here is to use kiwix-lib to fully encapsulate the opds catalog.
For now we have :
- Opds parsing/generation (generating a opds stream from a `Library` and the opposite).
- Handling of api' url on the server side (we can parse query and answer them).

What is missing is a handling of the urls on the client side. This need will become even more needed with all the changes on the (opds) api

[2021-04-19 08:51] mgautierfr commented on #82
The snippet generation is known to be slow, mainly because we need to load the content to be able to locate interesting part of the content and highlight words.
This is probably a issue only for full textsearch as we load the content from the zim file for all articles in the search page result.
For suggestion it is probably not so important as we load only the title from the xapian database or fro

[2021-04-19 11:08] maneeshpm commented on #82
@mgautierfr Yes, the fulltext snippets have that problem. I can confirm that issue is not there in title snippets, since we retrieve the value directly from Xapian. We can request snippets with a max length such that we get the entire title and avoid only getting its subset.

As you and @veloman-yunkan suggested, how shall we make it optional in kiwix serve? Where is it appropriate to add a switch

[2021-04-19 14:25] kelson42 commented on #82
@maneeshpm It should not be optional in Kiwix Serve (even it might be considered to keep the formating less string in the suggestion API for third party usages). It should be optional in libzim and libkiwix ABI.

[2021-04-19 15:17] veloman-yunkan commented on #82
@kelson42 I think it should be an an option of the kiwix-serve suggestion API (or the response of the `/suggest` endpoint should contain both plain-text and HTML snippet versions).

[2021-04-19 15:29] maneeshpm commented on #82
@veloman-yunkan The `label` parameter in the response json sounds like a good candidate for inserting snippets. I wonder if this would break any project that depends on this API. If that's the case, we can add a new parameter.

[2021-04-19 19:32] kelson42 commented on #82
@maneeshpm This sounds good indeed.

[2021-04-19 20:02] MananJethwani commented on #481
@kelson42 sure will start working on this.
P.S. - sorry for the late reply

[2021-04-20 15:13] #481 closed

[2021-04-21 05:04] kelson42 commented on #466
@mgautierfr ?

[2021-04-26 08:50] kelson42 commented on #480
Exactly

This is an interesting discussion and indeed a complex topic. But IMO we should open a new ticket. This ticket is only about generating the URL string, this is neither complex nor subject to a discussion IMO.

[2021-04-27 09:18] mgautierfr commented on #480
For now, the opds url is only root.xml or a search query.
I think we can have a function taking a `Filter` has argument. Then the filter could be use either locally on a existing library or to generate a url (to get a opds that can be parse to create a local library).

If we decide to change that when we design the whole system, it would be not difficult to do.

[2021-04-27 13:10] #484 closed

[2021-04-28 12:31] #487 closed

[2021-04-28 14:28] #467 closed

[2021-04-29 16:23] kelson42 commented on #107
@MananJethwani @mgautierfr This is a quite old ticket and wanted to ask if the new libzim/libkiwix API takes these remark in account?

[2021-04-29 16:25] kelson42 commented on #386
Want to do that now, before libkiwix10 release.

[2021-04-29 16:29] kelson42 commented on #242
@mgautierfr @maneeshpm I think this will be solved anyway by the new API?

[2021-04-29 16:31] kelson42 commented on #166
Somehow similar to #146

[2021-04-30 14:50] maneeshpm commented on #242
@kelson42 I don't think it is planned as of now, and I think this can be implemented irrespective of libzim. In kiwix-lib we request only 10 suggestions, so we get only 10. We can request the next 10 suggestions on the scroll event to implement this. The caching feature of new libzim API will be helpful.

[2021-04-30 15:11] kelson42 commented on #242
@maneeshpm Yes, but this is what this feature requests IMO: being able to progress freely via a window on the result vector. To the opposite of today where you give your limit, you get it and then this is over.

[2021-05-01 18:20] kelson42 commented on #82
@maneeshpm Would you be able to amke a PR before https://github.com/openzim/libzim/issues/542 is merged? Might take a bit and would be sad to be blocked because of latency in the review process.

[2021-05-01 18:23] maneeshpm commented on #82
@kelson42 Sure I can do that! it is a good idea 👍

[2021-05-02 04:08] kelson42 commented on #148
This ticket is pretty old but the need I guess is still here. It is time to refresh it.

I’m not supporting the idea that the current snippet approach is wrong. We have mainly solved the performance problem and it does what is should do, following the right technical approach. If the snippet would have to be improved, a ticket should be open at Xapian level first.

The need expressed here is diffe

[2021-05-02 04:11] kelson42 commented on #160
Duplicate of #479. Keeping the newest one as we have a bit more comments.

[2021-05-02 04:11] #160 closed

[2021-05-02 07:59] kelson42 commented on #480
@mgautierfr This ticket has been written with the search query in mind and agree with your last proposition. This is true that we might need an additional trivial method/api to get the root.xml URL if we want to be coherent.

[2021-05-03 08:56] kelson42 opened #500 "[REGRESSION] No (pattern) filter should provide everything"
This is a screenshot of Kiwix-Desktop 2.0.5
![image](https://user-images.githubusercontent.com/1029718/116857899-d72c1c80-abfd-11eb-8edd-1da5311f66d0.png)

This is how master HEAD (of everything) looks:
![image](https://user-images.githubusercontent.com/1029718/116858052-12c6e680-abfe-11eb-8790-f70b61fad864.png)

I believe the problem is the handling of filter with no values which give currently n

[2021-05-04 09:40] mgautierfr commented on #501
We could use `--follow-metalink=mem` (https://aria2.github.io/manual/en/html/aria2c.html#cmdoption-follow-metalink) to tell aria to not save the meta4 file.

[2021-05-04 09:42] kelson42 commented on #501
Sounds to be a top solution.

[2021-05-04 10:58] kelson42 commented on #501
I will try this.

[2021-05-04 11:52] #501 closed

[2021-05-04 12:59] mgautierfr commented on #242
The work is on kiwix-lib side, the new libzim search API will not solve the issue.

It will help for performance reason but it is already possible in libzim to query the range 10-20, 20-30 (that is what we do for fulltext search)

[2021-05-04 13:54] mgautierfr commented on #107
We can only know the index of the database used in multisearch from xapian.
We we create a Search on libzim side, we keep a reference to the archives to be able to get the article content from the right archive using this index.

We should easily be able (in libzim) to return the zim id from it to avoid the user to keep  keep track of the order zim files are added.
We will probably not add it in k

[2021-05-04 14:04] mgautierfr commented on #82
I wonder if we should make highlighting optional after all. The "snippet" will be the full title with queried term highlighted, if we don't have highlight, this is simply the title and it is easy to simple ask for it.

If we have this optional, it should be on kiwix-serve api to allow different kind of usage.

[2021-05-04 14:11] mgautierfr commented on #466
Yes, we should go back to 200. As the spec says, 204 is just "ok". But we want to display a empty page.

[2021-05-04 15:33] kelson42 commented on #82
@mgautierfr I don't want this customizable for the end user in kiwix-serve. If someone wants this I would recommend to open a new ticket. The json provides both (with highlight and without) and this is the most important.

[2021-05-06 19:11] MananJethwani opened #503 "Empty catalog/root.xml and catalog/search"
while starting my kiwix-server with
[code]
 and trying to access `http://localhost:8000/catalog/root.xml` and `http://localhost:8000/catalog/search`
 I received the following response.
![Screenshot from 2021-05-07 00-40-30](https://user-images.githubusercontent.com/50267986/117352658-de3c7e80-aecc-11eb-9fe0-6283886ef321.png)
![Screenshot from 2021-05-07 00-40-37](https://user-images.githubusercont

[2021-05-06 19:18] kelson42 commented on #503
Might be the same as #500

[2021-05-07 06:14] kelson42 commented on #82
@maneeshpm Any news for this ticket?

[2021-05-07 06:51] maneeshpm commented on #82
@kelson42 Will open a PR by the weekend. I have my last end sem exam tomorrow 😅

[2021-05-07 12:48] kelson42 opened #531 "Replace topbar and implement a few search filter on welcome page"
The topbar should be removed on the welcome page, it does not make so much sense there.

Over the list of books, the first following filters should be implemented:
* search (free text pattern)
* language (selectbox, for the moment just provide a few hardcoded languages)
* category (selectbox, for the moment hardcoded list like in kiwix-desktop)

[2021-05-07 19:12] veloman-yunkan commented on #503
This behaviour is months old. `/catalog/root.xml` and `/catalog/search` endpoints return only those books that have both local path (`.local(true)`) and remote URL (`.local(true)`) defined:

https://github.com/kiwix/kiwix-lib/blob/ab0ffb55bcbd7755867c6433838cc3ad3fd5d768/src/server/internalServer.cpp#L648

https://github.com/kiwix/kiwix-lib/blob/ab0ffb55bcbd7755867c6433838cc3ad3fd5d768/src/server/

[2021-05-08 04:40] kelson42 commented on #503
@MananJethwani So I wa wrong, you have to create a library.xml with kiwix-manage and set the url= attribute, then it should work.

[2021-05-08 04:40] #503 closed

[2021-05-08 05:38] kelson42 opened #514 "Load & display only a subset of the results on the welcome page"
If there is a lot of results, all of them shoukd neither be loaded nor displayed first. This would be too slow. Only the first subset should and the when user scrolls down, the rest shoukd piece by piece be loaded.

[2021-05-08 13:16] MananJethwani opened #504 "server crashes while requesting catalog search with start value greater than zim file count"
In a situation where I have 30 zimfiles in my kiwix-server and  I fetch fetch URL like
`http://localhost:8000/catalog/search?start=40&count=5`
the server crashed with a segmentation fault.

[2021-05-09 05:49] #466 closed

[2021-05-10 08:27] #500 closed

[2021-05-10 09:47] #504 closed

[2021-05-11 07:47] maneeshpm commented on #107
@mgautierfr Are you planning to add this in your new search API pr? If not, I have it already implemented for testing purposes and can open a pr.

[2021-05-11 14:36] rgaudin opened #533 "OPDS Icon is limited"
At the moment, most ZIM only include a `Favicon` metadata that is 48px squared due to the requirement in the spec and the fact that kiwix-serve has only ever displayed it.

Some ZIM don't respect it and include different resolution/form-factor.

With the ability to now use higher definition illustrations via the `Illustration` metadata, it's important those are used when available and pertinent. I

[2021-05-13 07:15] kelson42 commented on #107
@maneeshpm Now that you have built this part, feel free to make the libkiwix PR. Don’t wait too much.

[2021-05-13 07:19] maneeshpm commented on #107
@kelson42 Sounds good. I'll get started on that.

[2021-05-13 08:39] kelson42 commented on #358
I guess moving the JNI to kiwix/java-libkiwix will solve the problem.

[2021-05-13 08:45] veloman-yunkan opened #521 "Renaming `kiwix-lib` to `libkiwix` broke the CI."
See title

[2021-05-13 08:59] veloman-yunkan opened #523 "Adapt libkiwix to the new libzim search API"
openzim/libzim#530 breaks libkiwix build

[2021-05-13 09:10] #521 closed

[2021-05-13 20:49] IMayBeABitShy opened #524 "inject_root_link() is being called a bit overzealous"
Hello everyone,

I've encountered a bug for which I believe the way `inject_root_link()` is being called to be responsible for. See the following report for details.

# Observed behavior

I've created a ZIM file which includes 3rd party javascript files (`brython.js` and `brython_stdlib.js`). Strangely, loading `brython_stdlib.js` from the ZIM failed in a syntax error depending on which device ser

[2021-05-14 04:16] kelson42 commented on #524
@IMayBeABitShy Could you please give the full header like it is in the zim? the one you get from kiwix-serve? The HTML you expect? Your version of libkiwix?

[2021-05-14 10:12] IMayBeABitShy commented on #524
Oh, sorry I forgot to include that information:

It's a roughly 5 days old build from source. Note that this issue doesn't happen using the older `3.1.2-4` release from the website.

That's the problem: It's a javascript file that get's modified, not a HTML file. Basically, the javascript file contains a string with a HTML snippet. This HTML snipped gets modified, but the HTML attributes added by

[2021-05-14 12:56] kelson42 commented on #523
@mgautierfr Most urgent thing to do.

[2021-05-14 14:51] #524 closed

[2021-05-15 15:26] kelson42 commented on #480
@veloman-yunkan Are things clear now for implementation?

[2021-05-15 15:38] kelson42 commented on #496
@maneeshpm This is a regression which has probably been introduced recently, but impact is quite bad indeed. Do you think you could quickly fix it?

[2021-05-15 15:42] maneeshpm commented on #496
@kelson42 Since I have already spotted the problem and have a patch in mind. I will get started on it.

[2021-05-15 16:04] kelson42 commented on #496
@maneeshpm Thank you

[2021-05-15 19:49] veloman-yunkan commented on #480
@kelson42 I think so. I will submit a PR soon, and we'll see if I understood everything correctly.

[2021-05-17 06:38] maneeshpm commented on #496
@kelson42 Unlike search, suggestions does not work from the main page as well. But that is a different issue.

[2021-05-17 06:42] kelson42 commented on #496
@maneeshpm yes, this is conceived to be multizim and this does not work. But this taskbar will disappear from the welcome page this week, so no worry.

[2021-05-17 12:57] mgautierfr commented on #386
It would have been nice to prepare the work (at least check that everything is ok) before doing the actual change.

[2021-05-17 13:06] #523 closed

[2021-05-18 06:07] kelson42 commented on #430
@mgautierfr @veloman-yunkan @maneeshpm I believe this is important we do that in libkiwix10. But the strategy to do it and who will do what is unclear to me. Any hint?

[2021-05-18 08:10] mgautierfr commented on #430
The plan I see is the following:
1. Stop using the wrappers (`Reader`, `Entry`, `Searcher`, ....) in libkiwix itself. This step does not change the libkiwix API. It make libkiwix use libzim structures internally and provide the wrappers as a API only.
2. Extend the libkiwix API to returns libzim structure (the `Library`/`Book` will be able to return(/be constructed from) `zim::Archive`). This is a

[2021-05-18 09:56] kelson42 commented on #430
Already done https://github.com/kiwix/java-libkiwix. Just expecting someone moving the code and adapting CI+Kiwix-build to deal with it.

[2021-05-18 20:36] #496 closed

[2021-05-19 07:41] maneeshpm opened #532 "kiwix-search suggestion does not work in absence of Xapian index"
Currently, in the absence of a Ft index `Searcher::suggestion` does not work. This is because of the following:
- `Searcher::add_reader` does not add the reader if it does not have an ft index. For suggestion search, this is not important because we use the title index anyway. This `add_reader` logic needs to be changed.
- In the absence of Xapian index, zim index should be used ideally(using `zim

[2021-05-19 09:19] maneeshpm commented on #532
This will most probably get implemented in libzim. Refer discussion on kiwix/kiwix-tools#134 .

[2021-05-19 09:27] mgautierfr commented on #532
This issue should be moved in libzim as this is where we will implement it. (We will remove `Reader` and `Searcher` in libkiwix).

---

I'm not totally decided on this (@veloman-yunkan may have a better idea) but :

We probably should have a specific API for suggestions (as it is made in current libkiwix). This API may use xapian db if available and fallback to `iterByTitle`.
It should return "som

[2021-05-20 05:10] kelson42 commented on #533
@veloman-yunkan We really need that to get proper fancy catalogue. Does the libzim7 delivers what is necessary to extend here the OPDS?

[2021-05-20 05:11] kelson42 commented on #533
@rgaudin @mgautierfr After our discussion of last week, we probably need here - as well - a pixel depth indicator?

[2021-05-20 06:45] kelson42 commented on #532
/move openzim/libzim

[2021-05-20 06:45] #532 closed

[2021-05-20 16:47] kelson42 commented on #166
@maneeshpm Good to me.

[2021-05-20 17:20] maneeshpm commented on #430
@mgautierfr Are you already working on this one? If not, I can start on this(ofc with a lot of help initially :sweat_smile:). I feel like we should fix this ticket on priority as it will further help in solving #166 and #509.

[2021-05-21 13:49] mgautierfr commented on #430
You can start the first step yes (excluding jni part).

[2021-05-21 14:43] maneeshpm commented on #430
For now, I have identified the following subtasks in the first step.
- Dropping usage of wrappers from `InternalServer` completely
We can directly mirror the usage of `Reader` with `Archive` for most parts. But for others like `handle_search`, it gets much more interdependent on the subtask given below involving `SearchRenderer` and other libkiwix structures.

- `SearchRenderer`  should be able to

[2021-05-22 10:57] kelson42 commented on #386
JNI part has to be renamed as well. but this should be done at the time the migration to `kiwix/java-libkiwix` will be done. Kiwix-build has to be changed as well, but this is I guess another ticket?

[2021-05-23 09:22] veloman-yunkan commented on #533
@kelson42 Not at the moment. I [proposed an enhancement](https://github.com/openzim/libzim/pull/540#discussion_r630801469) earlier.

[2021-05-26 09:04] #82 closed

[2021-05-26 13:15] #107 closed

[2021-05-27 09:27] Popolechien commented on #513
Ran a config with 11 or so files:

[code]

Both Raspberry 3B+ and 4B will freeze after a couple of minutes and return a 504 error.

[2021-05-27 15:15] holta commented on #513
Just FYI 504 Gateway Timeout Errors are reminiscent of https://github.com/kiwix/kiwix-tools/issues/345 from a year ago?

[2021-05-28 08:00] kelson42 commented on #513
@holta We are looking currently to understand/fix #513 and #515

[2021-05-28 12:14] kelson42 commented on #386
Last part todo is moved to https://github.com/kiwix/kiwix-build/issues/486. Closing this ticket.

[2021-05-28 12:14] #386 closed

[2021-05-28 14:13] mgautierfr commented on #515
After investigation, there are several points :

The bug should appears with libzim 6.3.0 AND zim file using zstd compression.
We are compressing our content with level 22, which imply a windows (to search occurrences) of (1^27 Bytes, 128Mb). So at decompression level, we need to allocate such memory.
On top of that, libzim 6.3.0 do partial decompression. We do not decompress all the cluster but j

[2021-05-28 14:27] kelson42 commented on #515
Ping @veloman-yunkan in case you miss this discussion.

[2021-05-28 14:33] kelson42 commented on #515
@mgautierfr Thank you for the investigation and the analysis. Your two proposal look good to me. This should be quickly implemented and one time merged, we should backport them and release a libzim 6.3.1. We should as well quickly if this resolve as well #513

[2021-05-28 16:19] kelson42 commented on #515
@mgautierfr With the fix how many zim can beliaded in parallel in a RPI W Zero?

[2021-05-29 11:01] kelson42 commented on #512
@mgautierfr Might that be that this is an other symptom of the same problem like #515?

[2021-05-29 15:42] kelson42 commented on #369
@MananJethwani I would choose pretty much the same approach as the one used by @mgautierfr for the ZIM test files in  openzim/libzim. See https://github.com/openzim/libzim/pull/538/files.

[2021-05-29 18:13] kelson42 commented on #542
@mgautierfr Duplicate of #515 ?

[2021-06-03 14:28] mgautierfr commented on #542
Please test with binaries in http://tmp.kiwix.org/kiwix-tools_3.1.2-5/

[2021-06-03 14:28] mgautierfr commented on #515
Please test with binaries in http://tmp.kiwix.org/kiwix-tools_3.1.2-5/

[2021-06-03 14:28] mgautierfr commented on #513
Please test with binaries in http://tmp.kiwix.org/kiwix-tools_3.1.2-5/

[2021-06-03 14:47] kelson42 commented on #513
@wsteven-son let us know quickly - if possible - if it fixes your problem. We would like to make a release only with that fix.

[2021-06-03 14:49] kelson42 commented on #542
@Bahusson Let us know quickly - if possible - about the result of your test. We would like to make a new release only with this fix.

[2021-06-03 14:51] kelson42 commented on #515
@jamalex @MarkA80 @OscarL  Let us know quickly - if possible - about the result of your test. We would like to make a new release only with this fix.

[2021-06-03 14:52] kelson42 commented on #512
@OscarL Let us know quickly - if possible - if this fixes your problem. We would like to make a new release only with this fix ASAP.

[2021-06-03 22:10] jamalex commented on #515
I can confirm that `kiwix-tools_win-i686-3.1.2-5-rc1/kiwix-serve.exe` responds quickly and reliably, when I try it with the case I mentioned above that was previously hanging.

[2021-06-04 06:38] kelson42 commented on #515
@jamalex Thank you for testing again. An official new maintenance release of kiwix-tools will be done in the next days. Closing the ticket.

[2021-06-04 06:38] #515 closed

[2021-06-04 17:56] wsteven-son commented on #513
@kelson42 Working on building the system with identical parameters so that I can reproduce the bug. Once I reproduce I will test with kiwix-tools_3.1.2-5/

[2021-06-04 18:44] kelson42 commented on #513
@wsteven-son would be really better to just test the binary. Otherwise you will have to rebuild a special branch of libzim first.

[2021-06-04 19:46] OscarL commented on #512
Downloading the test binaries right now. Will report back as soon as possible!

[2021-06-04 19:49] wsteven-son commented on #513
@kelson42 Just test the binary for basic functionality?

[2021-06-04 19:51] kelson42 commented on #513
@wsteven-son test that you can not reproduce the bug you first reported.

[2021-06-04 19:55] wsteven-son commented on #513
gotcha, on it. Will report back

[2021-06-04 19:59] OscarL commented on #515
@kelson42: Just to add another data point (sorry for not replying sooner)... With the test binaries (from `kiwix-tools_win-i686-3.1.2-5-rc1.zip`), search using "contains..." works without getting stuck! Which means I'm now able to use this version (with newer .zim files!).

Thanks to all of you for your work. It is appreciated!

[2021-06-04 20:03] OscarL commented on #512
@kelson42: Alright... after abusing the dice button with several .zim files (sizes: small, medium, huge), the test binaries (from `kiwix-tools_win-i686-3.1.2-5-rc1.zip`) kept working without any negative side-effects!

Thanks to all of you for your work. It is really appreciated!

[2021-06-04 20:04] #512 closed

[2021-06-05 08:15] kelson42 commented on #395
@automactic Agree. There is:
* an change in the ABI to make this snippet retrival atomic
* a REST End-pint to build to allow kiwix-serve to retrieve them one by one (an in parallel)
* a bit of AJAX code to build in the kiwix-serve ft search result page.

@maneeshpm Does that make sense to you?

[2021-06-05 10:08] kelson42 opened #544 "Unable to build current master: error: ‘class zim::Archive’ has no member named ‘getFaviconEntry’"
[code]

[2021-06-05 10:09] kelson42 commented on #544
invalid

[2021-06-05 10:09] #544 closed

[2021-06-05 14:14] kelson42 commented on #518
Discussing about this feed with @Popolechien and @rgaudin, it appears that the feed should probably not offer categories for which there is no ZIM available. @veloman-yunkan This is already the case in your PR? Should I open a new ticket?

[2021-06-06 18:10] kelson42 opened #545 "Kiwix serve welcome page filter by content type"
Should propose this:
* with videos
* picture only
* text only

[2021-06-06 18:55] kelson42 commented on #513
@wsteven-son Any finding?

[2021-06-06 21:37] veloman-yunkan commented on #518
@kelson42 I don't think that we need another ticket for that.

[2021-06-07 10:21] holta opened #547 "Question: How to count the number of ZIM files (or query results) on kiwix-serve's new welcome page?"
What's the best way to count the number of ZIM files (query results) on the kiwix-serve welcome page?  That used to be straightforward to find out, by very rapidly loading the full page, and then counting (or at least guesstimating!) the number of ZIM files on that page.

But as a result of PR #534, the new kiwix-serve welcome page loads VERY slowly (as a result of AJAX-like incremental loading, a

[2021-06-07 10:44] holta opened #548 "PR #534 Question: How does one use Cross-ZIM Full-Text search?"
What's the best way to do Cross-ZIM Full-Text / FT search (across all installed ZIM files) after PR #534 is merged ?

Understandably, moving this lesser-used functionality from the top of kiwix-serve's welcome page (to a new location?) appears to be part of the design — as very slow searches are not the common case (nobody should expect offline searching across ZIM files to be fast as of 2021!)

B

[2021-06-07 10:59] holta commented on #519
Mass Market / commercial UI's often put very common "Quick Pick" languages on top of long drop-down / pop-up menus that ask you to pick among many languy.  e.g. highlighting EN/ES/FR at minimum...or sometimes a subset of 5-to-10 frequent languages, possibly including Portuguese/Chinese/Hindi/Arabic/Russian/Swahili?

With most all the other ~200 languages being buried down there in "alphabetical or

[2021-06-07 11:21] kelson42 commented on #547
@holta The machine readable library API is the OPDS feed, see https://wiki.kiwix.org/wiki/OPDS

[2021-06-07 12:42] kelson42 commented on #548
Multizim is broken for the moment, see #479.

[2021-06-07 13:35] #511 closed

[2021-06-07 13:46] #517 closed

[2021-06-07 13:46] #519 closed

[2021-06-07 13:46] #531 closed

[2021-06-07 13:48] #514 closed

[2021-06-07 13:49] mgautierfr opened #549 "Use svelte for our js code ?"
I've recently discovered [Svelte](https://svelte.dev/)
It is a framework to create UI in html/css/js.
In opposition to other framework (vue, react, jquery) svelte works at compilation time and generate output (css/js) only containing what we need and want.

Pro:
- No need to embed libraries (jquery, isotope (#534))
- Only what we need for fast loading
- High level way of programming (component, re

[2021-06-08 04:42] #548 closed

[2021-06-08 04:43] #547 closed

[2021-06-08 04:44] kelson42 commented on #533
@veloman-yunkan This has been implmented, but still in review. Any chance to get a libkiwix PR using this new API soon?

[2021-06-08 04:47] kelson42 commented on #144
@mgautierfr @veloman-yunkan @maneeshpm What is the status here? Do we at least know how it should be? How much work would be needed to fix the problem?

[2021-06-08 05:20] maneeshpm commented on #144
@kelson We recently took a step to change the libzim SearchIterator API to use camel case. IMO most of the API code if not all of it in libzim is in camel case, so we should try to do the same here.

I guess this is the right time to get decided on this one so that we can at least fix the libkiwix API with this scheme before the next major release.

[2021-06-08 05:31] maneeshpm commented on #395
@kelson42 Yes this sounds good and I agree that concurrently retrieving the snippets will definitely speed it up, but still we will be limited by the actual bottleneck that is snippet generation by `Xapian::MSet::snippet()`. In this, we currently have to read the data of the entry from the archive, parse it, and then pass it to the above method which finally generates a snippet. All of this happen

[2021-06-08 05:42] kelson42 commented on #395
@maneeshpm A decision has been made years ago to not store snippets in the Xapian index. There is no plan, on my side at least, to come back on this. Given this information, does this ticket still depends on an other one? If "yes", which one?

[2021-06-08 06:00] maneeshpm commented on #395
@kelson42 Aah my bad, I was talking about #148 but we have changed its objective now so doesn't concern this ticket. I don't think there are any other dependencies.

[2021-06-08 18:01] #518 closed

[2021-06-08 18:06] kelson42 commented on #542
Seems to be fixed told me @mgautierfr

[2021-06-08 18:06] #542 closed

[2021-06-08 18:07] kelson42 commented on #513
Seems to be fixed told with latest libzim told me @mgautierfr.

[2021-06-08 18:07] #513 closed

[2021-06-09 22:39] eroyee opened #551 "Kiwix-serve 3.1.2-5-rc1, memory error on RPi"
I was having issues with kiwix-serve becoming unresponsive and holding 1 core of my Pi at ~100% per #513

I downloaded kiwix-tools_linux-armhf-3.1.2-5-rc1.tar.gz and trialled that version of kiwix-serve.

While the original issue appears resolved I get a memory error after several clicks of the dice and the system becomes unresponsive. When this first occurred it eventually returned to operation w

[2021-06-09 22:54] eroyee opened #552 "Kiwix-serve, simplify specifying of multiple .zim files on the run command"
A feature suggestion:

When running kiwix-serve for multiple .zim files in a single directory it would be useful to be able to simply specify something like path+to+directory/(*.zim) rather than have to specify each individual path+file as part of the run command.

This feature would be further enhanced if kiwix-serve periodically checked the directory contents and updated the landing page with li

[2021-06-09 23:35] eroyee commented on #551
After a further trial I find myself unable to replicate the issue.

Unfortunately it's not a high-use site and I can only intermittently test it, however I'll leave the note here for a couple of days and if it continues to operate ok will close the ticket.

[2021-06-10 00:01] eroyee commented on #551
Several more trials and the issue returns.

I've now specified 8 threads as I wanted to see if it helped (answer, maybe slightly :-/) but I seem to be able to reliably replicate the problem if I open up wikipedia, look at some entries (Lewis Carroll say), open further references in other tabs, close them, then click on the dice several times, then up to landing page and into another library or two

[2021-06-10 04:34] kelson42 commented on #552
Alreqdy works like you describe and with the globbing, see https://linuxhint.com/bash_globbing_tutorial/.

[2021-06-10 04:34] #552 closed

[2021-06-10 05:16] kelson42 commented on #551
@eroyee Please confirm the problem is still there with latest 3.2.2-5 released yesterday and latest nightly as well.

[2021-06-10 05:18] kelson42 commented on #551
@mgautierfr This ticket looks like a duplicate of #512 which has been tested and closed... Does that mean we are not able to reproduce that bug?

[2021-06-10 08:27] mgautierfr commented on #551
This is the same problem. But we cannot really fix it (at least not more than now).

The root issue is that we have created "wrong" zim files which need a 128Mb buffer **per cluster** when we decompress it.
And as we do partial compression, we store the decompression context in cache along with our clusters.
By default, we store 16 cluster in cache per zim.

This huge memory is not really use (so

[2021-06-10 10:52] eroyee commented on #551
@kelson42 I just trialled today's release (3.1.2-5).

Eventually I got the same error (see below), but it seemed to take longer to occur - although I can't be definite about that as I've only had time to do limited testing. It's late now but I'm happy to trial further tomorrow night if that's of use?

However from @mgautierfr comment (a good explanation BTW, thanks) there may not be much point in

[2021-06-10 12:46] mgautierfr commented on #551
The release process was buggy, I've just published a new archive : http://download.openzim.org/release/zim-tools/zim-tools_linux-x86_64-2.1.0-2.tar.gz

[2021-06-10 17:54] kelson42 commented on #551
Considering that there is nothing more we can do, i will close this ticket.

[2021-06-10 17:54] #551 closed

[2021-06-12 07:16] eroyee commented on #551
@kelson @mgautierfr

I converted four 'old' .zim files using zimrecreate (without option) and
trialled them. These were:

engineering.stackexchange 553.7MB
physics.stackexchange 3.6GB
wiktionary_en_all_maxi 6.1GB
latin.stackexchange 80.6MB

The PC is still chewing away with wikipedia_en_all_maxi, at this rate
it'll be a few days.

In my previous tests I'd first used wikipedia, then random other li

[2021-06-12 07:25] kelson42 commented on #551
@eroyee Can yuou pleade create an other ticket for that please?

[2021-06-12 08:44] eroyee opened #554 "Kiwix-serve 3.1.2-5, RPi, server error after a number of dice clicks + top-level searches"
After #551 I converted four 'old' .zim files using zimrecreate (without option) and trialled them. These were:

engineering.stackexchange 553.7MB
physics.stackexchange 3.6GB
wiktionary_en_all_maxi 6.1GB
latin.stackexchange 80.6MB

The PC is still chewing away with wikipedia_en_all_maxi, at this rate it'll be a few days.

In my previous tests I'd first used wikipedia, then random other libraries.

[2021-06-12 08:46] eroyee commented on #551
Done, see #554

[2021-06-13 08:47] kelson42 opened #555 "Use language/category API to populate Kiwix Serve filter select boxes"
@veloman-yunkan has implemented category and language API end points, see:
* language: https://github.com/kiwix/libkiwix/pull/553
* category: https://github.com/kiwix/libkiwix/pull/492

Current Kiwix Serve filter select boxes choces are hardcoded, we should use the newly created end-points to:
* Avoid code duplication
* Provide less useless choices (the end points provide values matching ZIM files

[2021-06-13 09:17] kelson42 commented on #209
I believe it is time to update this ticket because we are going to implement it soon. It is important that the OPDS API is optimized for better response times and smaller data amount transfered.

First point to notice IMO is that the the `root.xml` and the `search` end-points have been merged in the v2 of the OPDS API. This has been done, considering delivering all the data is only a special case

[2021-06-15 06:36] eroyee commented on #554
Following up on this from some testing just now.

Having noted that the errors seemed to always return an 'lzma' message I recreated the files using zstd compression and removed the previous set.

At this point I've not been able to replicate the issue, which may narrow the focus a little. However I'd like to carry on some further testing before reaching a firm conclusion on this.

I'm also in the

[2021-06-15 09:22] mgautierfr commented on #554
Thank for the report. Hope than using zstd will fix you problem.

However, there is still a bug here. lzma should work correctly. If we have lzma error while decompressing we have to investigate this.

[2021-06-15 12:31] mgautierfr commented on #209
v1 will not be changed. (But maybe removed at a certain time).

ODPS speak about complete acquisition feeds : https://specs.opds.io/opds-1.2#25-complete-acquisition-feeds
We should follow the spec here.

[2021-06-15 21:28] eroyee commented on #554
@mgautierfr No worries, it's not a personal issue here - just trying to
provide as much detail as I can in order to contribute meaningfully.

I'm not sure what implementation of lmza kiwix uses but I was interested
to read this rather scathing article...:

http://www.nongnu.org/lzip/xz_inadequate.html

Also, my development machine has finished the wikipedia_en_all_maxi
conversion - 82GB (presumabl

[2021-06-16 04:12] kelson42 commented on #554
Good to know the problem is fixed with zstd. Considering that lzma compression is deprecated And that we have been living with this big for years, I believe we should close this ticket as WONTFIX.

[2021-06-16 05:08] eroyee commented on #554
A small suggestion if you do this.

Would it be useful to have zimrecreate (and maybe other tools?) default
to zstd and require a switch to use lzma, rather than the other way
around as it is presently?

On 16/06/21 4:13 pm, Kelson wrote:

[2021-06-16 05:10] kelson42 commented on #554
@eroyee yes, create a ticket. Wonder a bit why this is not the case already.

[2021-06-17 04:50] kelson42 commented on #554
@eroyee thx

[2021-06-17 04:50] #554 closed

[2021-06-17 07:59] #516 closed

[2021-06-17 08:21] kelson42 opened #557 "Kiwix Serve filters on welcome page should be kept"
Steps:
* Choose a few filters
* Click on a content and surf
* Comeback to the homepage

I get:
* The default filter

I want:
* The filters like I left them

[2021-06-17 08:27] MananJethwani commented on #557
@kelson42 should I use local storage for this feature? Or any better way you have in mind

[2021-06-17 08:41] kelson42 commented on #557
@MananJethwani No, cookies please. Take care that the URL is always in sync.

[2021-06-17 13:24] kelson42 commented on #533
The code is now in libzim master.

[2021-06-17 17:11] kelson42 opened #558 "Libkiwix does not compile anymore"
After new illustration API has been introduced on libzim.

[2021-06-18 01:54] MananJethwani commented on #557
will create a separate PR soon

[2021-06-19 11:15] #558 closed

[2021-06-21 15:52] rgaudin commented on #394
Just documenting another annoyance of the current toolbar : whenever you use an anchor, the content that is being anchored is usually partially hidden behind the bar.

<img width="874" alt="Screen Shot 2021-06-21 at 15 48 39" src="https://user-images.githubusercontent.com/57929/122791143-81dcc500-d2a8-11eb-8ae2-d7af77564ce1.png">

<img width="877" alt="Screen Shot 2021-06-21 at 15 48 58" src="http

[2021-06-24 13:54] mgautierfr opened #564 "Do not expose mustache (and other depedency/tools) in public headers."
The public header otherTools.h include mustache.h (https://github.com/kiwix/libkiwix/blob/master/include/tools/otherTools.h#L27).
By doing thing, we defacto make mustache a direct dependency of projects using libkiwix.
If somehow `otherTools.h` is include by a project foo. The mustache header must be present even if foo never use mustache.
This is what happen here https://github.com/kiwix/kiwix-de

[2021-06-25 06:05] #557 closed

[2021-06-25 09:23] mgautierfr opened #565 "[SERVER] Do not use query to convey the filters of the main page."
The main page of the server now have a filter feature.

Of course we need to "expose" the filters in the url. This allow the user to copy/paste the url and keep the applied filter.

But the querystring (the string after `?`) is part of the url send to the server. It means that urls `library.kiwix.org`, `library.kiwix.org?lang=foo` and `library.kiwix.org?lang=bar` are three different urls, browser

[2021-06-25 11:15] kelson42 commented on #565
@mgautierfr Wich concrete problem does this ticket proposes to fix?

[2021-06-25 12:47] kelson42 opened #566 "New/Update Illustration API"

[2021-06-28 09:58] kelson42 opened #571 "Kiwix Serve welcome page title should be customizable"

[2021-06-28 09:59] kelson42 commented on #571
Probably this should be done via allowing a custom template for the home page!?

[2021-06-28 10:27] kelson42 opened #572 "We should think about a filter by tags for Kiwix Serve Welcome page"
By clicking on a tag (within a tile), only the tiles with that tag should be displayed.

[2021-06-28 10:57] kelson42 opened #573 "How to make a search on tags? Same question about filter by tags?"
With a "search", I mean not only search on title, description but in tags as well.

For the filter, it would be: given a tag, list all content having it.

See #572

[2021-06-28 17:00] legoktm commented on #564
In the Debian package we currently depend on:
[code]
since those are exposed as part of the public API. These are also listed in kiwix.pc.

[2021-06-30 16:09] mgautierfr commented on #573
What are you speaking about ?

- the cpp api,
- the opds api,
- the search on the front page server ?

[2021-06-30 16:14] mgautierfr commented on #571
Related to https://github.com/kiwix/kiwix-tools/issues/17

[2021-06-30 16:21] mgautierfr commented on #566
Is this fix by https://github.com/kiwix/libkiwix/pull/560 or you expect something else ?

[2021-06-30 18:06] kelson42 commented on #573
Sorry was indeed umclear, I meant from the API.

[2021-06-30 19:35] #480 closed

[2021-06-30 19:39] kelson42 commented on #566
@mgautierfr I don't think so, we need to expose the ability in the libkiwix to get the list of illustration, choose an illusatrion by width x height x pixel depth. Or is that already made? Or does something additional is not needed at all (user should use libzim classes directly)?

[2021-07-01 07:02] veloman-yunkan commented on #573
@kelson42 Which API - C++ or OPDS?

[2021-07-01 18:45] kelson42 commented on #573
the rest api

[2021-07-05 19:21] veloman-yunkan commented on #533
@kelson42 @mgautierfr In order to test the fix for this enhancement I will need a ZIM file with multiple illustration entries. How do I create one?

[2021-07-06 06:43] kelson42 commented on #533
@veloman-yunkan @mgautierfr There should be already one in the https://github.com/openzim/zim-testing-suite ?! I remember we had to make a new release there before merging the Illustration related PR at openzim/libzim.

[2021-07-06 13:17] mgautierfr commented on #533
Not with several illustration entries.

Clone openzim/zim-testing-suite, modify the data/scripts, regenerate the zim files, commit everything and make a PR.
There is no automated process for now.

[2021-07-07 10:04] mgautierfr commented on #566
We plan to remove the `Reader` wrapper from libkiwix. So on cpp side it is a bit counter productive to add a method to a class we will remove just after.
But we want to update the OPDS stream to list the different sizes and allow the kiwix-serve to serve the illustration (#577)

[2021-07-07 10:24] kelson42 commented on #566
So do we need to have this ticket to secure that @automactic will be able to retrieve many illustrations?

[2021-07-07 12:29] mgautierfr commented on #566
As we will drop the reader wrapper (#430) @automactic is better to start directly use the libzim API.

[2021-07-07 12:48] #566 closed

[2021-07-07 14:13] mgautierfr commented on #565
The three requests will be sent to the server which will return exactly the same content as the filtering is made of the client side.

[2021-07-07 16:00] #564 closed

[2021-07-07 19:45] veloman-yunkan commented on #533
But is there a tool that can create a ZIM file with several illustration entries? Or a workaround?

[2021-07-07 20:13] rgaudin commented on #533
just call addIllustration() multiple times with different sizes

[2021-07-08 10:56] kelson42 opened #579 "Kiwix Serve welcome page Download overlay"
To propose, based on the metalink XML:
*  Magnet links
* Hashes
* Bittorrent links
* Usual HTTP download link

This should be displayed if metalink is available and if someone clicks on a tile download button.

The parsing of the metalink file should be smart, ie. we download/parse only the part of interset in the XML and then stops. We are not interested in all the hashes.

[2021-07-08 11:14] MananJethwani commented on #579
@kelson42 we can have a modal pop up when someone clicks the download button  where we can show these multiple links....would be much cleaner

[2021-07-08 11:24] kelson42 commented on #579
@MananJethwani yes, this is what I mean I believe.

[2021-07-08 16:40] rgaudin opened #580 "Limited to 48x illustration"
With the new libzim Illustration API, we are now able to produce multi-illustration ZIMs.

Currently, when retrieving the Illustration (still called favicon here), we only fetch the default (thus `48`) version, whatever is available in the ZIM.

https://github.com/kiwix/libkiwix/blob/60f0f81286dc1364369d818b2acc18d8fc7f178a/src/tools/archiveTools.cpp#L72-L82

In the past, with the old `-/favicon`

[2021-07-08 17:09] kelson42 commented on #580
I don't think we put larger favicon in the ZIM files. The openZIM specs says it has/had to be 48x48. Therefore I believe I don't understand this ticket.

[2021-07-08 17:14] rgaudin commented on #580
I think you understand the ticket 😀

I just want us to agree that either we continue not respecting the spec (in a more flagrant manner) or we decrease rendered quality of icons in this case.

Additional possibility is to implement a smarter `getArchiveFavicon()` in libkiwix.

[2021-07-08 17:20] kelson42 commented on #580
We should definitly respect the spec.

[2021-07-08 17:21] #580 closed

[2021-07-08 17:31] rgaudin opened #581 "getArchiveFavicon not returning Illustration"
This is very new so it might be a mistake on my hand but I created Zim files with either a single `48` Illustration or multiple illustrations and in all those cases, kiwix-serve returns nothing for the `/meta&name=favicon`.

Could some else please test it and maybe confirm?

[2021-07-08 17:55] kelson42 commented on #581
@rgaudin Can you maybe provide a test zim?

[2021-07-08 18:00] rgaudin commented on #581
My bad, I typed `2021-06-07` instead of `2021-07-07` in my script and got a month-old build !

Sorry about that.

[2021-07-08 18:00] #581 closed

[2021-07-08 18:01] rgaudin commented on #581
Works

[2021-07-09 04:28] maneeshpm commented on #509
@mgautierfr Now that we have a better idea of how the API in libzim is going to look like, we can start formalising the caching mechanism here.
To me, it seems like we will be storing 3 different caches:
- `zim::Searcher` for full text db
- `zim::Search` for full text search
- `zim::SuggestionSearcher` for title db. We might want a cache for `zim::SuggestionSearch` which will help to develop #242

[2021-07-09 05:25] maneeshpm commented on #166
@kelson42 With the merge of #536 we now have exposed `zim::SearchIterator` to libkiwix and already using it in places like [search_renderer](https://github.com/kiwix/libkiwix/blob/60f0f81286dc1364369d818b2acc18d8fc7f178a/src/search_renderer.cpp#L85) and [internal_server](https://github.com/kiwix/libkiwix/blob/60f0f81286dc1364369d818b2acc18d8fc7f178a/src/server/internalServer.cpp#L347). I believe t

[2021-07-09 05:28] kelson42 commented on #109
This is more a request for the libzim than for libkiwix IMO. It is related to the global metadata problematic.

[2021-07-09 05:28] kelson42 commented on #109
/move openzim/libzim

[2021-07-09 05:28] #109 closed

[2021-07-09 05:33] #166 closed

[2021-07-09 12:45] mgautierfr commented on #580
We should respect the spec yes.
But maybe the spec also have to be adapted. Why the 48px size ? If we were putting higher res icon since a long time maybe 48x48 is too small.

[2021-07-10 05:18] kelson42 commented on #520
So many things have been changed recently that I woukd like to wait 10.0.0 to look again if the problem still occur.

[2021-07-10 05:20] kelson42 commented on #573
@veloman-yunkan any feedback here?

[2021-07-10 15:50] veloman-yunkan commented on #573
@kelson42 For the OPDS catalog API v2, the following query does the job:

[code]

Tags with values (those of the form *tagname:tagvalue*, e.g `_pictures:no`, `_category:youtube`) aren't handled correctly when the value of the tag is specified along with the name of the tag, but that shouldn't be difficult to fix.

Regarding the title of this issue - what's the difference between searching and filt

[2021-07-11 10:34] kelson42 commented on #573
@veloman-yunkan Thx for the answer on the filter part. The search part is when someone makes a free text search for example by typing "science" in kiwix serve welcome page search box. Currently it searches this pattern in the titles, descriptions (and I believe filenames). I ask myself if it would not be a good idea to search this pattern in the zim tags as well? If this is already done or somehow

[2021-07-11 10:37] kelson42 opened #582 "Add ability to filter by tags in Kiwix-serve welcome page"
It is possible via /catalog/v2/entries?q=tag:tagname but the exact workflow is still to be decided.

What is sure is that each displayed tag should be a link to allow a filter by tag.

But we probably don't want an additonal tag filter select box (and I would not know how to populate it anyway).

[2021-07-11 18:57] Popolechien commented on #582
@kelson42 I'm seeing the advisory board on Friday and several of them would have meaningful input there. My only question is: would these tags be included at CMS-level (ie later this year), or when creating the recipe (e.g. zimfarm, where there is a "tag" entry, which we could then deploy fairly soon)?

[2021-07-11 19:24] kelson42 commented on #582
@Popolechien Tags are ZIM metadata. As such are part of the ZIM specs, handled at the scraper level, part of the ZIM file. But like all other ZIM metadata, it will be possible to overwrite then with the CMS.... when this one will be ready.

[2021-07-11 20:59] MananJethwani commented on #582
@kelson42 we can have a dropdown in search bar only where as soon as a user clicks to type they get a  suggestion -> `search by tags <highlighted>tags:<highlighted>`
and if the user selects this option we will automatically add `tags:` to the search bar.

[2021-07-12 04:21] kelson42 commented on #572
Duplicate of #582

[2021-07-12 04:21] #572 closed

[2021-07-13 12:42] kelson42 opened #585 "kiwix-serve (ZIM?) should propose widgets"
_From @kelson42 on June 19, 2016 15:28_

People using kiwix-serve within integrated solution like Rachel, XSCE, Ideascube use it with other content coming from other sources. They need at some point to add a menu entry to point to that content. It might be interesting for kiwix-serve to propose an easy to integrate widget to make their life easier. This widget beside describing the content would f

[2021-07-13 12:52] kelson42 commented on #586
@MananJethwani I think, once the multizim works, this would be the ultimate ticket to implement.

[2021-07-13 14:47] #579 closed

[2021-07-13 14:49] kelson42 commented on #546
Depends on #489

[2021-07-14 09:31] veloman-yunkan commented on #533
This is not acceptable as long it requires a custom build of `zimwriterfs` . Test data must be created in a reproducible way.

[2021-07-14 09:50] rgaudin commented on #533
Hum, I think I understand what your problem is here ; please confirm:
- libkiwix is not using the new test files repo.
- most tests zims from this repo are not reproducible. There are present, but we don't have the source code which created them.
- Only `corner_cases.zim` is reproducible (`create_corner_cases_zim_file` shell script)
- `corner_cases.zim` is built using zimwriterfs at the moment so

[2021-07-16 14:43] maneeshpm commented on #479
@kelson42 we can say as a fact that once a Xapian database is ready, search on it is quick(even on huge Xapian DB) and that is something we cannot improve on our side. Now our main concern is *how to make the DB ready first time* and *how to keep it ready for further searches*.

Answer to *how to keep it ready* is caching, which we have already started looking into in #509

Answering *how to make

[2021-07-16 14:55] maneeshpm commented on #108
@mgautierfr This is something we have to think about before dropping `kiwix::Searcher`. Naturally once we drop the wrapper, we will switch to use `zim::Searcher` in all the projects. But is there an API in libzim that lets the user add a new Archive to the searcher once a `zim::Searcher` object is created? Is `Searcher::add_reader` equivalent even necessary in `zim::Searcher`?

[2021-07-16 15:59] kelson42 commented on #479
The topic of the cold start is already touched in https://github.com/openzim/libzim/issues/418. I would keep this topic outside this ticket. That said I still believe that if kiwix-serve has 2000 zim files open, then a multizim search won't give an answer in a reasonable time and memory consumption. This is IMO mostly what this ticket is about.

[2021-07-21 17:16] rgaudin opened #588 "Kiwix-serve random end-point missing under certain condition"
Clicking the random dice returns `/random?content=3dprinting_stackexchange_com_2021-07`-like URL which raises the standard libkiwix 404 Error page

<img width="440" alt="Screen Shot 2021-07-21 at 17 14 09" src="https://user-images.githubusercontent.com/57929/126531113-250d5787-ec36-4172-ae70-1c8abf0408f9.png">

This is from `2021-07-21` nightly of kiwix-tools and was already present in the nightly

[2021-07-22 05:01] kelson42 commented on #588
@veloman-yunkan Any clue why this end-point seems to have disappear?

[2021-07-24 06:07] maneeshpm commented on #242
@kelson42 Do you think we should change the context of the ticket to what @mgautierfr and I have mentioned, that is enabling the feature to get suggestions within a range like 10-20 on libkiwix side and proceed accordingly?

[2021-07-24 10:45] veloman-yunkan commented on #588
@rgaudin Cannot reproduce this issue. Please provide a test case.

[2021-07-24 10:50] veloman-yunkan opened #589 "Kiwix-serve welcome page doesn't account for --urlRootLocation"
When kiwix-serve is started with the `--urlRootLocation` option, the welcome page is broken:

1. Icons in the book tiles cannot be loaded
2. The preview link is incorrect

[2021-07-24 13:16] kelson42 commented on #589
@MananJethwani Can younplease have a look? I suspect that this regression has been introduced recently with your work around new welcome page.

[2021-07-24 13:34] rgaudin commented on #588
@veloman-yunkan thanks for this reply. I realize now it happens only on new sotoki zim files such as [this one](http://tmp.kiwix.org/beer_stackexchange_com_2021-07__nobase.zim).

Could it be because we lack hints in pylibzim and none of our entries are marked as FRONT_ARTICLE ? Or maybe it's related to https://github.com/openzim/libzim/issues/590 ?

[2021-07-24 13:36] MananJethwani commented on #589
working on it

[2021-07-24 13:40] kelson42 commented on #588
@rgaudin Hmmm, similar? Duplicate of https://github.com/openzim/warc2zim/issues/37 ?

[2021-07-24 13:43] rgaudin commented on #588
Root cause is probably the same but there's definitely a bug here. Either we fallback to elsewhere (mainPath?) or a dedicated error message must be shown.

[2021-07-24 13:56] veloman-yunkan commented on #588
@rgaudin This is a very likely reason - `zim::Archive::getRandomEntry()` picks up an item from the front entry list: https://github.com/openzim/libzim/blob/20c0e3019c97f367acb0ba3c86f9dcd04ca44e77/src/archive.cpp#L255-L272

For ZIM archives created by new libzim the front entry list is stored in `X/listing/titleOrdered/v1` which remains empty. So *not using hints* is probably the actual problem be

[2021-07-25 06:59] #589 closed

[2021-07-25 07:16] kelson42 commented on #242
@maneeshpm "yes" please do what you think is appropriate.

[2021-07-25 07:24] maneeshpm commented on #242
Done, Thanks :smile:

[2021-07-25 08:00] kelson42 commented on #479
Here is how I would propose to proceed. First of all this is a quite lartge ticket, so I would first propose to split it in following tasks:
* Multizim search ABI design should be agreed/confirmed, automated tests should be written to test it.
* High load situation should be discussed and a solution should be provided to (1) allow users to get proper feedback in reasonable amount of time (2) avoid

[2021-07-27 15:58] mgautierfr opened #592 "Fix test (if accurate) after change in libzim getTitle."
The last Pr in libzim (openzim/libzim#586) make the function `getTitle` return case sensitive title.
The unit test on libkiwix side must be corrected.
Please check first this is the real cause and not a introduced bug.

See https://github.com/kiwix/kiwix-build/pull/494/checks?check_run_id=3172877949

[2021-07-28 13:22] maneeshpm commented on #592
@mgautierfr  According to the test report, the failed CI is due to a failed unit test on libzim side.
see https://github.com/kiwix/kiwix-build/runs/3172877949?check_suite_focus=true#step:6:208

It's a bit strange since even on the newer PRs on both libzim and libkiwix all the CI are passing. We have to confirm if this issue is specifically with kiwix-build(specifically on that build system).

[2021-07-29 09:39] rgaudin opened #594 "Smarter default filter"
On first visit of kiwix-serve, the language filter is set to the language of the browser.

I think most frequently than not, the library might not have any content for that filter, offering a deceptive first contact.

Ideally, if the library has no content for that browser language, it should fallback to no language filter.

Cookie behavior is fine IMO.

[2021-07-29 11:52] kelson42 commented on #594
@Migh be a good idea that if no content in browserlanguage, then just don't apply any language filter

[2021-07-29 17:47] maneeshpm opened #595 "Improper usage of `Searcher::getResults(start, end)`"
Following openzim/libzim#596, we have some fixes to make in the internal server

eg. We always calculate end = start + pageLength, and then call getResults(start, end). But it should rather be getResults(start, pageLength)

[2021-07-31 09:21] kelson42 opened #598 "All Kiwix Serve API end-points should serve HTTP responses with ETAG"
To the opposite to content request, it seems Kiwix Serve does not serve HTTP responses with ETAG:
[code]

Therefore, no API request is cached and this seems not optimal to me. I propose to have them served with an ETAG, so the HTTP client get a chance to make the appropriate HTTP request to save bandwidth/waiting time. Actually the whole HTTP workflow around ETAG should be supported, see https://d

[2021-07-31 11:38] veloman-yunkan commented on #598
@kelson42 Kiwix server search results are (going to be) more volatile than individual items from served ZIM archives. ZIM archives typically should not change for a running server, while we have a [ticket](https://github.com/kiwix/kiwix-tools/issues/243) for updating the library without restarting the server. What TTL do you propose for responses to search results?

[2021-07-31 13:22] kelson42 commented on #598
@veloman-yunkan Here is how I see things, and I hope this is correct.

An ETAG is not a TTL or cache expiration value. The ETAGs should be just be a random string indicating if the (requested) content has changed until last time the (very same) request has been done. AFAIK usually this is handled transparently by the browser (component).

Therefore, the only one question left IMO is how many ETAGs

[2021-07-31 16:43] kelson42 commented on #555
@MananJethwani Would you be able to implement this ticket now that #553 seems (almost) ready?

[2021-07-31 16:53] kelson42 commented on #573
@veloman-yunkan I have thought twice (and even more) and I would like - if nobody opposes - to include tags in the "free text" search (which currently searches "only" in title, description and filename). Would you be able to do that?

[2021-07-31 21:05] kelson42 commented on #594
@rgaudin Please have a look and let us know if this looks good to you.

[2021-07-31 21:24] #594 closed

[2021-08-01 06:00] veloman-yunkan commented on #598
@kelson42 For an ETAG to make any difference the content must be cached. If a response contains an `Etag` header but also says `Cache-Control: no-cache, no-store, must-revalidate` (like it currently does for search requests) then the client cannot take advantage of the etag if it respects the `Cache-Control` header and doesn't cache the content. On the other hand, taking etags into account is not

[2021-08-01 06:32] kelson42 commented on #598
@veloman-yunkan Agree, wee need to change the `cache-control` header as well if we want our etag fix to be effective. Concerning that point, I have been pretty much puzzled by https://github.com/openzim/warc2zim/issues/66 and what we should do at the Kiwix Serve level. Now, I believe that we should at least reduce the overall cache TTL from one month to 24h.

[2021-08-01 06:35] veloman-yunkan commented on #573
@kelson42 This needs a clarification.

1. In the currently released version of libkiwix (which presently runs at https://library.kiwix.org), the search on the welcome page works via the `/search` endpoint (which returns a complete HTML page with search results).
2. In the rehauled/master version of libkiwix, the search on the welcome page works via the `/catalog/search` endpoint which returns an O

[2021-08-03 10:26] #584 closed

[2021-08-03 10:55] kelson42 commented on #555
No blocker anymore to implement this as all the depending PRs have been merged now.

[2021-08-03 10:57] kelson42 commented on #588
Reassigning to @mgautierfr because he is going to fix the bug (python-)libzim

[2021-08-03 12:50] mgautierfr commented on #573
This is two different searches. The first one is fulltext search returning articles. The second is a search of zim files themselves.

I'm not opposed to that but it should be done carefully.
We don't want to search in "hidden" tags (`video:yes`). We don't want to return all zim files when user searches for "Video" or "yes".

[2021-08-03 12:59] kelson42 commented on #573
Thx @mgautierfr for your last comment, it summarizes my opinion of the moment. I will close this ticket as the primary questioning is answered and will open a new ticket to integrate tags to search... a ticket we could keep a bit open before inplementing to let the idea maturing properly.

[2021-08-03 13:21] kelson42 opened #599 "Integrate tags to free text library search"
Following #573, it appears that we would benefit to add tags to the free text search which already includes:
* filename
* title
* description

This would allow more accurate results. That said, we should be carefull to not integrate hidden tags to this search.

[2021-08-03 13:21] #573 closed

[2021-08-03 13:52] kelson42 commented on #209
@veloman-yunkan Any progress on this?

[2021-08-03 13:54] kelson42 commented on #592
@mgautierfr @maneeshpm So, this ticket should but just closed as invalid? I don't really understand what is expected here and why kiwix-build plays a role.

[2021-08-04 06:44] maneeshpm commented on #592
I suspected kiwix-build because we have all tests in the newer PRs in both libzim and libkiwix passing, that (might) rule out the possibility of anything wrong with our libraries and this might be just an isolated incident.

[2021-08-04 08:03] kelson42 commented on #592
@mgautierfr We need your feedback here, not clear at all where this ticket is going.

[2021-08-04 08:10] mgautierfr commented on #592
I don't know what happen here. Both CI in libkiwix/libzim are ok, and kiwix-build CI is passing.

I'm closing. I will reopen it if something goes wrong again.

[2021-08-04 08:10] #592 closed

[2021-08-04 13:36] rgaudin commented on #588
Agrees with @mgautierfr  and confirms with Hints the random button works as expected.

[2021-08-04 13:56] mgautierfr commented on #108
We may use a map as @automactic suggests. But it must be ordered as it is the main purpose of the vector (find the correct archive from the db index returned by xapian)

[2021-08-04 13:57] #595 closed

[2021-08-04 18:18] veloman-yunkan commented on #209
@kelson42 Not yet. I will start working on this ticket this week.

[2021-08-05 21:19] kelson42 opened #601 "libkiwix CI should use zim-testing-suite"
This would simply allow a better/simpler testing to use directly https://github.com/openzim/zim-testing-suite in place of "reinventing the wheel" here.

[2021-08-05 21:22] #533 closed

[2021-08-07 13:33] #555 closed

[2021-08-10 13:53] jmontleon opened #603 "kiwix-serve does not populate enough cards to scroll on a large screen"
On a 4k screen I get 4 rows of 7 cards. I have 130 zim files loaded and it's impossible to scroll further. In order to see more I have to resize the window (either a bit larger or smaller) to get additional cards to load, and then I am able to scroll.

[2021-08-10 15:09] MananJethwani commented on #603
@kelson42 will fix it in few moments...sorry for the bug.

[2021-08-10 19:47] MananJethwani commented on #603
@jmontleon I have opened a Pull Request we will try to merge it soon, if you have knowledge on how to compile the code I would like you to test it once. I have around 90 zim files available and in the PR everything seems to work for me.

[2021-08-11 04:50] #603 closed

[2021-08-11 06:54] kelson42 commented on #509
@mgautierfr I think it would be great to get an agreement with @maneeshpm about how to proceed here, technically said.

[2021-08-11 09:42] kelson42 opened #605 "libkiwix does not compile anymore against libzim7"
[code]

[2021-08-11 09:43] kelson42 commented on #605
It is important to fix this regression quickly.

[2021-08-11 17:22] maneeshpm commented on #605
@kelson Yes, we need to update the API with libzim7 API. I have opened a PR that does this.

[2021-08-14 17:21] #605 closed

[2021-08-19 20:09] rgaudin commented on #394
Bumping this once again. Still a pain to write scrapers reusing source-website CSS, having to deal with kiwix-serve's intrusion.

<img width="1149" alt="Screen Shot 2021-08-19 at 20 08 11" src="https://user-images.githubusercontent.com/57929/130136826-48fe4f0a-2027-4ce4-b4a5-bae586eb925c.png">

[2021-08-19 20:12] kelson42 commented on #394
Once the next release are done, happy that we give a try to this idea.

[2021-08-20 06:09] #242 closed

[2021-08-20 06:39] kelson42 commented on #571
@MananJethwani Do you think you could make a new option `--customIndexTemplate` which would take an alternative to our `index.html` template?

[2021-08-20 08:32] legoktm opened #606 "PPA builds for Ubuntu Impish are failing because of libxapian and GCC incompatibility"
PPA builds for libkiwix are failing on launchpad and in CI because of an incompatibility with libxapian and the new GCC 11.

It seems that libxapian requires that anything depending on it be built with the same GCC version it was built with. Ubuntu Impish has moved to GCC 11, but libxapian has not been rebuilt yet. This results in warnings like:
[code]

I am currently uploading a rebuild of libxap

[2021-08-20 09:31] legoktm commented on #606
I also filed https://bugs.launchpad.net/ubuntu/+source/xapian-core/+bug/1940634 to get this fixed properly in Ubuntu.

[2021-08-20 09:57] legoktm commented on #606
What I did was to upload a basically identical copy of libxapian from Ubuntu (I just added a changelog entry) into our PPA, so it would do a fresh build using GCC 11. Now libkiwix builds will now use our GCC 11 version of libxapian instead of the one in Ubuntu. Note that whenever they do upload a new libxapian version in Ubuntu, it should supersede the local version I just uploaded since it'll hav

[2021-08-20 09:57] #606 closed

[2021-08-20 10:04] kelson42 commented on #421
I start to doubt if we should implement this at this level. Implementing https://github.com/kiwix/libkiwix/issues/545 and providing a way at the UI level to display (per default) only the version of a certain "content-type" might be good enough and would avoid to complexify the libkiwix.

[2021-08-20 13:51] kelson42 commented on #588
@rgaudin @mgautierfr I would be in favor of closing this. After https://github.com/openzim/libzim/pull/604 this problem should not occur anymore.

[2021-08-20 13:53] kelson42 commented on #144
@mgautierfr I guess this last ticket is for you. At the same time, might be a good idea to just go through the whole API and see if it looks coherent.

[2021-08-23 13:54] mgautierfr commented on #509
I agree with @maneeshpm, implementation should not be complicated.
The question is more on what we store and how (for how long) ?
I would like to mention that we have a kind of cache for reader implemented in the library (which serve as source for the server). But there is no limit there.
It would be nice to homogenize this a bit.

- `Reader`/`Searcher`/`SuggestionSearcher` should probably follow

[2021-08-25 15:24] #588 closed

[2021-08-25 21:13] automactic opened #608 "HTTP 503 when retrieving favicons"
Sometimes when I am retrieving favicon using urls like `https://library.kiwix.org/meta/meta?name=favicon&content=pets.stackexchange.com_en_all_2021-04` , I got HTTP 503 with the following content:

[code]

It could be because I am retrieving things too fast, because if I wait for 5s then retry, I will get 200 with a PNG image as content. This is definitely causing me a small amount of headache dur

[2021-08-25 21:21] automactic opened #609 "Would it be a good idea to have multiple zim files share the same favicon URL when possible?"
There are a lot of zim files that share (seemingly) the same favicon, yet they have different favicon urls. I can surely retrieving them individually, but that seems like a waste. Especially when you consider a more extreme case: there are around 400 TED zim files, it makes less sense to make 400 GET requests when one will do.

What if we have multiple zim files share the same favicon url if their

[2021-08-27 12:26] rgaudin opened #610 "jQuery error logs on suggestion hover"
Using latest nightly, when using the search bar, I can type in and get a list of suggestions.

When I hover over any of them, I get `Uncaught TypeError: jQuery is undefined` errors in the console (triggered in jquery-ui).

<img width="805" alt="Screen Shot 2021-08-27 at 12 26 27" src="https://user-images.githubusercontent.com/57929/131127152-29c01de9-b73f-4fc2-83c7-ff70d10be843.png">

I can select

[2021-08-28 09:18] kelson42 opened #611 "Ladakhi does not appears properly in the list of (kiwix-serve) language"
If I load https://mirror.download.kiwix.org/zim/videos/dse-ladak_hi_class-3rd_2021-08.zim with Kiwix-serve, I get this on the Welcome Page:
![image](https://user-images.githubusercontent.com/1029718/131212993-f81aabb4-6550-4c11-819c-bf63c0ae5392.png)

I should see the language listed as "Ladakhi" in place of "lbj".

See more info about Ladakhi language at https://en.wikipedia.org/wiki/Ladakhi_lang

[2021-08-28 09:21] kelson42 commented on #611
@veloman-yunkan I guess that means that the Ladakhi language is not supported by the libicu. Would you be able to confirm please?

[2021-08-28 09:27] kelson42 opened #612 "Kiwix-serve does not display properly the Ladakhi ISO 639-2 code"
If I load https://mirror.download.kiwix.org/zim/videos/dse-ladak_hi_class-3rd_2021-08.zim with Kiwix-serve, I get this on the Welcome Page:
![image](https://user-images.githubusercontent.com/1029718/131212993-f81aabb4-6550-4c11-819c-bf63c0ae5392.png)

Ladakhi does not seem to have the proper ISO 639-2 language code. Actually the Ladakhi language does not have one AFAIK. So I wonder what is wrong h

[2021-08-28 15:24] MananJethwani commented on #610
@kelson42 the problem is not related to kiwix-serve but somehow to mwoffliner or more specifically zim-files that have jquery provided with them, they somehow interfere with the jquery we have. looking more into it.

[2021-08-28 15:37] rgaudin commented on #610
#394 😀

[2021-08-28 15:38] rgaudin commented on #610
Actually, I think it's an incorrect assumption as the wikiHow I tested it on has zero JS.

[2021-08-28 16:08] kelson42 commented on #610
@MananJethwani The problem of conflicting JS has been fixed in the past, I don't remember the ticket/PR, but this is only a few months ago. I believe like @rgaudin, there is a misinterpretation here.

[2021-08-31 14:41] maneeshpm commented on #395
@kelson42 IMO having a dedicated API endpoint for snippets should be implemented after implementing caching in #509. Since the snippet generation is done by MSet which we get from Enquire, caching of a search instance is necessary to avoid double work.

[2021-08-31 14:56] kelson42 commented on #395
@maneeshpm Agree and sorry for not having seen this obvious thing earlier.

[2021-09-01 12:39] MananJethwani commented on #610
@kelson42, the `jquery.noconflict` line in taskbar.js doesn't works properly it changes name to jq, but jqueryUI.min.js tries to look for jquery instead of jq and throws an error.

[2021-09-04 13:36] kelson42 opened #613 "Fournish HTTP URL helper for the server"
Kiwix Serve, Kiwix Desktop and Kiwix for Android provide a HTTP daemon feature based on the libkiwix server primitive.

In an attempt ot increase usability Kiwix Desktop and Kiwix for Android provide a `http://192.158.1.42:80/` like of URL the software user can easy share with a broader audience connected to the same local (WiFi) network. This is handy and we want a similar feature  for Kiwix Serv

[2021-09-07 10:37] fheslouin commented on #586
For the record, the PR that was suggested for OLIP back then : https://github.com/kiwix/libkiwix/pull/295

[2021-09-07 13:47] mgautierfr commented on #613
On the server side, if the address is not specified (which is the case) we are listening to all interfaces. So any (existing) IP is a "valid" ip for the user.
We probably don't want to display localhost (127.0.0.1) to the user (as it would be useless to share) and we **may** also discard public IP (user should not have them, and if they do, they probably know what they are doing).

---

IPV5 defin

[2021-09-09 10:07] #209 closed

[2021-09-13 10:30] rgaudin opened #615 "No JS fallback for kiwix-serve welcome page"
The new kiwix-serve UI is more practical but it's now impossible to use kiwix-serve without JS enabled.

There are many ways to solve this but if we consider no-js to be an edge case, we could, at least have a `<noscript />` tag pointing to a separate endpoint with a static list of contents.

<img width="1009" alt="Screen Shot 2021-09-13 at 10 25 23" src="https://user-images.githubusercontent.com/

[2021-09-24 15:48] barbayellow commented on #586
Hello, we discussed about the search with some OLIP users. Since there might be several applications installed on OLIP, kiwix, kolibri, BSF mediacenter, Moodle etc. the user should be able to see only x results per application. The search should be as fast as possible and usually no one go beyond the first 10 results.

An open question: should we allow the user to choose a specific language for th

[2021-09-28 15:08] rgaudin opened #616 "Expose counter on meta endpoint"
Currently, we can't access `Counter` metadata via kiwix-serve. I've set this as *bug* because it's a regression but might have been removed on purpose.

I know that @kelson42 also relies on this.

https://github.com/kiwix/libkiwix/blob/3b942bb7458af7daae00505b4a660a47eb33628f/src/server/internalServer.cpp#L404-L427

Side questions:
- Why the change in case? Metadata are title case and having to sw

[2021-09-28 18:31] maneeshpm commented on #616
@rgaudin I agree, title case would have been better here, the metadata are still stored in Title case inside our archive. Having a lowercase middle process might introduce confusion.

We require dedicated getters for several metadata that might require some preprocessing, like `getArchiveTitle()`, `getMetaTags()`, `getArchiveFavicon()` etc. But for the generic ones like `Name`, `Language` etc the

[2021-09-29 09:51] mgautierfr commented on #616
While I agree we should be able to access the `M/Counter` metadata (and all others), this feature was never there.
I've added the `/meta` endpoint mainly because the opds stream was needing to access the favicon of the zim file (to not include the icon data in the stream).
I've also add some other metadata (not used at the time) in the same change and simply "forgot" `M/Counter`.

[2021-09-29 09:52] rgaudin commented on #616
I meant with namespaced ZIM, we could just use the full path like `M/Counter`

[2021-09-29 10:04] mgautierfr commented on #616
Indeed. My bad.

[2021-10-02 09:49] juuz0 commented on #613
Would like to give it a try if someone isnt working on this.

[2021-10-02 10:28] kelson42 commented on #613
@juuz0 yes, thank you.

[2021-10-06 16:23] kelson42 opened #618 "Prepare release 10.0.0"

[2021-10-11 13:29] kelson42 opened #619 "Function `kiwix::fileExists` does not behave properly if file exists but is not readable"
During the review of https://github.com/kiwix/kiwix-tools/pull/477, I discovered a wrong behaviour:
[code]

The problem is that `kiwix::fileExists` returns `false`... and actually it should return `true`.

I see two solutions to that problem:
* `kiwix::fileExists` is renamed to `kiwix::fileExistsAndReadable`
* An additional function `kiwix::fileReadable` is created.

... and then all usages of thi

[2021-10-16 19:03] kelson42 commented on #613
@juuz0 Any problem with this ticket?

[2021-10-17 04:53] juuz0 commented on #613
@kelson42 Yeah, I got totally stuck in how to approach this.
Since I've a holiday today, will try again! :D

[2021-10-17 12:16] juuz0 commented on #613
@kelson42
So, we should list all IPs and ask the user which one they would like to use?
and if they choose none, we give the best one ourselves, am I thinking it right?

Also, are we going ahead with ipv4 only?

[2021-10-17 12:18] kelson42 commented on #613
@juuz0 Yes, I would recommend to start with ibpv4 first,  ut yes ultimatively woukd be good to support ipv6 as well.

[2021-10-18 04:47] juuz0 commented on #613
I'm running into an issue.

If I call any function which returns `std::string` from `InternalServer::start`, it throws  something like -
`undefined reference to functionName[abi:cxx11]()`

I searched around and everywhere it seems to suggest to use some flag (`-D_GLIBCXX_USE_CXX11_ABI=0`) but that probably isn't the right way. What could be wrong ?

Enviroment -
Ubuntu 21.04
GCC 10.3.0

[2021-10-21 14:18] mgautierfr opened #624 "Front page must be prepared for zim file with missing metadata"
Pretty old zim file may have no favicon at all.
In this case, the opds stream doesn't contain any node for the favicon.
(The node `<link rel="http://opds-spec.org/image/thumbnail" [...]/>`)
Opds stream is :
[code]

For now, the front page's js ends with a "undefined" url for the favicon and set the html image src to undefined. And so the browser do a request with "undefined" query.
Front page shou

[2021-10-25 10:55] mgautierfr opened #625 "Opds dumper need to read all archives to have illustration size."
https://github.com/kiwix/libkiwix/blob/master/src/opds_dumper.cpp#L57-L70 make the opds dumper read all zim file in the library to create the opds stream.

The normal behavior should be that we trust the `library.xml` (when loading from it) and do not read the file to update the metadata information we know about the books.
This kind of method should be on the library side (`Manager::readBookFromP

[2021-10-30 08:37] kelson42 commented on #624
@MananJethwani In case there is no illustration in the OPDS feed, would you be able please to just display nothing?

[2021-10-30 10:04] mgautierfr commented on #625
To be exact, we don't read all archives in the library but all archives returned by the opds stream. If the stream is paged (limited to N books) we read only N archives, but if not, we read all archives.
But, another issue, we do this every time, for each requests, as there is no cache. The fs cache help a bit but that all.

[2021-10-30 11:27] kelson42 opened #629 "Catalogue dialog content are not immediatly available on kiwix-serve"
Steps:
* Download a book from the online catalog
* Start the HTTP daemon
* Open the browser

I get something like this:
![image](https://user-images.githubusercontent.com/1029718/139531099-12a27a0c-61b5-45e1-b93f-0d4c37d2f456.png)
... and if I click on the left tile (Wikipedia) "preview" link then I have a HTTP 404.

What I want:
* Wikipedia left tile with the proper favicon
* "Preview" link leadi

[2021-10-30 11:32] mgautierfr opened #627 "[Server] Make zim card clickable."
The new UI of the kiwix-serve front-end is a bit disturbing.

- The "card" (displaying information about a book) reacts to mouse over (small zoom) but it is not clickable. It make the user think something is wrong as the "system" reacts to his moves but doesn't work.
- The same way, the lang tag in the cards looks like a button but is not. One may think that if the book exists in different languag

[2021-10-30 12:58] karandeeppotato commented on #619
@kelson42
Sir, I am stuck at this for so long.
Whenever I execute
`kiwix-serve --port=8081 --customIndex=index.html sample_zim.zim
`

Instead of getting this error,
`ERROR: No such file exist /home/kelson/code/kiwix-tools/index.html`

I am getting this,
`kiwix-serve: unrecognized option '--customIndex=index.html'`

Am I doing something wrong here?

[2021-10-30 17:04] kelson42 commented on #629
@veloman-yunkan This is a pretty impacting problem on Kiwix-Desktop and should be fixed before libkiwix10 release... to the contrary to kiwix/kiwix-tools#243

[2021-10-31 09:42] hashworks commented on #618
Hi! Any timetable for this? I'm currently providing both libzim v7 for zim-tools v3 and libzim v6 for libkiwix v9, it would be great if I could resolve that soon with libkiwix v10 :)

[2021-10-31 10:01] veloman-yunkan commented on #625
@kelson42 @mgautierfr

The said change in `OPDSDumper` was introduced by #577 while fixing #533. The current format of the library XML doesn't allow for multiple illustrations, that's why the needed information is read from the ZIM archives. To address this issue, we must enhance the library XML format:

1. allow multiple illustrations per book
2. include information about dimensions of each illus

[2021-11-01 15:36] kelson42 commented on #618
@hashworks I guess this will take a few additional weeks, we have a handfull of tickets left in the milestone. We are eager as well to do the release because we have been working since a year on libkiwix10.0.0.

[2021-11-01 15:43] kelson42 commented on #619
@karandeeppotato Probably because you don't launch your local compiled version of kiwix-serve, but the one of the system. Try:
[code]

[2021-11-02 07:13] karandeeppotato commented on #619
@kelson42
I didn't find any function by the name `kiwix::fileReadable` and `kiwix::fileExistsAndReadable`

But I do notice this behavior that when I execute this command
`kiwix-serve --port=8081 --customIndex=index.html sample_zim.zim
`
It is perfectly working.

But when I execute this command from the home directory like you did.

-rwx------ 1 root root 2649 Okt 11 15:14 index.html
$ kiwix-serve

[2021-11-03 09:34] mgautierfr commented on #624
There is also the same problem with the lang.

Here what is look like (with ui from PR #628)
![Capture d’écran du 2021-11-03 10-24-32](https://user-images.githubusercontent.com/86161/140037058-2d420176-fac7-4dc9-9923-644a177329d5.png)

[2021-11-03 13:15] #629 closed

[2021-11-03 15:49] mgautierfr commented on #619
That is the point :
`kiwix::fileExists` check that the file is readable (and so, implicitly, that it exists). But the behavior of the function must correspond to its name.

On the same time, the global behavior we want on kiwix-serve is to check that the file is readable (so the behavior you see for kiwix-serve is correct).

So we must correctly fix the behavior of `fileExists` but keep the "is re

[2021-11-04 15:08] mgautierfr opened #631 "Define some endpoints for metadata (and other)"
Following my comment here https://github.com/kiwix/libkiwix/pull/626#issuecomment-959293854 I would like to open a discussion on what we need to serve and how.

I think there is two different use case :
- One is to get information about books available in the catalog (illustration and other metadata)
- One is to get information about what is in the zim, for some QA or other (It seems that it is wh

[2021-11-04 15:41] rgaudin commented on #631
Interesting!

#616 was about restoring access to an information we used to get. Gentle reminder, whenever you expose something, people will start relying on it.

Behind #616 is a dead-simple access to metadata of a book/zim. I suppose we could return what's in the catalog and users would be happy. `Counter` is probably not going to be rewritten in the CMS anyway…
What it means for previous user, i

[2021-11-05 15:53] mgautierfr commented on #631
Yes. And this is why I discuss this here before creating/updating the endpoint.

What kind of check ? The fact that `M/Counter` was available doesn't means that we must readd it blindly.
It is better to know what do you want to check and decide how to do it (potentially as previously) than simply reimplement a old usage because "it was there before".

Maybe we can serve the endpoint only with a `-

[2021-11-05 16:12] rgaudin commented on #631
Can't say. I know @kelson42 is used to that URL for reading the Counter as a quick zim check alternative. I want to make sure he understands that you are proposing to remove that easy way so it doesn't come as a surprise.

Good question for which I have no answer. It's more of a product one than a technical one.

What should be considered though is that our UI has issues and if we allow this raw a

[2021-11-08 04:09] juuz0 opened #632 "Cant't compile libkiwix - fails on test"
Hi there , libkiwix compilation is failing for me (latest master) :(

Environment : Ubuntu 21.10, GCC 11.2.0

I can get around with doing werror=false but maybe that shouldn't be done :>
[code]

[2021-11-08 10:11] mgautierfr commented on #632
This is a issue on the dependency httplib (embedded in our test directory).
The fix I've made is here : https://github.com/yhirose/cpp-httplib/pull/1085#issuecomment-960244293
I've have a draft PR (https://github.com/kiwix/libkiwix/pull/633) which apply the patch on our source but it also update the httplib version and now it fails because somehow httplib client cannot access the server.

[2021-11-08 14:55] mgautierfr commented on #625
This is a question we are asking ourselves (@kelson42 and I)
We've already discussed this in live during the hackathon but here is where we are now :

- It would be interesting to somehow merge the two formats. Less code is better.
- But we have to be careful. Although the two formats are pretty similar, they respond to different purposes: The OPDS stream is here to expose a remote catalog and lib

[2021-11-08 15:03] mgautierfr commented on #609
One solution would be to serve the favicon under a path base on a checksum of the favicon's content. This way, identical favicon would have the same (unique) path.

To do so, we should extend the library.xml to store the checksum (along with the actual data) and the opds stream to point to a different path, independent of the zim file.
The server/library would need to map the checksum to the conte

[2021-11-10 13:44] kelson42 commented on #632
@mgautierfr Can we close rhis ticket now?

[2021-11-10 13:45] mgautierfr commented on #632
Yes.

[2021-11-10 13:45] #632 closed

[2021-11-11 10:18] rgaudin commented on #394
yet another CSS hack in kolibri2zim. Not spamming, archiving where the hacks are.

[2021-11-16 13:07] #627 closed

[2021-11-19 13:08] #625 closed

[2021-11-21 15:40] kelson42 commented on #625
Related to https://github.com/kiwix/overview/issues/59

[2021-11-21 16:10] kelson42 commented on #631
Finaly giving a feedback on this. That said I'm still not sure to fully understand everything so please pardon me if I do silly remarks:
* The basic analysis of @mgautierfr which led to this ticket seems to me to be pertinent. Therefore, two different problems leads to two different solution to retrieve information. Makes sense.
* `/raw/` proposal LGTM. I see no potential bad side effect of it. We

[2021-11-21 16:14] kelson42 commented on #616
Kind of duplicate of #631 now.

[2021-11-21 16:56] kelson42 commented on #471
There is two cases:
* We have a content neutral page, like welcome our search result page
* We have a content related page, like an article of Wikipedia.

In the second case it should be the favicon of the content... but otherwise it could be indeed an icon of Kiwix... but actually depending of the OS, we could have multiple favicon (see https://realfavicongenerator.net/favicon_checker).

But we s

[2021-11-22 09:20] kelson42 commented on #631
@mgautierfr Thanks, I still don't understand all the details but trust you. Not problem with keeping the `/meta` if needed and having a dedicated illustration API if needed. But we need absolutely to document all of this properly, whatever where it is. Wee need an API/ABI documentation like we have on libzim.

[2021-11-22 11:44] kelson42 opened #637 "Create libkiwix documentation"
At least a stub with readthedocs, like libzim.

[2021-11-27 07:39] kelson42 opened #638 "Which books have an online update available"
Kiwix readers would like to be able to send a notification when an update for a local book is available online. See https://github.com/kiwix/kiwix-desktop/issues/324.

To identifiy such an update we shoukd use the Followinf ZIM Metadata:
* name
* Flavour
* Date

Is that doable? Is such a feature maybe already available in libkiwix?

[2021-11-29 11:13] mgautierfr commented on #638
There is not such a thing in libkiwix for now.

We may add it to libkiwix yes but we must be a bit more specific :
- How do we indentify a "identical" content ? The couple Name/Flavour is enough ?
- The date metadata is enough to check for update ?
- Does libkiwix must make the request itself or it compares two books/library already populated ?

[2021-11-29 11:34] kelson42 commented on #638
It shoudl.

It should

I believe it should happen within two populated lists.

[2021-11-30 11:45] Popolechien opened #652 "Kiwix for iOS v1.15.1 does not open WikiHow articles"
From a user running on iOS and using wikihow_en_maxi_2021-10.zim
Device is iphone 13 pro with ios 15.1.1 (latest version).

Articles look blanked
![attachment](https://user-images.githubusercontent.com/21675885/144041451-cdc01af9-0e0f-4d84-80b7-c2e5ae09bc4e.png)

Search works, but then every entry opened returns the blank screen.
![attachment-1](https://user-images.githubusercontent.com/21675885/1

[2021-12-02 19:19] kelson42 commented on #108
We are ready to implement this ticket now I guess.

[2021-12-03 15:48] #637 closed

[2021-12-04 12:00] KingNexu opened #643 "kiwix::NoEntry is raised when getting random page url"
App Crashes When the Random button is Pressed. **(No Library Open)**
App Crashes After a Few Button presses. **(Library is Open)**

Library ID: **44371d60**

https://user-images.githubusercontent.com/68326859/144708751-11608f1f-e98f-4e03-aaec-682cbb3c0682.MP4

[2021-12-05 16:43] veloman-yunkan opened #641 "Deadlock in Library::writeBookmarksToFile()"
#636 introduced a deadlock in `Library::writeBookmarksToFile()`.

`Library::writeBookmarksToFile()` calls `LibXMLDumper::dumpLibXMLBookmark()` under a lock
https://github.com/kiwix/libkiwix/blob/01ac0b2fe19901c3794fdb7926bb3ef3b3046adc/src/library.cpp#L274-L283

`LibXMLDumper::dumpLibXMLBookmark()` calls the thread-safe function `Library::getBookmarks()` which is protected by the same mutex:
https

[2021-12-06 10:37] #641 closed

[2021-12-07 03:42] automactic commented on #643
More context: it seems like this is more likely to happen on a zim file with small amount of articles. For example, try one of the zim files with mostly videos

[2021-12-07 03:44] kelson42 commented on #643
@veloman-yunkan Is that a legit behaviour to get this noentry exception here?

[2021-12-07 07:41] veloman-yunkan commented on #643
@kelson42 Yes, it is. `Archive::getRandomEntry()` performs at most 42 attempts - if it doesn't get an item with MIME type of `test/html` then it fails with an exception.

[2021-12-07 07:52] kelson42 commented on #643
@mgautierfr @veloman-yunkan I guess this scenario mostly happens in the pre-libzim7 ZIM files as we can have for many reasons non-html content in the `A` namespace. But, with post-libzim7, because we have only "front articles" in Xapian title index, this scenario should not occur in a normal case. Right?

[2021-12-07 08:03] veloman-yunkan commented on #643
@kelson42 That's partly right. libzim7 provides facilities for addressing the said problem but doesn't enforce constraints on the front articles. Therefore one can create (via the libzim7 API) a ZIM file with all front entries being non-HTML items.

[2021-12-07 10:57] mgautierfr commented on #643
I would rather remove the test on the html mimetype if the zim file contains a specific front articles list.

[2021-12-07 11:01] kelson42 commented on #643
@mgautierfr agree with your last comment, but the test seems still necessary for older indexes and documentation seems necessary as well.

[2021-12-07 13:21] mgautierfr commented on #643
This is documented at libzim level. And we want to drop the wrapper at libkiwix level.
We may still add the information in the documentation but I don't think we want to do more at libkiwix level.

[2021-12-07 15:24] automactic commented on #643
As an kiwix reader developer, what would you suggest me to tell user when this happens?

Logically it doesn't make sense for `kiwix::NoEntry` to be raised, because as long as there is >=1 article in the zim file, there should be no problem getting a random page

[2021-12-07 17:26] mgautierfr opened #644 "Parsing library.xml add a dummy illustration if the library doesn't contain one."
The code is here :

https://github.com/kiwix/libkiwix/blob/master/src/book.cpp#L126-L130

`ATTR` returns a empty string if the attribute is not here.

[2021-12-08 18:37] veloman-yunkan commented on #643
@automactic
I would issue a message like "Failed to pick an article (probably because the ZIM file contains too much junk)" :) But me being me, I think that @kelson42 will not approve such text.

[2021-12-09 09:43] kelson42 opened #647 "Kiwix-serve topbar inputs should have titles"
See here:
![image](https://user-images.githubusercontent.com/1029718/145371837-e5ac8bd1-9011-4f82-b30c-7853a9977251.png)

* The homepage button should have "Got to welcome page"
* The ZIM homepage button should be "Go to the main page of '<title>'"
* The Randompage button should be: "Go to a randomly selected page"
* The Search input shoudl be:  "Search '<title>'"

[2021-12-09 13:02] VaibhavPaliwal0007 commented on #647
@kelson42 I would like to work on this issue. Can you guide me on how to get started?

[2021-12-10 03:45] automactic commented on #643
The error message should be "we cannot find a random function because we suck at what we do" /s

Once again, my opinion is a function to get random article should never fail as long as there are at least one article. Imagine what would you say if `rand` only give you a number some of the time, and raise an exception at other times.

Also how is it not considered a regression when on the same zim f

[2021-12-10 04:26] kelson42 commented on #643
@automactic The problem is not like you describe in your comment:
* random function has no dep to anything, the comparison is not good
* what would you say if our function would return always the same article!
* except if we find a new bug somewhere, this is not a regression. Not sure how it was exactly working earlier, but we were not better at finding a random article. Actually from the principl

[2021-12-10 13:20] mgautierfr commented on #643
The released version of libkiwix do not have any filter except not returning the mainpage (https://github.com/kiwix/libkiwix/blob/9.4.1/src/reader.cpp#L199-L220)

What is on master (not released) is to use whatever is on libzim.
Libzim (released) does have a filter on the mimetype.
This filter has been introduce in the early stage of libzim7 development, where we move all entries in the same names

[2021-12-10 14:26] mgautierfr commented on #647
What is the rational for this change ?

I'm not against that but it would be better to know (or explicit) why we do it.
The current situation comes from this https://github.com/kiwix/kiwix-tools/pull/200 where we removed the text and use icons instead.
It would be nice to have the motivation, at least for historical reason when we will come back on this in 4 years :)

[2021-12-10 14:30] automactic commented on #643
@kelson42

Hey, we can argue all day long if xyz is a good comparison. But at the end of the day, it is these kiwix apps that users directly use that matters. We cannot tell user there isn't a random article when there are >=1 articles.

Imagine you retrieve a ball from a bag of balls with replacement, of course it is possible to retrieve the same ball on consecutive tries. But some thing is wrong

[2021-12-10 14:43] automactic commented on #643
Here is a demo of how often this can happen on a zim file with small article count. And keep in mind, we used to not have a problem cycle through all these pages on earlier versions of libkiwix / libzim.

https://user-images.githubusercontent.com/8294252/145591557-29028400-713f-4f85-8cbd-c340d18ca588.mp4

[2021-12-10 16:43] automactic commented on #643
As a comparison, this is how things used to behave on a older version of kiwix before I updated libkiwix. Note: both videos are taken on the same device, same zim file and same iOS version

https://user-images.githubusercontent.com/8294252/145609846-a522d714-83b6-440b-a914-796a49dd49ed.mp4

[2021-12-10 17:42] kelson42 commented on #647
@mgautierfr This is an accessibility problem

[2021-12-11 03:52] kelson42 commented on #647
After reading https://stackoverflow.com/questions/27953425/what-is-the-difference-between-aria-label-and-title-attributes it seems we should actually have "title" and "aria-lable" attributes. The first for the visual tooltip and the second for the screen readers.

[2021-12-11 15:37] kelson42 opened #650 "Update Kiwix-serve cache strategy"
Kiwix serve delivers many types of content:
1.  ZIM content
2. Kiwix-serve static content
3. Kiwix-serve dynamic content (API, search, etc.)

For each type, here is how we want to cache:
1. ZIM content: cache as long as the (concerned) content does not change
2. Kiwix-serve static content: cache as long as we don't run a different version of kiwix-serve
3. Kiwix-serve dynamic content: cache as lon

[2021-12-11 15:39] kelson42 commented on #598
closed in favour of a more general approach, see #650

[2021-12-11 15:39] #598 closed

[2021-12-11 16:14] kelson42 commented on #650
@veloman-yunkan I want to make a new attempt to sortout this problem of cache. Because the problem is broader than the API or Etag, I have close #598, but thank you very much again for your explanation which are perfectly correct I think now. Would you be able please to assess this ticket and tell me if you disagree with something? Or maybe you would have an other approach to do it better?

[2021-12-11 16:27] #647 closed

[2021-12-12 10:41] kelson42 commented on #652
Same newly created http://download.kiwix.org/zim/stack_exchange/beer.stackexchange.com_en_all_2020-11.zim, I have the same symptom. Tends to believe this is a problem related to namespace than encoding.

[2021-12-12 13:33] veloman-yunkan opened #653 "Taskbar broken by a copyright notice"
The ZIM file [ted_en_playlist-5-questions-about-climate-change_2021-01.zim](http://download.kiwix.org/zim/ted/ted_en_playlist-5-questions-about-climate-change_2021-01.zim) contains a simple copyright notice (http://localhost:8080/ted_en_playlist-5-questions-about-climate-change_2021-01/A/assets/ogvjs/COPYING) that breaks the taskbar of the kiwix-serve frontend:

![broken_taskbar](https://user-imag

[2021-12-12 13:54] kelson42 commented on #653
The problem is that this is text content with wrong mime-type. This was a bug at the scraper level which has been fixed... and this file has been removed anyway from the latest Version of this ZIM file that I made a few days ago. See https://github.com/openzim/ted/pull/124. I don't think there is anything to fix at libkiwix level.

[2021-12-12 15:41] veloman-yunkan commented on #653
@kelson42 Wouldn't it be better if libkiwix isn't that easily confused by items with wrong mime-type?

[2021-12-12 15:45] kelson42 commented on #653
@veloman-yunkan Afaik this item has a text/html mime-type. The kiwix-serve is fooled by this, and this seems legit to me. I don't really what could be done to avoid that. Do you have a concrete improvment in mind?

[2021-12-12 15:51] kelson42 commented on #653
Maybe an other reason to push #394?

[2021-12-12 16:16] kelson42 opened #654 "Make many useless methods deprecated"
With libzim7 and libkiwix10 we have moved a bit of logic to libzim. Libkiwix to a certain extend is simpler and now many metods are simple wrappers over one libzim method. Beside keeping API compatibility, this as no value and ultimatively such methods will disappear. The sooner the better. We should mark these methods as deprecated and print warnings if they are used to inform users and push deve

[2021-12-13 07:47] rgaudin commented on #652
Agrees

[2021-12-13 10:30] mgautierfr opened #655 "Rename defined `VERSION` to `LIBKIWIX_VERSION`"
`VERSION` is too generic. It may conflict with any other library defining its own version.

_Originally posted by @mgautierfr in https://github.com/kiwix/apple/issues/359#issuecomment-992321624_

[2021-12-13 10:32] mgautierfr commented on #647
Ok. I was thinking you wanted to revert the change and put textual information instead of the icons.

[2021-12-13 10:46] mgautierfr opened #656 "Add frontend version in the frontend resource urls."
The frontend resources (js/css/html) are cached by the browser.
If we change the frontend, users may not use the last version as the browser will never ask for it, even if kiwix-serve has been updated.

If we change the resource url to include the frontend version, the browser will "detect" the change and then will ask for the new frontend version.

_Originally posted by @mgautierfr in https://git

[2021-12-13 11:20] kelson42 commented on #656
@mgautierfr It seems we agree on this :) see the ticket i have open a few days ago https://github.com/kiwix/libkiwix/issues/650

[2021-12-13 11:46] rgaudin opened #657 "Should invalid ZIM be loaded?"
Wasted some time trying to understand why my kiwix-serve homepage was broken. It was due to a ZIM in my library not having the [mandatory `Language` metadata](https://wiki.openzim.org/wiki/Metadata): JS code assumes a language code and crashes if it's missing.

As this metadata (and a few others) are mandatory, shouldn't libkiwix/kiwix-serve refuse to load them with an explicit message instead of

[2021-12-13 11:57] kelson42 commented on #657
Similar to #624

[2021-12-13 12:16] rgaudin opened #658 "Homepage not displaying all books"
I have a library with 104 books. Kiwix serve doesn't print any error and the welcome page properly says that I have 104 books.

<img width="555" alt="Screen Shot 2021-12-13 at 12 10 15" src="https://user-images.githubusercontent.com/57929/145809873-b11cc0e4-bfe3-4a0e-8c00-6855c71a6d35.png">

The problem is that, without any filter enabled, that homepage only displays `13` or `15` books. Yes, that

[2021-12-13 12:48] mgautierfr commented on #656
Indeed. I'm closing this issue as duplicated.

[2021-12-13 12:48] #656 closed

[2021-12-13 12:50] kelson42 commented on #658
New tiles should load id you scroll down. I guess it does not. What is screen resolution?

[2021-12-13 12:52] rgaudin commented on #658
Indeed, it does not. Resolution is 3072 x 1920 Retina

[2021-12-13 12:53] kelson42 commented on #658
@MananJethwani Any idea?

[2021-12-13 13:04] kelson42 commented on #658
Actually this pretty exactly the same bug #603 reported a few months by @jmontleon

[2021-12-13 13:14] mgautierfr commented on #657
I think it would be a pity to not use a somehow valid content because the Language/Illustration/... entry is missing. We are using content that come from different creators (and times) and we should be prepared for missing content.

[2021-12-13 13:34] rgaudin commented on #657
Agrees with the beginning of what you say but not the ending. If we consider that allowing different creators means they won't be able or want to respect the spec, then we should remove those requirements from the spec.

If we are talking about legacy ZIM, then, yes, I also think we should be flexible ; partly because we have a co-responsability in this as we didn't enforce the spec earlier.
But b

[2021-12-13 16:39] juuz0 commented on #624
Is this still up?
I would like try it
Also, if you could link a zim to test this issue

[2021-12-13 17:28] kelson42 commented on #624
This is still up, but I don't know exactly the whole scope of the ticket.

[2021-12-14 09:46] mgautierfr commented on #624
The issue I've got is with a pretty old zim file. It is not available anymore. I can upload it somewhere but you don't need a zim file.
If you use kiwix-serve with a library, kiwix-serve will trust the library and don't load metadata from the zim file.
You can simply remove metadata from the xml and see how it behaves.
(kiwix-serve will check however that the zim actually exists at the path specif

[2021-12-14 09:49] #655 closed

[2021-12-14 10:31] kelson42 commented on #643
@automactic Fixed in libzim with https://github.com/openzim/libzim/pull/650

[2021-12-14 10:31] #643 closed

[2021-12-14 15:01] mgautierfr commented on #657
It is not because something is MUST in a spec that reader MUST discard content not following the spec.
There is a lot of way a zim files may not follow the spec. Having our readers crashing on wrong zim files is not a good idea. And "it is not following the spec" is not a valid reason to don't care.

I don't say we must try to read everything.
I just want us to decide if we discard such zim file o

[2021-12-14 15:40] rgaudin commented on #657
I believe we agree on what's important:

- we don't want to prevent users from reading their ZIM files
- we want to balance our development/maintenance efforts

Fortunately, we've got a few things to help

**we write the spec** so we can reconsider part of it. You seem to genuinely believe that part of it won't be respected so maybe we should ask ourselves why and consider a different wording. *re

[2021-12-16 06:14] kelson42 commented on #653
@veloman-yunkan Closing the ticket as I don’t think we can do anything better in this ticket. Please reopen if you have a pragmatic improvement proposal.

[2021-12-16 06:14] #653 closed

[2021-12-16 16:17] #108 closed

[2021-12-17 05:58] mayur-samrutwar commented on #471
The content-related page is embedded inside the kiwix library page. So we can use only one favicon for all the pages. We have to create different-sized favicons for various browsers and platforms.

[2021-12-17 06:03] kelson42 commented on #471
This is a template, template should be modified to get favicon from zim files.

[2021-12-18 15:03] juuz0 opened #660 "[kiwix-serve] filters do not work"
Choosing `English` shows me no results
The url also doesnt seem to be correct?

https://user-images.githubusercontent.com/26814569/146645525-31ee6810-cdec-4f58-bc3d-f6d819b721ff.mp4

[2021-12-18 15:39] kelson42 commented on #660
@juuz0 strange... Any chance you can investigate?

[2021-12-18 15:40] juuz0 commented on #624
Thanks, I can reproduce the language issue but not the favicon one (even if I remove the favicon url from library).
In the ideal case, that white box should be removed for no language right?

[2021-12-18 15:54] juuz0 commented on #660
@kelson42 Oops x3
Strange and funny it works fine on all URLs except 127.0.0.1

[2021-12-18 16:33] kelson42 commented on #660
@juuz0 It should work exactly the same whatever the url? Which request exactly gives different results? Please call the API.

[2021-12-18 16:36] kelson42 commented on #624
I gess so, i would just make a css display:none in that case.

[2021-12-18 16:51] juuz0 commented on #660
@kelson42 There's some inconsistency here.
* The video in the main comment is of Firefox - that doesn't display filtered contents properly for any address - as seen from the video, it populates the URL with `http://192.168.18.8:8080/?lang=bis%22%3EBislama%3C%2Foption%3E%3Coption+value%3D`
* I tried with a second browser (Vivaldi, Chromium based) - that displays filtered contents properly for all a

[2021-12-18 16:54] kelson42 commented on #660
@juuz0 It's a display issue or an api issue? we need to have a clear reproduction case.

[2021-12-18 17:26] juuz0 commented on #660
@kelson42 I'm inclined to it being an API issue with parsing the file language.
Looking into the HTML,
`<option value="asm&quot;>অসমীয়া</option><option value=" eng"="">English</option>` This ruins all options I think, too much junk in those values

For reproduction, maybe these can help (a libary.xml and 3 zims):
https://drive.google.com/drive/folders/1MTQkyo_th5isu_2n0qWXymKpzYeuWHju?usp=sharing

[2021-12-18 19:22] kelson42 commented on #660
@juuz0 Wuld you be able to simplify the bug with only one zim file?

[2021-12-19 06:24] juuz0 commented on #660
I think there's a need of atleast 2 zim files (different languages) to reproduce this

[2021-12-19 07:20] kelson42 commented on #660
Which files exactly, so I can reproduce the problem?

[2021-12-19 07:22] kelson42 commented on #660
Will check, thx for the details.

[2021-12-19 10:33] #660 closed

[2021-12-19 10:46] juuz0 commented on #660
This fixes all of the problems *except* the error remains only for the address `127.0.0.1`
Though I wouldn't re-open it for that, feel free to do so

[2021-12-20 18:46] kelson42 commented on #654
@veloman-yunkan Would you be able to implement this please?

[2021-12-21 15:58] mgautierfr commented on #652
Without further information I cannot really help you.
The master version of libkiwix works with both kiwix-serve and kiwix-desktop. I can open the beer.stackexchange pointed by @kelson42 correctly.
It seems that if there is something wrong, it is either specific to ios compilation or how you use libkiwix.

The following code works on my side.

[code]

(Compiled with `g++ open_beer_stackexchange.cp

[2021-12-21 16:59] kelson42 commented on #652
@mgautierfr I think you have tested with an old file (not without namespace). Probably because my link in the previous comment was wrong. Would you be able please to confirm the same test with https://mirror.download.kiwix.org/zim/stack_exchange/beer_stackexchange_com_2021-12.zim workd (but without `A/` in the URL)?

[2021-12-21 17:25] kelson42 commented on #658
@rgaudin I have tried to reproduce the problem but without success. I can not go that high in resolution, but somehow suspect this is linked to the pixel depth.

[2021-12-22 08:19] mgautierfr commented on #652
This work also with a recent zim file.
Here a updated version of the cpp test program, I've also added search.

[code]

Of course the path format of the entries has changed, but it is what is in the zim file.

[2021-12-22 08:29] kelson42 commented on #652
@automactic Would you be able please to check this exact very same calls with Swift and dev libkiwix11? And tell us if it behaves differently?

[2021-12-22 17:35] #613 closed

[2021-12-25 19:24] juuz0 commented on #624
Making css `display:none` will push the book tags (the ones at bottom right) to left side, `background-color: transparent` looks much better choice

[2021-12-26 07:10] kelson42 commented on #624
Display:hidden ?

[2021-12-26 07:12] juuz0 commented on #624
That works also, and sounds more logical

[2021-12-26 14:55] kelson42 commented on #479
@maneeshpm Would you mine to tackle the multizim problem until we fix the last details of #509?

[2021-12-27 07:16] juuz0 commented on #657
Would like to mention here that Kiwix-desktop doesn't load a zim if language metadata is missing

[2021-12-27 08:15] kelson42 commented on #657
@juuz0 interesting, sounds alonost like a bug to me.

[2021-12-27 15:48] kelson42 commented on #657
I have open https://github.com/kiwix/kiwix-desktop/issues/754

[2021-12-27 15:55] kelson42 commented on #657
I'm, in the principle, pretty against this approach, but if handling a missing metadata I would be able to consider to do it. So it depends.

Definitly, I count with the CMS to help to identify the ZIM which have not been "renewed" or "updated" to secure an overall quality.

@rgaudin Not sure there is really much more we can do with this ticket.

[2021-12-28 19:35] #624 closed

[2021-12-28 19:35] #657 closed

[2021-12-29 07:52] kelson42 commented on #425
@juuz0 Would you be interested to fix this security issue?

[2021-12-29 08:08] juuz0 commented on #425
@kelson42 Definitely :+1: Thankyou

[2021-12-31 08:21] juuz0 commented on #425
@kelson42 Will making the secret a random string work good enough? :)

[2022-01-01 02:16] calumapplepie commented on #425
If the string is uniquely generated at each startup and decently long, then it should.

[2022-01-03 08:46] #425 closed

[2022-01-03 08:47] kelson42 commented on #652
@automactic Any news on this? Without quick progresses, I will have to move it to on of the next release.

[2022-01-03 13:02] juuz0 commented on #619
I'm getting
`ERROR: No such file exist (or file is not readable)/home/juuzou/.local/share/kiwix/index.html`
Seems to be fixed?

[2022-01-03 13:16] kelson42 commented on #619
@juuz0 Can you please just rename the function to `kiwix::fileExistsAndReadable`? Adding a space character after the parenthesis seems necessary as well.

[2022-01-03 20:33] kelson42 commented on #658
@rgaudin Is this ticket a duplicate of #607? Does #667 fixes this ticket as well?

[2022-01-03 21:08] rgaudin commented on #658
#607 fixes this ; sorry I used 603 by mistake

[2022-01-03 21:09] #658 closed

[2022-01-04 13:34] #644 closed

[2022-01-05 14:31] #616 closed

[2022-01-05 14:49] mgautierfr opened #670 "OPDS stream is malformed when zim name contains `&`"
I've got a zim file with a `&` in my library.
The urls we've added recently on the opds stream are not url encoded and so, the xml generated is wrong.

[code]

[2022-01-07 15:10] rgaudin opened #671 "Don't introduce taskbar for non-front articles"
When creating a ZIM, HTML Items with `FRONT_ARTICLE=false` hints are considered non-front articles. As such, the taskbar should not be introduced for them.

I'm not sure about how it should be implemented as Hints are create-time only. I suppose it would rely on the index…

This should allow us to stop depending on `text/html;raw=true` mime types.

[2022-01-07 15:15] kelson42 commented on #671
Related to #394

[2022-01-08 14:12] juuz0 commented on #612
Seems like the icu library doesn't support ISO 639-3 codes yet. For such languages, it will return back the code (`lang`) when `getDisplayLanguage` is found
[code]

A solution is keeping track of such known codes (in json?) and using them if `result` string is same as the passed `lang` string

[2022-01-08 14:18] kelson42 commented on #612
This has to be wrong.

[2022-01-08 14:25] kelson42 commented on #612
There is acatually an other problem which is that the language select box displays "lbj" code is place of "ལ་དྭགས་སྐད་".

For the bad two letters code, part of the problem seems to be in javascript where there is a two letters truncation, which is really wrong.

[2022-01-08 14:41] juuz0 commented on #612
Thanks for the clarification!

I confused this issue with https://github.com/kiwix/libkiwix/issues/611

and to confirm your question there, indeed Ladakhi isn't supported yet (and so are many ISO 639-3!)

[2022-01-09 17:14] veloman-yunkan commented on #144
Does this ticket apply only to the public API of libkiwix? If so then only `kiwix::Searcher` is affected. But then should be try to fix it or better get rid of `kiwix::Searcher` as suggested in #430?

[2022-01-09 17:18] kelson42 commented on #144
@veloman-yunkan This is a good news! We should get ride of it... and made necessary adaptation in kiwix-tools and kiwix-desktop.

[2022-01-09 17:22] kelson42 commented on #430
@mgautierfr Neither apple nor Android are managed here (anymore). I don't really see the value of keeping this ticket open here.

[2022-01-09 17:26] veloman-yunkan commented on #430
If we are going to implement what is suggested in this ticket then we will have to change code in libkiwix. Thus we can close this ticket only if we open proposed subtasks as separate tickets.

[2022-01-09 17:55] veloman-yunkan commented on #654
@kelson42 Do you mean compile-time warnings or run-time warnings?

[2022-01-09 18:57] kelson42 commented on #654
@veloman-yunkan I thinf compile time is enough, such a system has already been implmented in libzim AFAIK.

[2022-01-09 19:16] #619 closed

[2022-01-10 12:26] mgautierfr commented on #654
Compile time yes.
And in fact is is already implemented in libkiwix https://github.com/kiwix/libkiwix/blob/master/include/common.h#L7-L14
We must pass on the API and mark the newly deprecated methods as deprecated.

I also wonder if we should remove the already deprecated methods. It's been a long time since they are deprecated, it makes sense to remove them.

[2022-01-10 12:43] mgautierfr commented on #144
It is mandatorry for the public API yes. For the private part, we can fix it now and fix it incrementally as we change other stuff.

It is probably better to mark it as deprecated (#654), we will remove it in a future release.

[2022-01-10 13:53] kelson42 commented on #612
@juuz0 I had forgotten myself #611, but now this is clear. I have assigned both to you.

[2022-01-10 13:59] kelson42 commented on #612
@amire80 Your expertise might be helpful here. It seems the Unicode Consortium [libicu](https://github.com/unicode-org/icu) does not properly support Ladakhi (see this ticket and #611). We don't really use the latest version, but I suspect this is the same with the cutting edge version. Would you be able to confirm this and inform us why? Would that make sense to make a bug report upstream? If "ye

[2022-01-11 05:18] kelson42 commented on #144
@mgautierfr What is the advantage to keep it now, if we remove it within a month?

[2022-01-11 14:35] kelson42 commented on #611
@juuz0 If you want to fix that one as well, I believe the solution is to handle our own conversion table in case libicu can not do the job.

[2022-01-11 14:39] #612 closed

[2022-01-11 14:41] mgautierfr commented on #144
We don't break all existing code using it (Android wrapper is still based on kiwix structures). And I've not said it will be removed within a month, I've said it will be removed in the future :)

[2022-01-11 15:18] kelson42 commented on #144
Android is broken anyway, we can not release the JNI binding anymore since a year.

[2022-01-11 15:55] juuz0 commented on #611
@kelson42 Yes, thought the same. Will do

[2022-01-11 16:31] mgautierfr commented on #144
I see no special reason to remove it now. Marking it as deprecated is almost straight forward.
Removing it means that we also need to remove the JNI wrapper (or adapt it). And it probably also means that we need to adapt our build system (should we continue to build android nightlies ?)

We can of course remove it now. But it would be yet another thing to do and check before doing the release. I w

[2022-01-11 18:37] kelson42 commented on #144
Agree if making this deprecated is trivial. Quite sure, android nightlies are not done with cutting edge libkiwix.

[2022-01-12 10:56] mgautierfr commented on #144
So I'm closing the issue in favor of #654, we will "simply" mark `kiwix::Searcher` as deprecated.

[2022-01-12 10:56] #144 closed

[2022-01-12 12:09] rgaudin commented on #608
@automactic, please not that this endpoint has been removed and is not present anymore in master.
I don't know what's the library.kiwix.org deployment strategy but I suppose it's going to use the next stable kiwix-serve release soon after its introduction (so relatively soon).

A *drop-in* replacement would be `/catalog/v2/illustration/pets.stackexchange.com_en_all_2021-04/?size=48`

[2022-01-12 12:19] #670 closed

[2022-01-12 12:30] kelson42 commented on #31
@mgautierfr What would be a better approach?

[2022-01-12 14:28] juuz0 commented on #611
@kelson42 Are there any other known languages with this behaviour?

[2022-01-12 14:28] mgautierfr commented on #608
Note that the illustration link in the OPDS stream will be changed accordingly. So if you use it blindly, you have nothing to change on your side.

[2022-01-12 14:33] mgautierfr commented on #654
@veloman-yunkan Are you working on that or I do it ?

[2022-01-12 14:59] veloman-yunkan commented on #654
@mgautierfr I haven't really done anything significant to claim that I am working on this, so if you want to take it over - you are welcome!

[2022-01-13 13:32] #654 closed

[2022-01-14 14:44] unknownuser2329 commented on #471
Is anyone working on this issue? Also, where can I find the favicon image?

[2022-01-14 16:48] unknownuser2329 opened #677 "Adding kiwix logo"
https://library.kiwix.org/ this page would look good if kiwix logo is added and also a sticky navbar. I would like to work on this with some guidance.

[2022-01-14 17:17] kelson42 commented on #677
Please open a ticket with only one idea/bug per ticket.

[2022-01-14 17:17] #677 closed

[2022-01-15 07:12] kelson42 commented on #618
Will be released next week

[2022-01-15 10:11] Kissh12 commented on #489
is this open? can I work on this?

[2022-01-15 10:13] kelson42 commented on #489
@Kissh12 Whas is your plan to implement this feature?

[2022-01-19 12:25] unknownuser2329 commented on #677
please accept my apology, I can assure you that it won’t be repeated.

[2022-01-20 05:42] kelson42 opened #683 "libkiwix FTCBFS for mipsel: undefined reference to `__atomic_fetch_add_8'"
It seems libkiwix 9.4.1 does not compile properly on mips architecture. As we don’t have this architecture in our CI I suspect the problem could still be here with 10.0.0.

See the details on Debian bug report https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1001514

[2022-01-20 19:47] #618 closed

[2022-01-21 14:46] kelson42 opened #684 "URGENT: Kiwix-desktop 2.1.0 can't download anything online (with latest kiwix-serve at library.kiwix.org)"
I have deployed kiwix-serve `3.1.2` on library.kiwix.org.

As a consequence kiwix-desktop can not list anything on the online library. It makes the OPDS requests, but there is always 0 books listed.

[2022-01-21 14:53] kelson42 commented on #684
I believe, I understand the problem. kiwix-desktop `2.0.5` and `2.1.0` make following OPDS requests:
[code]

"oldest" kiwix-serve as interpreted `count=0` as `infinite` and "newest" kiwix-serve interpretes it as zero book.

The strict interpretation seems strictly correct to me, but it breaks older kiwix-desktops and provides a bad user experience.

What seems less good, is that if `count` is unde

[2022-01-21 15:01] kelson42 commented on #684
For the moment the best I can figure out is:

Fix/release kiwix-serve/libkiwix to:
* Returns all books (indefinite numbers of book) if `count=0`, this would be a temporary patch/workaround to not break the forward compability of older kiwix-desktop with newer kiwix-serve. With the right explanative comment, this should be removed in 1 year or two to come to the proper behaviour (returning 0 books)

[2022-01-21 15:30] kelson42 opened #685 "http://library.kiwix.org does not achieve to populate its cateogry select box"
Look at http://library.kiwix.org and the "Category" select box is empty.

If I test it localy on my computer it seems to work fine.

Category API seems to work fine as well:
https://library.kiwix.org/catalog/v2/categories

I believe this is because this javascript error I see which probably makes the whole javascript engine to stop:
[code]

[2022-01-22 07:47] #684 closed

[2022-01-23 19:39] #685 closed

[2022-01-24 13:11] kelson42 opened #690 "kiwix-serve welcome page download overlay has empty links"
At
![image](https://user-images.githubusercontent.com/1029718/150788780-86aa7f72-cb5f-4ae9-9811-88b1458a4c18.png)

On https://library.kiwix.org, the direct links are like http://library.kiwix.org/null

[2022-01-24 13:12] kelson42 commented on #690
They (all the download links) are wrong actually.

[2022-01-24 13:47] Popolechien commented on #489
@jveitchmichaelis This might be interesting for you.

[2022-01-24 14:43] #690 closed

[2022-01-24 15:52] kelson42 commented on #520
@rgaudin I don't see the logs anymore for the `library` docker container. Do you know why?

[2022-01-25 07:48] kelson42 opened #692 "Add title with full language name behind kiwix-serve language badge."
We display "EN", and we should add a title "English" and we should do so everywhere (for all language badges).

First reported in 2017 at https://github.com/kiwix/web/issues/24

[2022-01-28 05:30] kelson42 opened #695 "Deb CI failing: Unsupported release hirsute"
See recent action https://github.com/kiwix/libkiwix/runs/4971228815?check_suite_focus=true.

The error is recurring and not sporadic.

[2022-01-28 05:32] kelson42 commented on #695
@legoktm I suspect that this CI shoukd be removed because Hirsute is EOL, see https://www.mail-archive.com/kernel-packages@lists.launchpad.net/msg470392.html

[2022-01-28 09:15] Popolechien opened #696 "Zim files requiring Service Workers should be hidden from the library if SW are not available"
Currently zimit-generated files can only be read on Kiwix-Android and Kiwix-serve (K-Desktop has a workaround but it's not main stuff). Desktop, macOS and IOS cannot read these files, yet it is likely that at least some users will invest data transfers (and costs) into downloading files they ultimately cannot access.

Since zimit-generated files are tagged as such, it would make sense that they be

[2022-01-28 13:24] juuz0 commented on #692
What does behind mean here? Is this about replacing EN by English, like this:
![image](https://user-images.githubusercontent.com/26814569/151554326-bdaadca7-56bb-4c8c-9d59-c4c7b857ba71.png)
![image](https://user-images.githubusercontent.com/26814569/151554380-fbd75c5e-e753-44c6-b20d-1f3f9bbe8523.png)

[2022-01-28 14:08] kelson42 commented on #692
@juuz0 This is not what I meant. I mean adding HTML attributes like following: `title="English" aria-label="English"` to get a tooltip.

[2022-01-28 16:33] juuz0 commented on #692
Thanks, would like to do this!

[2022-01-29 07:40] kelson42 commented on #696
@Popolechien Agree, but this is something to handle in each port, not in libkiwix IMO.

[2022-01-29 09:01] #692 closed

[2022-02-01 07:15] legoktm commented on #695
I submitted PRs for all the repos.

[2022-02-01 07:28] kelson42 commented on #695
Fixed by #698

[2022-02-01 07:28] #695 closed

[2022-02-01 10:39] Popolechien commented on #696
I've created the tickets in /apple and /kiwix-desktop. @kelson42 should I close this ticket here?

[2022-02-01 12:16] #696 closed

[2022-02-03 10:19] kelson42 commented on #650
While you are waiting and interacting with @mgautierfr on https://github.com/kiwix/libkiwix/pull/679 and I suspect it might take weeks ; I would really appreciate to have you looking at this ticket.

[2022-02-03 13:25] veloman-yunkan commented on #650
@kelson42 OK, will do.

[2022-02-03 14:23] kelson42 commented on #608
@automactic New API (listed in OPDS stream) is https://library.kiwix.org/catalog/v2/illustration/pets.stackexchange.com_en_all_2021-04/?size=48 and seems to work fine. We have done many improvements to avoid returning HTTP 5xx errors and we believe it works now fine. If you still see this kind of error, please reopen this ticket immediatly.

[2022-02-03 14:23] #608 closed

[2022-02-03 14:25] kelson42 commented on #611
@juuz0 Do you still plan to fix this bug?

[2022-02-03 14:25] kelson42 commented on #520
This ticket is really old and we have done many improvements on performance side. There is no sign that this problem is still there.

[2022-02-03 14:25] #520 closed

[2022-02-03 14:27] kelson42 commented on #652
@automactic Without feedback on your side, I plan to close this ticket in the next weeks.

[2022-02-03 15:37] kelson42 commented on #394
@mgautierfr I want to confirm that to my opinion we are ready to go with this, using the simpliest variant with iframe. The goal is to avoid modifying the DOM of the article. Still, in a first time I would recommend to build this as an option to let us time to fully evaluate the solution.

[2022-02-03 15:42] kelson42 commented on #441
@mgautierfr I would need a full analysis of the problem/fix here.

[2022-02-03 15:43] kelson42 commented on #479
@maneeshpm Any thoughts about the plan? Would you be ready to implement it?

[2022-02-03 18:42] juuz0 commented on #611
@kelson42 Yep, slid out of my list somehow. By tomorrow for sure

[2022-02-05 17:39] kelson42 opened #702 "Implement OPDS "search" sorting"
Currently there is no sorting at all.

Once we will have introduced the attribute of popularity this will be necessary, see #489

But there is another need. I wanted to be informed about the latest ZIM published via OPDS and I remarked that:
* There is not sorting by date (descending)
* There is not even a way to filter with a creation date range

[2022-02-05 19:40] veloman-yunkan commented on #650
This presents some maintenance challenge. kiwix-serve static resources are referenced in other static resources. For example, `static/templates/index.html` references, among others, `static/skin/isotope.pkgd.min.js`, `static/skin/iso6391To3.js`, `static/skin/index.js`:

https://github.com/kiwix/libkiwix/blob/ce24b1fa5f4ab2d128329b233d50c474cee1d3c0/static/templates/index.html#L41-L43

By adopting

[2022-02-06 09:24] kelson42 commented on #683
@veloman-yunkan This specific has already been reported and fixed in the past, see #371. I wonder we still have it.

[2022-02-06 09:54] kelson42 commented on #683
I believe to understand the problem, there is a mix between host_system and target_system in the Meson file. https://mesonbuild.com/Cross-compilation.html Is really instructuve, and actually this error is a common one :)

[2022-02-06 10:24] kelson42 commented on #650
From this comment, I'm not 100% sure we have a common understanding about how to do this "cache busting". Whatever the value of `?UNIQUE_ID` (in the `script` nodes URLs for example), kiwix-serve will deliver the proper content as the js resource name stays sthe same (everything before the question mark). The only point is that if the browser cache will handle things properly.

From the technical s

[2022-02-06 14:47] veloman-yunkan commented on #650
@kelson42 I never said that the solution won't work. My point was that a straightforward implementation will add some maintenance headache. For example, `static/templates/index.html` contains the following line:

[code]

We can change it to

[code]

and then, when we modify `static/skin/index.js`, change it again to

[code]

and so on. I am looking for an approach that will work automatically.

P.

[2022-02-06 15:01] veloman-yunkan commented on #650
What about the following scheme?

The quasi-revision¹ of a resource can be obtained automatically by the following command:

[code]

When new commits affecting `static/skin/STATIC_RESOURCE_PATH` are added this number only grows and can serve as a base for deriving the `UNIQUE_ID` token for that resource.

We can have a script that preprocesses the templates in `static/templates/` by appending thus

[2022-02-06 15:30] kelson42 commented on #650
OK

I think it is better to to that in meson and C++. Your approach seems less clean and robust to me... but you are the dev. and as long as it works and @mgautierfr agree with it, this is fine to me.

[2022-02-06 16:32] veloman-yunkan commented on #702
Before implementing this enhancement we need to make sure that it plays well with the [OPDS spec](https://specs.opds.io/opds-1.2#62-sorting-relations). The spec mentions three fields that have to do with dates:

Thus

- `atom:updated` is the date corresponding to the OPDS Entry (rather than the publication associated with it). In our case this should be the time when the book was added to the libr

[2022-02-06 21:17] kelson42 commented on #702
@veloman-yunkan Thank you for this research work, this is englighting!

If I understand properly, if we restart kiwix-serve, then all these values will be reseted. I hardly see if this works like this how this could be useful at all, actually it would be pretty misleading IMO.

The only scenario I can imagine is that this is the same file, but a few metadata have been changed. A situation which do

[2022-02-07 02:14] thavelick opened #704 "Add book titles to search results"
When seaching across multiple zim archives it would be useful to be able to see which archive each search result came from to avoid confusion.

For instance, in my case I have Wikipedia, archwiki, and python documentation amongst others set up with kiwix-serve. If I seach for something technical like `Python` across all these books, it can be really confusing which book each result came from.

Mos

[2022-02-07 05:08] kelson42 commented on #704
Seems to be a duplicate of https://github.com/kiwix/kiwix-tools/issues/478

[2022-02-09 06:01] #652 closed

[2022-02-09 06:09] #683 closed

[2022-02-09 21:54] tim-moody opened #707 "root.xml has summary in place of description"
https://wiki.openzim.org/wiki/Metadata has a mandatory Description, but https://library.kiwix.org/catalog/root.xml has instead a `<summary>`

[2022-02-10 03:14] kelson42 commented on #707
What should be the proper behaviour to your opinion?

[2022-02-10 13:31] mgautierfr commented on #707
From the OPDS spec (https://specs.opds.io/opds-1.2#513-summary-and-content) I understand that summary should be used for a small text describing the content and to be display to the user.
From this part (https://specs.opds.io/opds-1.2#511-relationship-between-atom-and-dublin-core-metadata) I understand that we should use `atom:summary` and not `dc:description`.

[2022-02-10 14:14] veloman-yunkan commented on #650
Relying on `git` for obtaining the `UNIQUE_ID` of a resource will create obstacles when building libkiwix from downloaded (rather than cloned) source. A workaround is to add to the repository a file with revisions of all static resources and update it in an automatic way using the above method.

[2022-02-10 14:31] juuz0 commented on #582
There is a problem (or a good thing?) with using `/catalog/v2/entries?q=tag:tagname`.
Consider two tags : `science` (this is not on any book, but just for example if two tags started with the same word) and `science in the bath`.
If we use `?q=tag:science`, this will show **every** book whose tags start with **science**, thus **science in the bath** also.
![image](https://user-images.githubusercon

[2022-02-10 14:41] tim-moody opened #708 "Introduce ZIM file size in OPDS entry"
Size is in the href for the image, but I don't see it for the zim itself. This is important for checking storage when automating downloads.

[2022-02-10 14:58] tim-moody commented on #708
Actually It is in root.xml and the Kiwix server, but not in the opds feed returned by iiab.me. Is that due to the version of kiwix-serve?

https://library.kiwix.org/catalog/search?name=wikipedia_en_all
http://iiab.me/kiwix/catalog/search?name=wikipedia_en_all

my kiwix-serve version is

root@iiab-me:~# /opt/iiab/kiwix/bin/kiwix-serve -V
kiwix-tools 3.2.0

libkiwix 10.0.1
+ libzim 7.2.0
+ libxapian

[2022-02-10 16:53] kelson42 commented on #708
@tim-moody Indeed! Pretty surprised it is not there. This is important to have it and to be able to filter based on it.

See https://www.dublincore.org/specifications/dublin-core/dcmi-terms/terms/extent/

[2022-02-10 17:33] kelson42 commented on #582
@juuz0 Your comment is really interesting.

First the `tag=...` is exactly what is needed here. So we can reduce the discussion to how this ability to filter should look like.

Then your remark about `q=tag:...` would be IMO really appropriate in #599

[2022-02-11 10:15] juuz0 commented on #582
Indeed, I don't have much idea here. Earlier I thought, filling the search box with "tag:tagname" should work but if we are using `tag=...` here then IMO there should be some other way to tell the user which tagged has been added (and a way to remove the filter also). Do you have ideas?

[2022-02-11 10:26] kelson42 commented on #582
@juuz0 I don't have a definitive opinion but for the moment I think of:
* Making the tags clickable
* Display the applied tag filters in a form of badges beside the selectbox
* Clickin on a badge woukd remove a tag filter

[2022-02-11 20:49] #707 closed

[2022-02-16 11:59] #704 closed

[2022-02-19 07:13] veloman-yunkan commented on #702
Should we fix it both in `/catalog` and `/catalog/v2` OPDS feeds or only in the latter?

[2022-02-19 07:47] veloman-yunkan commented on #702
In #715 I added `<dc:issued>` to both legacy (`/catalog`) and current (`/catalog/v2`) OPDS feeds.

[2022-02-19 08:16] veloman-yunkan commented on #650
How should this interact with the decoration of `text/html` content? If `Etag` is issued from the ZIM ID only, then a change in the taskbar templates will not invalidate the cache and we may arrive at a situation where out-dated taskbar code will work in combination with updated front-end code served via the `/skin` endpoint. Even simpler, restarting the server with a different value for the `--ur

[2022-02-19 08:21] veloman-yunkan commented on #650
This may be a good time to once again reconsider #394

[2022-02-19 09:37] kelson42 commented on #650
@veloman-yunkan Your two last comments are pertinent IMO. In this ticket I simply have chosen to ignore the fact that part (taskbar) of each article is chrome and is conceptually different... and that treating it in an undifferentiated manner would lead to unexpected behaviours. This is just a limitation of the current design IMO.

See my comment at https://github.com/kiwix/libkiwix/issues/394#iss

[2022-02-19 09:52] kelson42 commented on #702
I have created a ticket to track this idea at https://github.com/openzim/overview/issues/9

[2022-02-19 17:20] veloman-yunkan commented on #394
Such URL scheme for iframe content will prevent the links inside the iframe from working automatically. The current implementation of the `/raw` endpoint (`/raw/BOOKNAME/content/PATH/TO/ZIM/ENTRY`) should work out-of-the box.

[2022-02-25 10:44] kelson42 commented on #611
@juuz0 Could you please with a new commit add support to https://en.wikipedia.org/wiki/Dagbani_language. We newly have ZIM files in this language, see https://farm.openzim.org/recipes/wikipedia_dag_all. Here a similar ticket at Zimfarm level https://github.com/openzim/zimfarm/issues/677.

[2022-02-25 10:52] juuz0 commented on #611
Doing :+1:

[2022-02-28 05:57] liam1241 opened #719 "Vulnerable Version of JQuery (v1.10.2) Used"
Hello, I host a Kiwix-serve instance on my local network. I discovered while running vulnerability scans that Kiwix-serve uses an outdated version of JQuery (v1.10.2) that has multiple XSS vulnerabilities (CVE-2020-11022 and CVE-2020-11023 are the ones my scanner stated). Upon further researched I realized libkiwix makes use of the same JQuery version, so I decided it'd be best to only open an iss

[2022-02-28 07:54] kelson42 opened #720 "Does kiwix-serve --monitorinLibrary uses too much resources?"
We have rolled out this option on `library.kiwix.org` and this is now really slow. We are not sure this is related, but we are suspicious. CPU seems good but overall load is super high
[code]

[2022-02-28 08:05] kelson42 commented on #720
After restarting the library.kiwix.org docker container, then the load was back to normal and all the defunct kiwix-serve process have vanished

[2022-03-04 14:40] veloman-yunkan commented on #720
Do you have an idea what happens? Where do those defunct processes come from? Do they correspond to threads handling concurrent requests? Did the kiwix-serve process run continuously since it was started or it was automatically restarted multiple times because of becoming unresponsive? Are there any logs?

[2022-03-05 16:07] #611 closed

[2022-03-08 17:12] #509 closed

[2022-03-08 17:38] kelson42 commented on #479
@maneeshpm We need to move quickly now an this. Therfore, I have reassigned the ticket to @mgautierfr. Hope this is OK for you?

[2022-03-09 05:30] kelson42 commented on #395
#509 been implmented now, we woukd be ready to work on this ticket.

[2022-03-09 14:16] kelson42 opened #722 "[REGRESSION] Fulltext search partly broken (no result) with master branch"
This is what I get with dev master branch:
![image](https://user-images.githubusercontent.com/1029718/157459108-1f63a8e6-a299-45b6-be7e-9382d984b85e.png)

And here the result with release 3.2.0-1:
![image](https://user-images.githubusercontent.com/1029718/157459265-f3efe5d9-41b6-4909-a6b2-df04eba05b28.png)

I suspect one of the last merges to have created a regression

[2022-03-09 14:18] kelson42 opened #723 "Wrong html entities in kiwix-serve ft result page"
Look:
![image](https://user-images.githubusercontent.com/1029718/157459589-86e3e236-ddb1-4444-a997-867ef120ff54.png)

Which should properly see the search pattern with "<toto>"

[2022-03-11 16:05] juuz0 commented on #723
Assigning back to mgautierfr - fixed already, I assume

[2022-03-11 16:48] kelson42 commented on #723
@juuz0 Why you believe it is fixed? I have obviously tested with latest master head.

[2022-03-11 16:55] juuz0 commented on #723
@kelson42 I meant with https://github.com/kiwix/libkiwix/commit/a83e99dcee3823de32ecf6e435f287a9a3dc3997 in PR https://github.com/kiwix/libkiwix/pull/724

[2022-03-11 16:57] kelson42 commented on #723
OK, should be tested, but woukd be surpised.

[2022-03-11 17:00] juuz0 commented on #723
I did test, shows
![image](https://user-images.githubusercontent.com/26814569/157912923-63414dff-db75-4cc6-951d-7f22ccc9a7da.png)

[2022-03-11 17:05] kelson42 commented on #723
WONDERFUL!

[2022-03-14 16:09] srousset opened #726 "Kiwix Server – Multiple hits, different contents scope, identical descriptions"
Hello,

Seems to me that Kiwix Server doesn't make it easy to differentiate between variants of the same basic contents. It would be good to make it clear for the average user. An example is best to explain the issue (which isn't limited to that single example)…

In Kiwix Server, let's say that you select language = French (français), category = Wikipedia, and you leave the Search field empty. Thi

[2022-03-16 10:52] mgautierfr commented on #726
I agree. We should add some information about the variants. This chould be "easily" fixed by displaying the different tags `_image`/`_video`/...

[2022-03-17 01:22] kelson42 commented on #726
This is pretty much a duplicate of #421

[2022-03-17 01:26] #726 closed

[2022-03-17 01:27] kelson42 commented on #421
Superseeded by #545

[2022-03-17 11:24] mgautierfr commented on #421
I disagree with the superseed.
#545 is about kiwix-serve main page displaying correctly variant and allowing the user to filter by variant.

This one is far more generalist. It ask the question of how to handle variants. Do not implementing at libkiwix level means that all clients must handle the flavour/variants by themselves and potentially regroup them using different criteria.

[2022-03-18 06:20] kelson42 commented on #421
This is the job of the UI and for kiwix-serve we want:
* flavour filter
* flavour indicator

[2022-03-19 17:55] kelson42 commented on #457
@mgautierfr @veloman-yunkan It seems, because there is no documentation to that function, that the first argument has to be a directory path? Otherwise, to me, ending the path with a trailing space would to me say this is a directory and otherwise this is a file!

[2022-03-23 13:41] kelson42 opened #728 "Release 10.1.0"
Following remark from @legoktm at https://github.com/kiwix/libkiwix/pull/721#issuecomment-1072659656

---------------

Thanks, so https://github.com/kiwix/libkiwix/commit/a59787002510a52171684487a10562d8d096c421 was only included in 10.0.0 (no released Debian versions are affected, just unstable).

Could we do a 10.0.2 release with just this cherry-picked? I note that even library.kiwix.org is vul

[2022-03-23 13:42] kelson42 commented on #728
@legoktm I never made a CVE report before indeed. If you can do one, thank you.

[2022-03-23 13:47] kelson42 commented on #720
@veloman-yunkan The problems seems to come from the `kill` operation we rung here https://github.com/kiwix/maintenance/blob/master/library-docker/bin/restart-kiwix-serve.sh#L19.

I can not reproduce the problem locally, but I have tried directly on `library.kiwix.org` and this really seems to be the root cause. I even have tried with `15 (TERM)` but doing this I still get zombies.

So, if we don't

[2022-03-24 16:46] veloman-yunkan commented on #720
An immediate question is: why is a KILL signal used to stop kiwix-serve? [Processes should be killed with a KILL signal only as a last resort](http://mywiki.wooledge.org/ProcessManagement#I.27m_trying_to_kill_-9_my_job_but_blah_blah_blah...).

[2022-03-24 17:14] kelson42 commented on #720
@veloman-yunkan Sending SIGTERM leads to the same behaviour. What would you propose as alternative to request kiwix-serve daemon to stop?

[2022-03-24 17:37] veloman-yunkan commented on #720
@kelson42 SIGTERM must be used for terminating a process. Any problems with handling SIGTERM must be debugged and fixed.

[2022-03-24 18:17] kelson42 commented on #722
@mgautierfr We should have looked at this one before releasing 10.1.0... but I have forgotten about it :(

[2022-03-24 18:22] #728 closed

[2022-03-24 21:06] legoktm commented on #728
Thank you for putting out the release, I just requested a CVE ID, and will comment here when it is assigned.

[2022-03-25 05:22] kelson42 commented on #430
Depends on https://github.com/kiwix/kiwix-desktop/issues/805

[2022-03-25 11:23] kelson42 commented on #720
@veloman-yunkan Yesterday, I have rebuilded/relaunched the library container with latest kiwix-serve and used the opportunity to put a proper `SIGTERM` signal, see:
https://github.com/kiwix/maintenance/pull/217/files

After restart I had to `<defunct>`  kiwix-serve process... but this morning, the first one have already appeared :(

[code]

[2022-03-25 21:42] sobaee commented on #131
Interesting

Now, please tell me about the difference between 2 wikipedia english medicine zim libraries founded beside each other, one has a tag "maxi" and the other has no tag

There is a very big difference in size
Is it worth to download the 7 gb file?

![Screenshot_20220326002229](https://user-images.githubusercontent.com/65910585/160205534-9748f2c5-c964-4e98-9a53-860f05df02b7.jpg)

[2022-03-25 21:56] rgaudin commented on #131
No tag means the full thing so with videos for instance, that maxi doesn't include (though it includes pictures). I don't know wikimed so there might be additional differences

[2022-03-26 08:51] carnil commented on #728
Looks CVE-2022-27920 got assigned to this issue.

[2022-03-26 08:55] kelson42 commented on #728
@carnil Thx for noticing, this shoudl be fixed in libkiwix 10.1.0 we have released a few days ago.

[2022-03-26 09:21] veloman-yunkan commented on #720
My analysis of [kiwix/maintenance/library-docker/bin/start.sh](https://github.com/kiwix/maintenance/blob/c2e990ab6a4e148183258cf26cf1f20e0bbda552/library-docker/bin/start.sh) and [kiwix/maintenance/library-docker/bin/restart-kiwix-serve.sh](https://github.com/kiwix/maintenance/blob/c2e990ab6a4e148183258cf26cf1f20e0bbda552/library-docker/bin/restart-kiwix-serve.sh) suggests that the zombie processe

[2022-03-26 09:33] kelson42 commented on #720
This is probably wrong, here is something I made live on `library.kiwix.org` (unfortunately I can not reproduce localy)

[code]

[2022-03-26 12:46] veloman-yunkan commented on #720
Do you kill a process belonging to a docker container from outside the container?

[2022-03-26 13:50] kelson42 commented on #720
@veloman-yunkan This is the case here, yes.

[2022-03-27 11:55] veloman-yunkan commented on #720
It look like the problem belongs to the parent process of kiwix-serve. See https://linuxreviews.org/Defunct_process

@kelson42 Will you please find out the parent process of the defunct `kiwix-serve` processes using the `ps -ef` command?

[2022-03-27 13:52] kelson42 commented on #720
[code]
and
[code]

[2022-03-27 14:05] kelson42 commented on #720
This problem seems stringly tight to docker. Looks like somehow the PPID of kiwix-serve is the Varnish process in place of ths bourne shell process to me.

[2022-03-27 14:49] veloman-yunkan commented on #720
I think that everything is correct. When started in `--daemon` mode `kiwix-serve` detaches itself from the parent shell process and becomes a child of the `init` process (which in this container is `varnishd`)

[2022-03-27 14:52] kelson42 commented on #720
@veloman-yunkan So, what is wrong to your opinion?

[2022-03-27 15:03] veloman-yunkan commented on #720
I guess the problem is that we don't have a proper `init` process in our container (`dumbinit` or `tini`, see https://stackoverflow.com/questions/37374310/how-critical-is-dumb-init-for-docker). It would be needed even if kiwix/maintenance#204 is implemented.

[2022-03-27 15:07] kelson42 commented on #720
@veloman-yunkan Thank you for your analysis on this.
@rgaudin @mgautierfr Should we close this ticket in favour of https://github.com/kiwix/maintenance/issues/204 (as duplicate)?

[2022-03-28 09:22] mgautierfr commented on #131
Tags are information stored in the zim file themselves and and can be found in the catalog (this is a opds catalog with different api endpoints, but if you want a simple xml feed with all information this is https://library.kiwix.org/catalog/v2/entries)

The filename follow a different naming system, this is probably specified somewhere but I don't know where. @kelson42 may help here.

[2022-03-28 12:49] mgautierfr commented on #720
You should use dumbinit (or tini) as said by @veloman-yunkan and how it was made in https://github.com/kiwix/kiwix-tools/pull/489

In our case varnish is the PID 0 and it becomes parent of kiwix-serve process (and never `wait()` for it as it is not a init process).

kiwix/maintenance#204 is not related to this issue.

[2022-03-28 13:26] mgautierfr opened #735 "Fix readthedocs documentation generation"
Documentation generated by readthedoc doesn't compile anymore.

See https://readthedocs.org/projects/libkiwix/builds/16488633/

[2022-03-28 13:50] #735 closed

[2022-03-28 15:23] kelson42 opened #737 "Monitor CVE-2018-25032 zlib memory corruption"
https://www.cvedetails.com/cve-details.php?t=1&cve_id=CVE-2018-25032

And verify we are not impacted when analysis is completed. It seems we deliver our softwares based on zlib-1.2.8

[2022-03-29 12:42] #723 closed

[2022-03-30 08:34] mgautierfr commented on #585
I'm not sure this enhancement is still wanted.
At least of BSF side, they have replaced ideascube by olip. And olip proposes the kiwix application like a whole instead of displaying each individual contents.
And even if they were presenting content, the widget would probably be specific to their use case (ie, not generic enough to have kiwix-serve generate it).
We should propose them to build the

[2022-03-30 10:25] kelson42 commented on #585
This is not for BSF, this is for our own Web sites and it is important to provide an easy way to anybody wanting to list tiles on his own Web site.

[2022-03-30 10:40] mgautierfr commented on #585
What you describe in your first message explicitly speak about make life easier for people integrating kiwix in there solution.
Can you be more explicit about what is wanted ? Do you want us to provide html subset on a API endpoint the integrator could embedded blindly in their own webpages ?

[2022-03-30 10:49] kelson42 commented on #585
Yes this is the idea.

[2022-04-01 12:36] mgautierfr opened #740 "Expose (kind of) `InternalServer` in the public API ?"
The server feature in libkiwix does several things:
- Listen for http request (using libmicrohttpd) and convert it to a `RequestContext`
- Parse the request to understand what user want.
- Find the correct books/Archive/Searcher in the library and "resolve" the user request.
- Build a `Response`
- Convert the `Response` to a libmicrohttpd's response and send back the data to the user.

The first a

[2022-04-01 20:11] thavelick commented on #722
I'm experiencing some weird ranking/indexing behavior with kiwix serve vs kiwix desktop that might be related to this.

Pretty much any search I do with `kiwix-serve` ranks things in a way that is pretty much worthless and seemingly random. Whereas `kiwix-desktop` gives me the results I expect. This started happening upon upgrading to 10.1.0.

This screenshot contains kiwix wikipedia searches for

[2022-04-02 02:04] kelson42 commented on #722
@kelson42 Wow... really weird, might be even an other bug!

[2022-04-02 02:47] kelson42 commented on #740
First impression on my side: sounds a good idea, but I have a really superficial understanding of all what this concretly mean. Probably the feedback from @veloman-yunkan here is far more valuable than mine :)

[2022-04-02 02:59] thavelick commented on #722
@kelson42 I'm using `wikipedia_en_all_maxi_2021-12.zim`.

There's a couple things I want to do to further confirm this bug:
1. I want to compile with the latest commits on `master`. It's possible the ones related to search have already fixed this
2. I've used this machine for some personal libkiwix delevelpment. I'm pretty sure I removed all my own stuff and have things installed in common way (vi

[2022-04-02 03:28] thavelick commented on #722
I confirmed the same issue with the docker container for `kiwix-serve` which I believe builds from `master` and nothing weird in my local environment should cause it to act any differntly, so that takes care of both cases in my last comment.

[2022-04-02 03:50] thavelick commented on #722
Okay, I've been able to narrow my bug down. This bug does NOT occur with:

[code]

but it DOES occur with

[code]

So judging form the timeline, since it was introduced 5 days ago, my bug is definitely a different bug than the one @kelson42 identifed 24 days ago. Let me know if I should open a separate issue.

[2022-04-02 03:54] thavelick commented on #722
Also, if I should open a different ticket, should I open it in the `kiwix-tools` repo? It's a little strange because there hasn't been any commits on `kiwix-tools` in the timeline in question here, so it must be a `libkiwix` issue right?

[2022-04-02 06:11] kelson42 commented on #722
@thavelick Thx for your investigation. Yes, please open a new ticket, but please make the reproduction steps with released version of Kiwix, so we can be sure this is not something special to your code base.

[2022-04-03 03:08] xiaoyifang opened #741 "when search using fullindex,application crashed."

[2022-04-03 14:11] juuz0 commented on #741
:+1: I can reproduce, looking into it

[2022-04-03 15:37] thavelick opened #742 "[REGRESSION] Seach ranking broken on as of `kiwix/kiwix-serve:3.2.0-2`"
# Description
As of the release of `kiwix-tools-3.2.0-2` search ranking seems to be completely broken and there are some missing results.

Since there hasn't actually been any code changes on kiwix-tools since this bug started, it must be related to a recent regression on libkiwix.

The problem happens starting with: http://mirror.download.kiwix.org/release/kiwix-tools/kiwix-tools_linux-x86_64-3.2

[2022-04-03 15:41] thavelick commented on #722
@kelson42 I opened a dedicated ticket for the issue I found here: https://github.com/kiwix/libkiwix/issues/742

[2022-04-03 16:00] thavelick commented on #742
Looking at the resutls count in my screenshots, I'm realizing now that the quality results may not even be in the result set, which means this may not be a ranking issue at all. A result can't rank well if it doesn't exist.

[2022-04-03 17:24] thavelick commented on #742
Well now I'm confused. I can no longer reproduce this building from source with `kiwix-build`. Maybe there was a problem with some dependency of libkiwix like libzim that's been fixed in the last few days?  I can still reproduce this with the docker based steps above, so there's still a reall issue, but I suspect this may simply be fixed by cutting a new release of kiwix-tools/kiwix-serve with all

[2022-04-04 04:01] thavelick commented on #615
@kelson42 - I'd be happy to work on this if there's need and no one else is tackling it. I've been considering updating kiwix-serve to do something like this regardless.

[2022-04-04 04:42] kelson42 commented on #615
@thavelick Yes, you are welcome to work on this ticket.

[2022-04-04 14:22] mgautierfr commented on #722
This issue seems to be fixed with last published nightly (2022-03-30) and is still broken with the previous one (2022-03-29). This correspond to the merge of #724

[2022-04-04 14:38] mgautierfr commented on #722
The root cause is https://github.com/kiwix/libkiwix/pull/620/files#diff-9e3da86d6232708bc11700bf2326552f6ad16b40c029c3ac138470bf4e7d9be7R577-R578 in PR #620
We do a search for `FT:toto` instead of `toto`. I confirm this is fixed with #724 even if it was not the initial goal.

[2022-04-04 14:38] #722 closed

[2022-04-04 16:20] mgautierfr commented on #615
We don't have this static list now (except raw xml catalog opds feed)

---

Somehow related to #716, if we don't have js support, we probably want to have this list to point to the "nojs viewer" (raw content) of the zim.
Don't know where/when to handle this, but to keep in mind.

[2022-04-05 14:48] thavelick commented on #742
Yeah, I'm good with master now. Thanks!

[2022-04-05 15:27] holta commented on #742
Likewise, Thanks all for the fix!

( https://download.kiwix.org/nightly/2022-04-05/ appears to repair kiwix-tools 3.2.0-2's serious deterioration with full-test / FT search results. )

[2022-04-05 17:19] #742 closed

[2022-04-06 15:34] kelson42 commented on #741
@juuz0 Any news?

[2022-04-07 18:23] juuz0 commented on #741
Not yet, unfortunately :\

[2022-04-08 09:45] mgautierfr commented on #741
It seems that the zim files doesn't contain a full text index. So we cannot search on it.
kiwix-serve detect that and doesn't provide a fulltext search option (and handle this correctly if user request on search on it).
kiwix-desktop is "simply" not prepared for this 🤦🏽 (kiwix IOS also it seems).

Transferring the issue to kiwix-desktop.

[2022-04-08 12:40] mossroy commented on #740
This looks interesting, but would most probably not be usable in kiwix-js.

In kiwix-js, we do such thing in a ServiceWorker (which traps the user HTTP requests). But a ServiceWorker is very isolated, and notably can not access the ZIM file.
So we would not be able to use it as a one-chunk emscripten-compiled C code, that handles the requests from A to Z.

[2022-04-08 14:05] mgautierfr commented on #740
How do you respond to the user request then ? You "transfer" the request to something that can access the ZIM file ?

The idea of this issue is to separate the front request handling (parsing the incoming request to know what to do) from the back (doing what is requested).
If you transfer the request for the SW (the front) to something that can access zim files (the back), you could transfer somet

[2022-04-08 17:44] mossroy commented on #740
Exactly. We transfer it through a MessageChannel to the main thread, and transfer it back to the ServiceWorker.

Unfortunately not. There are big restrictions on what can be transferred: https://developer.mozilla.org/en-US/docs/Glossary/Transferable_objects

On the other hand, I discover that recent browsers now allow to transfer a https://developer.mozilla.org/en-US/docs/Web/API/ReadableStream ,

[2022-04-08 19:37] mossroy commented on #740
On kiwix-js, the protocol can not be `zim`, and the zim_id can not be the host.
The links are relative links, and use the same protocol/host as the app itself: `http://localhost`, `moz-extension://extensionid`, `chrome-extension://extensionid` etc.

We currently put the zim_id as the first part of the path. Example (under Chromium extension): chrome-extension://donaljnlmapmngakoipdmehbfcioahhk/wik

[2022-04-08 21:17] migel-wimtore opened #748 "Kiwix-search: search behaviour changed post version kiwix-tools-3.1.2-6-x86_64"
Hi. After recently updating kiwix-tools the default search behaviour supported by kiwix-serve has changed.

Let me try and describe the issue.

Previously it was such that when i searched my Zim file using a web browser served by kiwix-serve, i would be taken straight to a certain page. For instance, when i searched for 'house' i would be taken to the Wikipedia page for 'house', but now i get take

[2022-04-10 03:31] juuz0 opened #745 "How to use zim::Entry getEntryFromPath() in kiwix-desktop?"
`zim::Entry getEntryFromPath(const zim::Archive& archive, const std::string& path)` is in archiveTools.h
Should this be made available via `kiwix/tools.h`?
OR
Should there be an identical function in kiwix-desktop itself?
OR
Is there already a way to use this function in kiwix desktop?

[2022-04-10 05:06] kelson42 commented on #745
@juuz0 It should be used directly afaik.

[2022-04-10 12:47] kelson42 opened #746 "Release libkiwix 10.1.1"
- [x] Secure the CI is green on git `master`
- [x] Kiwix-Build is OK
- [x] Update the Changelog
- [x] Update version
- [x] Close current milestone and create new one incrementaly (_a priori_ a minor version)
- [x] Create a tag on git
- [x] Secure new source/sbinaries are published on http://download.kiwix.org
- [x] Update the Github release with the Changelog
- [x] Create new empty entry in Change

[2022-04-10 14:45] veloman-yunkan commented on #708
@tim-moody OPDS feed contains the `<link rel="http://opds-spec.org/acquisition/open-access" type="application/x-zim" href="{{{url}}}" length="{{{size}}}" />` element only for those entries that have a download link associated with them (in library.xml it is defined via the `url` attribute).

[2022-04-10 14:49] kelson42 commented on #708
@veloman-yunkan I don't understand. If you look at view-source:https://library.kiwix.org/catalog/search?name=wikipedia_en_all, there is nothing like this `<link rel="http://opds-spec.org/acquisition/open-access" type="application/x-zim" href="{{{url}}}" length="{{{size}}}" />`, but all the ZIM files are downloadable!

[2022-04-10 14:52] kelson42 commented on #708
@tim-moody So actually all good, no reason to keep this ticket open right?

[2022-04-10 15:07] tim-moody commented on #708
So to summarize:

* in the old library_zim.xml zim size was an explicit attribute
* in the new root.xml it is an attribute of a link attribute
* in library.kiwix.org/catalog that link is present along with the size attribute
* in a locally installed kiwix-serve the opds feed does not include the link attribute because it is thought not to be downloadable and therefore it also does not include the

[2022-04-10 15:20] veloman-yunkan commented on #708
Yes

[2022-04-10 15:23] veloman-yunkan commented on #708
Though this is slightly an overstatement (a wrong generalization of your current setup). A locally installed kiwix-serve can perfectly serve downloadable files. It all depends on the contents of the libary.xml file it was started with.

[2022-04-10 15:25] tim-moody commented on #708
so you are saying there are some conditions in which the link would be present in the opds feed from a locally installed kiwix-serve? what are they?

[2022-04-10 15:33] tim-moody commented on #708
The library.xml file on iiab.me was created entirely with kiwix-manage. It includes a relative path from the location of library.xml, but no url.

[2022-04-10 15:41] tim-moody commented on #708
To return to the original topic, I think the situation has been clarified with respect to when and where a size attribute is present.

In my view having an explicit size attribute is a better design than having it inside of a link. @kelson42 if you disagree then it makes sense to close this ticket.

[2022-04-10 16:28] veloman-yunkan commented on #708
You can edit the library.xml file and add a `url` attribute for those ZIM files that can be downloaded from somewhere (for ZIM files created by you, you will have to put them online or in your LAN - kiwix-serve doesn't serve ZIM files).

[2022-04-10 18:34] kelson42 commented on #708
I thin, situation is pretty clear now. Sorry I was not able to identify first the length attribute. Problem solved.

[2022-04-10 18:34] #708 closed

[2022-04-11 01:49] juuz0 commented on #745
Directly as in?
Copy all the code of getEntryFromPath() and use it in Kiwix desktop?

[2022-04-11 02:14] kelson42 commented on #745
@juuz0 no copy, just use it. Do like in kiwix-serve. I don't understand what is exactly the problem?

[2022-04-11 12:27] mgautierfr commented on #745
Don't use it.
Either use the same logic in `handleContentRequest` as it is done in kiwix-serve or, if you really want a function, copy the code.
This function was introduced as a helper to avoid duplicated code in libkiwix in the reader and the book. But it is doomed to disappear when we will removed the reader.

[2022-04-11 12:48] mgautierfr commented on #708
kiwix-serve does two different things:
- Serve the content in zim archives. To do so, it needs zim files accessible in a file system.
- Expose a list of zim archives in a catalog. To do so, it doesn't need zim file accessible[*]. A library.xml properly filled up is enough.

But kiwix-serve doesn't allow to download a zim file itself. You need a (static) file server somewhere.
If you want kiwix-ser

[2022-04-11 13:37] mgautierfr commented on #740
This is pretty close from what is used in kiwix-serve.

You don't have to transfert a `kiwix::Request`. You can parse the url yourself (or serialize `kiwix::Request`) and transfert a dictionnary (and it seems it is already what you do)

The main thread would handled the request  by :
- convert you object/json to `kiwix::Request`)
- use the new api to get the content -> which return a `zim::Entry`

[2022-04-11 14:02] tim-moody commented on #708
@mgautierfr yes, I am only interested in local zims. The use case is for someone who is not internet connected and has the Kiwix android app to be able to get the url for downloading a local zim in the OPDS feed. As you say, the actual download would be served by the web server not kiwix-serve. (Internet in a Box has functionality to permit side loading the android app from the server.)

We curren

[2022-04-11 16:24] kelson42 commented on #708
[code]

[2022-04-11 16:29] tim-moody commented on #708
even better. didn't realize url was an OPTION

[2022-04-11 17:53] juuz0 commented on #745
Okay, will follow that thanks :+1:

[2022-04-12 09:01] #737 closed

[2022-04-13 03:39] #746 closed

[2022-04-13 14:48] mgautierfr opened #749 "Use fake language in our translation unit tests."
Following #679

The current tests on translation are based on Armenian language. But it is subject to translation made on translatewiki.
We should use a fake language we could use on test to be sure that translator will not break our tests.

[2022-04-13 14:52] mgautierfr opened #750 "Correctly parse `Accept-Language` header."
The PR #679 add a preliminary support for `Accept-Language` header. It assumes the header contains a single language.
But most browser fill the header with a list of weighted accepted language. See commit message of 927c125

We should correctly parse the header.

[2022-04-13 14:59] mgautierfr opened #751 "Use mustache lambda to do translation in our templates"
Following #679

The current implementation of i18n use templating a two level :
- Render parameterized messages (translate)
- Render the HTML template (using translated text)

This is somehow complicated (Where should we use `{{}}` or `{{{}}}` ? Cpp code need to know that we use translated message and translate it before rendering the template, ...)

As mustache allow the using of lambda to comput

[2022-04-13 15:31] Shdwdrgn opened #752 "Option to sort libraries shown on kiwix-serve"
When viewing the library of zim files on the kiwix-serve home page, the files have no apparent order to them (either by title, filename, age of the zim file, or the order the files were added to library.xml).

Could we add options to control the order of the zim files?  There are a few different options that should cover most people's requirements:
- Sort alphabetically by title
- Sort alphabetica

[2022-04-13 15:53] kelson42 commented on #752
@Shdwdrgn I think we should start from concrete examples. Would you be able please to give three simple and realistic scenarios which don't deliver what you expected (details about what you expected each time are welcome).

[2022-04-13 17:15] Shdwdrgn commented on #752
Correct... either to be able to define the order specifically, or to have them sorted by some easily-identifiable method like the title shown on the web page or the filename so that the outcome is more predictable.

[2022-04-13 17:31] kelson42 commented on #752
@Shdwdrgn Thx for clarifying your request. This is a feature request that you are not alone to ask for. This is pretty specific and as long as we didn't had proper filters, this kind of feature request was not high prioritised. This seems legitim and I believe we could/should do something in one of the next milestones.

That said, we still need to discuss the "how". This other ticket requests impr

[2022-04-13 18:36] Shdwdrgn commented on #752
From what I can tell of the other ticket, that request seems to be looking for a way for users to sort the content, while I am looking for a sorting option on the administrative side.  However I can certainly see the advantage of merging both of these requests together so an admin could set the default sorting, but then users could select other options.

I agree that simply setting the order based

[2022-04-13 19:44] migel-wimtore commented on #748
Hi. Thanks both for your responses. Kelson42: i would try the nightly but it seems from mgautierfr's comment that what i was describing was actually intended behaviour -- is this correct?

Mgautierfr: hi, i'm not sure i totally understand your message, but are you saying that the old functionality is not coming back?

[2022-04-13 19:50] kelson42 commented on #748
@migel-wimtore Everything is clear now. Not sure what will happen. We have to look/think again at this change in the behaviour of the search and will come back to you.

[2022-04-14 00:06] migel-wimtore commented on #748
@mgautierfr  and @kelson42. Thanks for the follow up. As a heavy Kiwix user (no easy internet access) i would like to very strongly express my hope that the old functionality will make a come back!

For one thing Wikipedia itself goes straight to the article (so there is user expectation) but also the search results page organisation isn't the most intuitive: ie there is no hit for 'house' on the

[2022-04-14 13:08] mgautierfr commented on #748
There is several things:

First, the behavior you want : It is that you enter term (`house`) in the search input in the topbar and you press enter, as there is one article named `house` you go directly to the article. This was indeed a existing behavior and it the behavior of wikipedia.

This behavior was implemented in kiwix-serve by the backend. When you pressed enter in the search input, fronte

[2022-04-14 17:19] migel-wimtore commented on #748
@mgautierfr. Hi. Yes i want very much the behaviour you describe in the first paragraph of your most recent post.

Very, very much.

Actually i struggle to imagine that anyone asked would /not/ want it. As this is the way Wikipedia works and also it /just/ worked AKA was a good user experience.

As i also mentioned the search results i am seeing for, for example 'house' (and those other things i m

[2022-04-20 09:21] mossroy commented on #740
That looks really interesting!
It's a bit too early for me to say if it's feasible or not in kiwix-js. But it's definitely worth trying.

[2022-04-21 15:02] rgaudin opened #753 "[URGENT] Use gzip instead of deflate"
The server currently supports Content-Encoding for the `deflate` flavor only.

There are 3 flavors in the wild:

- `deflate` which uses the DEFLATE algorithm. It used to have a lot of issues in browser implementations in the past but that's all forgotten with modern browsers I believe. It's slightly faster than gzip (simpler digest).
- `gzip` which uses the DEFLATE algorithm also but its format is

[2022-04-21 15:37] kelson42 commented on #753
FYI @rgaudin is working on revamping the https://library.kiwix.org infrastructure (see https://github.com/orgs/kiwix/projects/14) to allow quicker/smaller HTTP responses and a robuster setup of the Service. He relies on the implementation of this feature (and a new release of libkiwix and build of kiwix-serve) to complete his work *next week*. @veloman-yunkan @mgautierfr Not sure who is in best po

[2022-04-22 09:31] rgaudin commented on #650
Stepping into the discussion as we are revamping library.kiwix.org's frontend (reverse proxy). As discussed with @kelson42, we'd want kiwix-serve to respond properly and not hack its responses into the proxy.

From what I understand, here's to do:

- #394 must be implemented ; with an iframe pointing to `/raw`.
- A unique *library hash* must be set/computed on each library refresh. Could be a UUID

[2022-04-22 12:24] rgaudin opened #754 "/catalog doesn't work without access to ZIM files"
My understanding was that the catalog part of the server (ie. the OPDS engine) would only manipulate catalog-data and thus not require ZIM access. Its is not the case

[code]

Kiwix serve starts and loads the library properly (_The library was successfully loaded._) but the OPDS requests all comes back empty

[code]

`curl localhost:9999/catalog/search?lang=fra`

[code]

[2022-04-22 13:01] kelson42 commented on #754
@rgaudin How looks the Library XML? Do you have urls in it?

[2022-04-22 13:03] rgaudin commented on #754
The library XML is the production one ; didn't you see the wget call above? So yes, there's an `url` attribute on each book. Should that matter?

[2022-04-22 13:07] kelson42 commented on #754
@mgautierfr @veloman-yunkan Definitly a blocker to https://github.com/kiwix/container-images/issues/147

[2022-04-22 13:27] rgaudin commented on #754
Following @kelson42 suggestion, I removed the `path` attributes from all the books in the ZIM and I have a different startup output:

[code]

Though the result it still the same on OPDS endpoints

[2022-04-22 13:37] kelson42 commented on #754
I also believe that if a `path` is given and the ZIM file can not be loaded, the current strategy is to ignore and continue. This looks right, but an ERROR/WARNING message should better be printed.

[2022-04-22 14:05] kelson42 commented on #650
@rgaudin Thx, it clarifies the behaviour with non-static content and seems correct me. Hopefuly for @veloman-yunkan and @mgautierfr as well?

[2022-04-22 14:39] mgautierfr commented on #754
This is something I've realize recently and comment in https://github.com/kiwix/libkiwix/issues/708#issuecomment-1095009085

Copying the important part:

[2022-04-22 15:29] rgaudin opened #755 "Why use human ID in OPDS illustration endpoint?"
Illustration URLs from the OPDS are of the following format

[code]

What is the reasoning behind using the *dated-human ID* instead of the Book ID in this endpoint?

[2022-04-22 16:11] mgautierfr commented on #755
We simply didn't think about this. Indeed the bookId should be better as it is not a url written by human.

[2022-04-23 07:30] DerK777 opened #758 "[REGRESSION] Suggestions are not diacritics insensitive anymore"
Hello. I Have some problems with kiwix. Software version 2.2.1 Windows Desktop Russian. File Wikipedia russian 04.2022. But all older versions had the same problems. Please help to find a solution.
1. When I write in the search line, for example, "Тайфун" (Typhoon), it didn't find it. It offers "полнотекстовый поиск" (full-text search) and then I get link to "Тайфун (значения)" (Typhoon (meanings)

[2022-04-23 10:16] kelson42 commented on #615
@thavelick Any news?

[2022-04-23 11:04] kelson42 commented on #749
Translatewiki uses « qqq » for comments abour strings. Maybe you can reuse that code?

[2022-04-24 18:32] veloman-yunkan commented on #749
qqq.json contains only descriptions of messages without placeholders for parameters that must be replaced in the real message. Thus using qqq pseudolanguage in the unit tests will not verify that parameters are properly set in the code.

[2022-04-24 18:56] veloman-yunkan commented on #758
@kelson42 We don't have such a unit-test for suggestions that checks handling of diacritics. Also, while trying to add one (as the first step toward resolving this issue), I ran against the problem that the ZIM files used in our libkiwix unit tests don't have any articles with diacritics in the titles.

[2022-04-24 19:03] kelson42 commented on #758
@veloman-yunkan If is it necessary to implement #601 fo get this feature properly tested then we will have to do that in TOP priority IMO. But, at the level of maturity we have now in libkiwix, such a regression is for me a bad surprise. Correlated to #722 and #742, this let me think a strong and quick push in searching features automated testing is necessary.

[2022-04-25 14:24] rgaudin opened #760 "Better unexpected exception handling?"
Using a nightly kiwix-serve on the [hidden](https://download.kiwix.org/zim/.hidden/) selection of ZIM files I frequently get the following output:

[code]

The container is then restarted. Looking at the exit code (139), it looks like a segfault.

What I know:
- Library loads fine. it's periodically refreshed as I'm using `--monitorLibrary` but the crashes are uncorrelated.
- Some ZIM files may be

[2022-04-27 16:06] #758 closed

[2022-04-28 08:50] veloman-yunkan commented on #760
Do you mean that the crashes happen even without `--monitorLibrary`?

Before returning a HTTP 500 INTERNAL SERVER ERROR response more debug info is output when run in `--verbose` mode:

https://github.com/kiwix/libkiwix/blob/dc42f831c0723290f47a0514dfdce23f34bde451/src/server/internalServer.cpp#L305-L312

[2022-04-28 08:57] rgaudin commented on #760
No, I've only used `--monitorLibrary` on this instance so I can't say it happens without. I meant to say that the crashes are not happening at the time of the library reloading (which are known).

I'm always running it in verbose mode and I see many `INTERNAL ERROR`, `Unhandled error` as well as crashes. Because there aren't that many requests on this instance, I though the crash and those unhandl

[2022-04-28 10:21] rgaudin commented on #754
From discussion with @mgautierfr and @kelson42:

The issue with implementing this is that kiwix-serve currently serves two purposes:
- an OPDS catalog on `/catalog[/v2]`.
- a ZIM reader that uses the catalog served on the same URL at `/catalog`.

The ZIM browser on `/` is just an HTML shell with a JS app that queries the catalog on `/catalog`.

ZIM browsing could work with a zim-less catalog but s