[2022-04-28 12:36] #753 closed

[2022-04-28 12:41] mgautierfr commented on #760
They may be related. As this server use broken zim files, the first request with the `INTERNAL ERROR` may leave the process in a incoherent state and the next request "uses" this incoherent state and segfault.

[2022-04-29 16:22] kelson42 commented on #479
Fulltext multizim search is fixed with #731. The multizim suggestion work is left to do.

[2022-04-29 16:30] kelson42 opened #762 "Release 11.0.0"
- [x] Merge/apply latest translations from Translatewiki
- [x] Secure the CI is green on git `master`
- [x] Kiwix-Build is OK
- [x] Update the Changelog
- [x] Update version
- [x] Close current milestone and create new one incrementaly (_a priori_ a minor version)
- [x] Create a tag on git
- [x] Secure new source/sbinaries are published on http://download.kiwix.org/release/libkiwix
- [x] Update th

[2022-05-09 04:56] kelson42 commented on #430
Ticket for Kiwix iOS and macOS https://github.com/kiwix/apple/issues/445

[2022-05-09 21:45] rgaudin opened #766 "Round count in homepage request"
kiwix-serve homepage builds a dynamic catalog request based on viewport size which results in requests like:

[code]

kiwix-serve understandably returns 12 entries for such a request. I believe the JS code should round this number so that:
- we make clean-looking requests that look like we know what we're doing
- we benefit from our varnish cache frontend instead of serving all those *unique* requ

[2022-05-09 22:08] rgaudin opened #767 "Magnet link makes no sense"
kiwix-serve, when offering ZIM file downloads offers both a torrent file and a *magnet file*.

`magnet:` is an URL scheme that is understood by browsers and torrent applications but it is not a file type. The magnet link should have the content of that file as its `href` value. Should this be too complicated to implement, I believe (but that's just my personal opinion) that the magnet link should

[2022-05-10 04:00] kelson42 commented on #766
@juuz0 Would you be able please to quicklly fix this?

[2022-05-10 04:54] juuz0 commented on #766
@kelson42 👍

[2022-05-10 19:44] holta opened #769 "(A) Search drop-down [incl 10 suggested article titles] (1) never appears, or (2) appears many seconds later, or (3) appears nearly instantly if you type BACKSPACE — or if you hit ENTER, ERR_CONNECTION_REFUSED is very common (B) SEARCH FAILS when search query is a Greek letter like "pi", "alpha", "beta" ETC"
This irritating problem (appears) to affect all schools and everyone using very large ZIM files (on Raspberry Pi's especially?)

Specifically, this severe UX glitch occurs very often with very large ZIM files like https://download.kiwix.org/zim/wikipedia/wikipedia_en_all_maxi_2021-12.zim

What happens is that users browse to type in a search query into the top-right (e.g. of http://box.lan/kiwix/w

[2022-05-11 04:52] kelson42 commented on #767
@juuz0 Doable at the time the download widget is loaded to read the magnet link page and fill the « href » attribute?

[2022-05-11 14:27] holta commented on #769
@mgautierfr that's a really great explanation (series of explanations!)

Thank you.

Xapian's entire 2.5 GB doesn't need to be loaded into memory as you say &mdash; but if indeed Xapian requires large subsets of that to be moved across the computer's internal bus(es) that would indeed explain a lot :thinking:

(And on the bright side, the better the pattern is understood, the more schools can try

[2022-05-12 02:32] holta commented on #769
@mgautierfr this might be unrelated — but schools perceive this to be very much related:

Would you happen to know why about 30% of full-text searches (on Raspberry Pi, as described above, in essentially every school that uses them) fail completely, with the following message if using Chrome browser:

[code]

Reloading the page a couple times often works, i.e. forcing a 2nd attempt, or a 3rd attem

[2022-05-12 04:18] kelson42 commented on #769
I propose to wait the libkiwix 10.2.0 release and test again with it. If it still fail, then we will try to investigate to get a clear reproduction case.

[2022-05-12 09:05] mgautierfr commented on #769
I don't know why the connection is refused but there is another cause of slow down.

By default, kiwix-serve use only 4 threads to answer requests. If the thread pool is full, connection are accepted by the httpd library but directly put in "wait state" until a thread is freed.
If you start searches with "A", "AI", "AID", "AIDS", you have filled your thread pool and no request can be handle until

[2022-05-12 10:37] kelson42 commented on #769
@mgautierfr We should implement https://github.com/kiwix/libkiwix/issues/395 to avoid one thread to be occuped too long and assure a better distribution of threads usage.

[2022-05-12 10:46] holta commented on #769
Thank you for the explanations & suggestions!

Quick questions below:

Do you know if that applies when the user types in their search string very slowly — does this effectively launch 4 Xapian Title Searches — i.e. using up all 4 threads?

Search strings longer than 4 letters might use up all threads if so, causing serious resource starvation — _if slow typing really does exacerbate these problem

[2022-05-12 10:51] kelson42 commented on #769
I expect within a week.

[2022-05-12 11:27] holta commented on #769
Just FYI all testing mentioned above was reconfirmed with kiwix-tools 3.2.0-4:

[code]

[2022-05-14 15:05] #767 closed

[2022-05-14 20:18] Jaifroid opened #773 "developer.mozilla.org ZIM missing from library.kiwix.org"
I can't find a way to load `developer.mozilla.org_en_all_2022-03.zim` in library.kiwix.org. It appears to be missing, but it is available in download.kiwix.org (zimit directory).

Can it be added? It's very useful!

[2022-05-14 20:29] kelson42 commented on #773
@rgaudin I guess this is a question for you?

[2022-05-15 08:02] #766 closed

[2022-05-17 14:48] mgautierfr opened #775 "kiwix-serve and url encoding"
On the PR #764, @veloman-yunkan raised a important question https://github.com/kiwix/libkiwix/pull/764#discussion_r866235011
As the issue title suggests, it is about url encoding

In libkiwix, we have a function to urlEncode a string : https://github.com/kiwix/libkiwix/blob/master/src/tools/stringTools.cpp#L146-L230
This function has a boolean parameter `encodeReserved` and the function does:
- ke

[2022-05-17 15:38] rgaudin commented on #775
As long as libkiwix operates as a webserver would, I think scrapers would be marginally impacted. We have two kind of scrapers:

- built-from-scratch ones. Those usually don't make use of query parameters and use plain (UTF8) links and paths. Use of fragment is frequent in links but not in paths.
- generic-ones. Those tend to reuse links from original websites so query strings and fragment are to

[2022-05-29 11:03] oxobsd opened #777 "Libzim seems to be compiled without xapian. Xapian support is mandatory."
**OS** : OpenBSD 7.1 GENERIC.MP#559 amd64

## libzim build:
[code]
## libkiwix build:
[code]
[libzim-meson-log.txt](https://github.com/kiwix/libkiwix/files/8793173/libzim-meson-log.txt)
[meson-log.txt](https://github.com/kiwix/libkiwix/files/8793174/meson-log.txt)

## libzim PLIST
[code]

[2022-05-29 21:34] mgautierfr commented on #777
What is the content of `include/zim/zim_config.h`
Do you have any other zim installation (without xapian support) which may conflict your installation of libzim.
libkiwix's meson seems to found a libzim installation in `/usr/local/include` (I don't know if it is your installation or not)

[2022-06-03 20:51] #586 closed

[2022-06-05 05:04] kelson42 commented on #777
@oxobsd Any feedback? Without more information we will have to close the ticket.

[2022-06-08 15:18] kelson42 commented on #740
@veloman-yunkan Feel free to say something about the idea :)

[2022-06-09 12:36] veloman-yunkan commented on #740
@kelson42 I took this proposal seriously even though it was formulated on April Fools' Day and it is on my to-think list since then. This ticket came to my mind during one of our conversations at the Hackathon. I will provide feedback next week.

[2022-06-09 12:40] kelson42 commented on #777
No feedback. @oxobsd Fell free to answer the feedback, but for the moment I close the ticket.

[2022-06-09 12:40] #777 closed

[2022-06-09 14:52] kelson42 commented on #358
This is happens now, code from `kiwix-build` and `libkiwix` will be migrated to `libkiwix-java`

[2022-06-13 16:43] mgautierfr commented on #358
This is done with https://github.com/kiwix/libkiwix/pull/781

[2022-06-13 16:43] #358 closed

[2022-06-15 15:23] fheslouin opened #785 "Multizimsearch : search with multiple language databases"
Searching for multiple keyword gives empty results, see tests cases below.

Example :
- http://kiwix.kiwix-test.ideas-box.cc/search?format=html&pattern=Exigences+materielles+pour+utiliser+Ubuntu gives empty results
- http://kiwix.kiwix-test.ideas-box.cc/search?format=html&pattern=Exigences materielles pour utiliser Ubuntu gives empty results
- http://kiwix.kiwix-test.ideas-box.cc/search?format=htm

[2022-06-15 17:07] kelson42 commented on #785
@fheslouin This is a regression in comparison to earliers tests?

[2022-06-17 07:51] fheslouin commented on #785
That was the first time I was trying multiple key word.

[2022-06-20 07:18] kelson42 commented on #430
@mgautierfr @veloman-yunkan At this stage, and AFAIK, nothing stops us anymore to finally implement this ticket. Right?

[2022-06-20 07:25] kelson42 commented on #549
We have discussed this. This is an intetesting proposal. But the main problem we have is our dependence to jquery... and this dependence will vanish anyway.

To me the main question is: which practical improvement will that bring considering our actual Javascript code base?

[2022-06-20 13:52] veloman-yunkan commented on #740
To the best of my understanding, this proposal seeks to reduce or eliminate some code duplication across several kiwix reader projects. It absolutely makes sense as long as we consider only the total code size of those projects.

Nevertheless, I would like to list below some considerations that must be taken into account when assessing the usefulness of an implementation of this proposal from the

[2022-06-20 15:53] #762 closed

[2022-06-21 08:23] mgautierfr commented on #785
http://kiwix.kiwix-test.ideas-box.cc/search?format=html&pattern=Exigences returns indeed something, but only one result, and in Spanish.

A search for http://kiwix.kiwix-test.ideas-box.cc/search?format=html&pattern=silently+corrected (`silently corrected`) being in the result returned previously, return now two results. (So it seems, two words are working)

On top of that : http://kiwix.kiwix-test

[2022-06-21 09:03] mgautierfr commented on #549
- We would not embed isotope neither.
- As we don't embed a library, we ask user to load (and our server to send) less data. Our binaries don't embed it and so, are smaller.
- As we don't embed a library, we don't have to keep it up to date and we potentially have less security issue

[2022-06-21 09:14] kelson42 commented on #549
@mgautierfr Ok, so the main advantage is to remove js isotop? If we do so the look&feel woukd be kept? Woukd you recode all the isotop library logic?

[2022-06-21 13:05] mgautierfr commented on #549
Yes, but also help us to implement all our frontend (and help us with new feature as incremental search or widget)

We just have to keep our current css

Mostly no. isotop is just a "flexbox" container with few animations. (and svelte handle animation pretty nicely)

---

Here a small POC of what it is possible to do : https://svelte.dev/repl/2b6fd14cbd454b339dc8c55ea32d67e0?version=3.48.0

Please

[2022-06-21 13:06] mgautierfr commented on #430
We need (at least) to do a release of kiwix-desktop which don't use the wrapper first.

[2022-06-21 13:10] kelson42 commented on #430
@mgautierfr OK, but this is a matters of days, you could make one anytime, milestone is empty https://github.com/kiwix/kiwix-desktop/milestone/7.

[2022-06-22 07:26] mgautierfr commented on #549
@juuz0 this could be interesting for you as you work on the frontend also.
Do you have an opinion on svelte ?

[2022-06-22 15:35] juuz0 commented on #549
I have used svelte little only as opposed to react, jquery so not much opinion :)
But absolutely up for higher level of programming - components. As complexity grows in kiwix-serve, it might reach a point where injecting HTML all the time will be infeasible.

[2022-06-24 04:07] kelson42 commented on #785
@mgautierfr Can you please open a dedicated ticket for the bug you have found? And fix it?
@fheslouin Can you please provide a simplified reproduction case?

[2022-06-24 12:01] juuz0 opened #788 "Typo in documentation"
Should be libkiwix

![image](https://user-images.githubusercontent.com/26814569/175529874-d1fd1e37-9362-45cc-a349-7324ebda2471.png)

[2022-06-24 15:18] Retr0g0D commented on #788
Can you please assign it to me @kelson42

[2022-06-25 05:38] #788 closed

[2022-06-25 14:22] #582 closed

[2022-06-26 12:51] kelson42 commented on #769
@holta Would you be able please to provide an update with kiwix-tools 3.3.0?

[2022-06-26 15:47] holta commented on #769
For the moment I cannot reproduce the search drop-down's severe slowness on Raspberry Pi 4 with these 2 different versions of kiwix-tools &mdash; those were kiwix-tools 3.2.0-1 from 2022-02-02...

[code]

And kiwix-tools 3.3.0 from 2022-06-15...

[code]

On the own hand this appears to be good news.  On the other hand, I'd like to understand why I (and others) had so much trouble with kiwix-serve

[2022-06-26 15:53] kelson42 commented on #769
@holta Do you use the same hardware (rpi+sd) as a few months ago?

[2022-06-26 15:56] holta commented on #769
Yes.

Strangely I also cannot reproduce the slowness when using kiwix-tools 3.2.0-4 just as in early May.

But am using a different OS today: for the moment anyway I'm using the 32-bit Raspberry Pi OS on Raspberry Pi 4, whereas in early May I was using the 64-bit version of Raspberry Pi OS on Raspberry Pi 4.

So hypothetically the slowness flaw _might_ be arising from using *armhf* builds of kiwix

[2022-06-26 15:59] kelson42 commented on #585
@juuz0 To custom the CSS within the iframe, the styling shoukd probably be given as a URL parameter and integrate within the HTML code. Agree? Let me know if you think we should do that differently.

[2022-06-26 16:04] kelson42 commented on #565
@mgautierfr This ticket is relevant because the language filter is done in Javascript. If it would be done in C++ that would invalidate this ticket right? In such a scenario, It seems #750 invalidates this ticket to me.

[2022-06-26 16:10] kelson42 commented on #395
After https://github.com/openzim/libzim/pull/697 has been made, this ticket is less urgent. But I would still do it.

[2022-06-26 16:20] kelson42 commented on #769
@holta Quite impatient to know more about your investigations :)

[2022-06-26 17:22] kelson42 commented on #609
@rgaudin Would that be possible to do that cleanly in the cache or reverse proxy for library.kiwix.org?

[2022-06-26 18:41] kelson42 commented on #749
`000` ?

[2022-06-27 04:33] juuz0 commented on #585
@kelson42 I assume you mean CSS in URL parameter like this:
```http://192.168.18.8:8080/widget/?style="tag{color:green;}"```

Though we can parse this and definitely make it work, I think it's very prone to an XSS vulnerability like earlier. Obviously better parsing can help reduce it.
An alternative I thought was to add parameter similar to ```customIndex``` in kiwix-serve for the custom CSS in w

[2022-06-27 05:33] kelson42 commented on #585
The widget user has no access to launch the kiwix-serve. In addition, many different users can use widgets with differrent CSS.

[2022-06-27 07:37] mgautierfr commented on #565
There is two things:
- The translation of the frontend. #750 is about this.
- The filtering of books, based on a language selected by the user.

When user go to `library.kiwix.org`, `library.kiwix.org?lang=foo` or `library.kiwix.org?lang=bar`, the server don't care about the query string (`lang=foo`) and always return the same frontend client
(This is not **exactly** the same as the frontend is tr

[2022-06-27 08:07] mgautierfr commented on #749
Or `test` ?

[2022-06-27 10:28] rgaudin commented on #609
@kelson42 I don't understand what you're asking. The problem being the client making multiple requests, I don't see how any server-side configuration only would save requests from the client…

[2022-06-28 08:48] fheslouin commented on #785
@mgautierfr here is the command we use https://gitlab.com/bibliosansfrontieres/olip/apps/kiwix/blob/master/supervisor/app.conf#L6 along this list of zim : http://kiwix.kiwix-test.ideas-box.cc/

@kelson42 what do you mean by "simplified reproduction case" ?

[2022-06-28 19:01] kmmndr opened #792 "Tests are failing on AlpineLinux"
I'm trying to upgrade to [11.0.0](https://github.com/kiwix/libkiwix/releases/tag/11.0.0) on AlpineLinux (Musl-libc) but there is one test failing:

[code]

Full error log : [testlog.txt](https://github.com/kiwix/libkiwix/files/9003869/testlog.txt)

This issue wasn't on last release [10.1.1](https://github.com/kiwix/libkiwix/releases/tag/10.1.1)

## How to reproduce

Create the following Dockerfile

[2022-06-29 12:54] veloman-yunkan commented on #792
The test `LibraryServerTest.catalog_v2_languages` fails with the following diff suggesting that under Alpine the ICU data misses language self-names:

[code]

[2022-06-29 13:05] kelson42 commented on #792
@veloman-yunkan Can we make a proper/dedicated test to secure ICU data are OK?

[2022-06-29 13:26] veloman-yunkan commented on #792
Yes though with some approximation (for example it will only check that the self-name of `fra` is `français` rather than `French`).

[2022-06-29 13:28] kelson42 commented on #792
@veloman-yunkan There is no API in libicu to directly know with which dataset it is loaded? My goal to close this ticket is that we have a test which provides a clearer error message.

[2022-06-30 18:50] juuz0 commented on #585
@kelson42
Only for users who want a custom CSS and JS, would adding a small JS code by themselves be convenient enough?

The host website:
[code]
This host website code will not change, except only the CSS rules part.

[2022-07-03 12:29] kelson42 opened #793 "Unoptimal fulltext search link in 404 page"
Steps:
* Go to https://library.kiwix.org/wikipedia_fr_all_maxi_2022-04/A/Albert_Einsteind (URL is on purpose wrong, with surnumerous trailing `d`)
* 404 page is displayed properly with an invitation to make a fulltext search
* Fulltext search link is https://library.kiwix.org/search?content=wikipedia_fr_all_maxi_2022-04&pattern=Albert_Einsteind, which is not good because even https://library.kiwix

[2022-07-03 17:34] #430 closed

[2022-07-03 17:44] veloman-yunkan commented on #793
I am against making the search suggestion smart and I think that keeping it in its current form still makes sense.

The heuristics you propose makes sense for Wikipedia but not for some other websites. For example, on [cppreference.com](https://cppreference.com) underscores are first-class characters rather than whitespace replacements (e.g. https://en.cppreference.com/w/cpp/string/basic_string).

[2022-07-03 17:45] kelson42 commented on #599
@veloman-yunkan I think the need is confirmed now. We shoukd implement it.

[2022-07-03 17:49] kelson42 commented on #749
@mgautierfr @veloman-yunkan Can we go forward with `test`

[2022-07-03 17:56] veloman-yunkan commented on #792
@kelson42 Can we close this issue? Or you would like to have the proposed unit test added?

[2022-07-03 17:57] kelson42 commented on #792
@veloman-yunkan I would indeed like to have a test clearly stating that the libicu data is missing (if this is the case).

[2022-07-06 14:06] veloman-yunkan commented on #792
@kelson42 ICU documentation at the following links corroborates my [earlier assessment](#issuecomment-1170002637) that satisfying your requirement in a general way would be quite complex.

- https://unicode-org.github.io/icu/userguide/icu/design.html#data-driven-services

- https://unicode-org.github.io/icu/userguide/icu_data/#customizing-icus-data-library-for-icu-63-or-earlier

Below information

[2022-07-06 15:03] mgautierfr commented on #792
Please note that we patch ICU to remove some data we don't want https://github.com/kiwix/kiwix-build/commit/fbb84e9d2709ec0efc0359be89d82b006c9bb0c4 and associated pr https://github.com/kiwix/kiwix-build/pull/44.
However this change is pretty old. I remember I based myself on some documentation I found but sadly, I've not noted which one.
The same way, we probably discussed in live about the PR an

[2022-07-06 15:39] kelson42 commented on #792
Libicu data can be quite big. If you have them in a multiarch package, the problem is wvwn worth. Consider then a low-end mobile device/bandwith... like Android... then the problem is obvipus. This why it has been requested to limit the data to the strict minimun necessary. I think, we had an empirical approach to decide wjat to keep.

[2022-07-06 16:11] mgautierfr commented on #785
@fheslouin, the zim files in use in your configuration are pretty "old". There are not available in https://download.kiwix.org/zim. Where can I download them ?

[2022-07-07 07:21] fheslouin commented on #785
@mgautierfr indeed they are quite old, you can find them in our [catalog](https://s3.eu-central-1.wasabisys.com/olip-catalog-descriptor/prod/amd64/descriptor.json)
* http://s3.eu-central-1.wasabisys.com/olip-packages-prod/zim/gutenberg/gutenberg_es_all_2018-10.zim
* http://s3.eu-central-1.wasabisys.com/olip-packages-prod/zim/ted/tedxlausanne-2012_fr_all_2015-03.zim
* http://s3.eu-central-1.wasabis

[2022-07-07 09:36] opk12 opened #947 "Search results should be ordered"
**Is your feature request related to a problem? Please describe.**
The search results are not ordered, so I need to skim the list to find the correct entry. This is especially a problem for Wiktionary, where many words are very similar to each other (share the stem).

For example, in the German `Wiktionary 2022-05-24 Pic`, searching `apf` gives `Apfelteilern` - `apfelartig` - `äpfelndern` - `Apfel

[2022-07-11 15:08] kelson42 commented on #785
@mgautierfr Then I hardly see how we coukd fix the problem without running many searches (one per language) and merge the results.

[2022-07-11 15:11] mgautierfr commented on #785
Interesting (but pretty small) discussion about that : https://lists.tartarus.org/pipermail/xapian-discuss/2009-July/006942.html

[2022-07-11 15:22] mgautierfr commented on #785
The problem with merging is that we may have wrong score for documents.
One document may have a great score in the context of one database where it should be pretty low in a multidatabase context.
Think about the only article matching in the Spanish zim : `Diccionario Ingles-Español-Tagalog`, I don't know the score, but we may think it is pretty good as it is the only document corresponding in the

[2022-07-11 15:30] mgautierfr commented on #748
@juuz0 It may be interesting to have this in mind as you are working on the kiwix-serve frontend

[2022-07-12 16:01] kelson42 commented on #785
@mgautierfr I see no user friendly way to know this language. On the top of this, there is many words which are the same in many languages. I don't see how this approach could deliver what the user wants: articles with occurences of the given word(s), whatever the languages of the selected zims.

[2022-07-13 15:51] juuz0 commented on #748
@mgautierfr @kelson42
imo, this would be the better one:

- We could change a bit the behavior of the suggestion system to always validate the first entry of the suggestions list on enter event and so, always go to the "closest" article. If the user want to do a search, he has to explicitly select the last entry "De a search with <term>..."

[2022-07-19 09:41] mgautierfr opened #798 "Error uploading ubuntu package in CI"
It seems that uploading package in the CI fails because of a invalid secret key see:
https://github.com/kiwix/libkiwix/runs/7406215507?check_suite_focus=true

@legoktm, do you know what happens here ?

[2022-07-20 17:28] kelson42 opened #799 "ESC keyboard key stroke should escape from Download modal view"
If I have something like that:
![image](https://user-images.githubusercontent.com/1029718/180045137-a12672ad-8b3b-4dfc-860a-faa6f93df929.png)

Then typing on ESC on the keyboard should exit the modal view (so like clicking on the modal box X button).

[2022-07-20 19:18] kelson42 commented on #798
Seems to work again, see https://github.com/kiwix/libkiwix/runs/7436274197?check_suite_focus=true

[2022-07-20 19:18] #798 closed

[2022-07-20 19:19] #799 closed

[2022-07-20 19:21] kelson42 commented on #792
@veloman-yunkan OK, so you suggest we close this ticket as WONTFIX?

[2022-07-22 05:09] kelson42 commented on #793
@veloman-yunkan Agree, my idea is probably not the best one indeed. Closing for the moment.

[2022-07-22 05:09] #793 closed

[2022-07-22 09:31] veloman-yunkan commented on #792
@kelson42 Yes

[2022-07-22 09:56] #792 closed

[2022-07-23 12:57] juuz0 commented on #798
Though not exactly error due to uploading, but impish is failing here also
https://github.com/kiwix/libkiwix/runs/7478840879?check_suite_focus=true

[2022-07-23 13:03] legoktm commented on #798
Sorry, I'm at a conference this weekend. I'll try to look today but definitely will by Monday.

[2022-07-27 19:27] kelson42 commented on #410
If you add a dependence, or use a feature which is only available in a new version of a dependence. The `Package` workflow will tell you if there is a problem... otherwise you will detect this later only after merging to master.

[2022-07-27 19:28] #410 closed

[2022-07-29 08:43] veloman-yunkan commented on #599
@kelson42 filename is not included in the general free text search

[2022-07-29 12:46] kelson42 commented on #599
@veloman-yunkan OK, we will see in the future if this is necesdaty to integrate it.

[2022-07-29 12:48] kelson42 commented on #650
@veloman-yunkan Now, that the fix to have an iframe based taskbar runs the last revirw ozeration, could we go fotward with this ticket?

[2022-07-30 07:45] veloman-yunkan commented on #650
@kelson42 Yrs, qe cuolf :smile:

[2022-07-30 08:12] kelson42 commented on #755
@veloman-yunkan Considering that this change will break the API, that there is a consensus on it, that we are not to far to release `12.0.0` and that this change seems pretty trivial. Would that be possible to do it now?

[2022-07-31 09:16] veloman-yunkan opened #803 "Strange internal server errors when searching on a ZIM file served via library.xml"
There are strange internal server errors for certain search patterns when a ZIM file is served via library.xml (but not when it is served directly).

A reproducing [test case](https://github.com/kiwix/libkiwix/files/9228554/test.zip) (must be run in the libkiwix repository):

[code]

[2022-07-31 10:10] veloman-yunkan commented on #803
The reason for the errors is that the ZIM id in library.xml doesn't match the actual UUID of the ZIM file. The error is only triggered when there is at least one search result satisfying the query (that's why some search patterns lead to a 200 OK HTTP status code - it's when there is *no* search result matching that query).

[2022-07-31 10:59] kelson42 commented on #803
Do we have a bug in kiwix-manage? How do we come to such a sitiation? Manual Tweak of library.xml?

[2022-07-31 11:07] veloman-yunkan commented on #803
@kelson42 Yes, it was a manually created library.xml file. More than a year ago I created one such file in `test/data` where the same ZIM file was entered three times with different ids. Such a setup became an issue after #729.

[2022-07-31 14:15] kelson42 commented on #803
To me this seems to bring the questionning around #754. How to handle zim mezadata with library.xml and with/without ZIM file avcess.

[2022-07-31 14:29] juuz0 commented on #748
@kelson42 Opinion on this ^?
I will be on it right after noJquery PR is merged

[2022-07-31 17:36] kelson42 commented on #471
@juuz0 Would you be able to implement quicly the Kiwix icon on welcome page? Ticket is pretty old and that should be straight forward to inplement:
* Pick the kiwix icon (in good enough resolution)
* Use https://realfavicongenerator.net/
* Integrate all versions of favicons pictures in soirce code
* Modify Welcom page HTML
,,,,,

[2022-08-01 06:23] juuz0 commented on #471
@kelson42 👍

[2022-08-01 13:15] #610 closed

[2022-08-01 13:15] #369 closed

[2022-08-01 13:15] #719 closed

[2022-08-04 13:43] #755 closed

[2022-08-10 13:16] mgautierfr commented on #785
I propose that we add a query parameter `queryLanguage=<iso3language>`.
This parameter specify how we must parse the query and is different from `book.filter.lang` which specify how we select the books.
If the paramater is not provided, it is defaulted this way:
- In case of single zim search, use the language of the database (so it behaves as now)
- In case of multi zim search, use the user langu

[2022-08-10 14:43] #599 closed

[2022-08-11 10:54] kelson42 commented on #748
We discuss here only the behaviour of kiwix-serve title based suggestion system when user press ENTER without selecting a suggestion.

I'm not in favour of always going directly to the first suggestion, because in many scenario it won't fit good enough the search pattern. But I understand that we have lost here a bit of usability.

I think we should go directly to the first suggestion only if this

[2022-08-11 15:30] kelson42 commented on #615
I guess, @thavelick has abandonned the idea to propose an alternative here. We ahould really define what we want to build exactly.

[2022-08-15 08:03] kelson42 commented on #785
@mgautierfr Your approach dismiss the multilanguage search which is the goal I aim for. In addition your scenario seems to link the problem to a multizim search, but actually there is no problem with multizim search as long as they are in the same language. The problem here is multilanguage search: one search pattern with ZIM in different languages.

I have requested opinion from the Xapian team a

[2022-08-15 13:49] juuz0 opened #807 "Catalog filter using ZIM filename"
Currently, if I visit:
`http://library.kiwix.org/catalog/search?name=archlinux_en_all_nopic_2022-05`
I get no books.
The `name` is not actually the filename so to get the desired book I need to visit:
`http://library.kiwix.org/catalog/search?name=archlinux_en_all`
and then search through the X number of books with same name that it gives. Hardly flexible. This is needed in `/widget` for now but ma

[2022-08-15 17:18] kelson42 commented on #807
It ahoukd not be filename, but zim metada « Name ». https://library.kiwix.org/raw/gentoo_en_all_maxi_2021-03/meta/Name

[2022-08-15 17:23] juuz0 commented on #807
@kelson42 Filtering by name already exists, see:
https://library.kiwix.org/?name=gentoo_en_all

But this gives two books (same ZIM Meta name), I don't know how this will help in exactly getting the specific book. Filename looks more exact to me.

[2022-08-15 17:25] kelson42 commented on #807
We are not interested by the filename, because this potentially change each month… we want to have a list of of zim stable over time.

[2022-08-15 17:37] kelson42 commented on #807
@juuz0 Maybe the solution is that the feature you have built can work with aliases (basically filename without the date)?

[2022-08-15 18:53] juuz0 commented on #807
Sounds good to me, will also not to be duplicate.

[2022-08-17 19:02] holta opened #809 "Search drop-down flows off bottom of screen"
Students cannot easily find the `Containing 'Haïti'...` Full-Text Search option at the bottom of the search drop-down here:

![image](https://user-images.githubusercontent.com/2458907/185221593-707b9b3d-6abf-4a52-88c2-8a24e2fa78b5.png)

FYI this is using kiwix-tools 3.3.0 on the latest Raspberry Pi OS on Raspberry Pi 400 with 36GB https://download.kiwix.org/zim/wikipedia/wikipedia_fr_all_maxi_2022

[2022-08-17 19:20] kelson42 commented on #809
This is really weird that:
* the suggestion list is not under the search box
* that it is so long

[2022-08-17 19:24] kelson42 commented on #809
@holta I can not reproduce the problem with https://library.kiwix.org/wikipedia_fr_all_maxi_2022-08/A/Port-au-Prince_(navire). Which seems to be the same content and the same version of kiwix-serve. Do you?

[2022-08-17 19:24] holta commented on #809
Ignore that (it resulted from changing the browser's font size right before I took a screenshot!)

Long might be good!  But 100 pages of auto-suggested articles about 'Paris' is a bit too much ;-)

[2022-08-17 20:15] holta commented on #809
1) FYI I upgraded the Raspberry Pi from kiwix-tools 3.3.0 to 3.3.0-1 and the problem appears to have gone away (for now?)

2) What's very mysterious is that I then revert back to 3.3.0 and can no longer reproduce the problem :/

This appears to be an episodic bug (when it occurs, it occurs every single time &mdash; but I do not know the cause!)

PS kiwix-tools' changelog https://github.com/kiwix/k

[2022-08-18 05:03] kelson42 commented on #809
Strange, only libzim has changed beetween two builds. My best guess. There is somehow a CSS cache problem, and using the new build has forced to refresh the cache. Closing the ticket for the moment. Please reopen if it appears again.

[2022-08-18 05:03] #809 closed

[2022-08-24 14:46] kelson42 opened #810 "Release 12.0.0"
- [x] Check if library dependence version check is updated in Meson file
- [ ] Update `subprojects` with appropriate library dependence versions (like in kiwix-build)
- [x] Merge/apply latest translations from Translatewiki
- [x] Secure the CI is green on git `master`
- [x] Kiwix-Build is OK
- [x] Update the Changelog
- [x] Update version
- [ ] Close current milestone and create new one incrementa

[2022-08-30 14:15] mgautierfr commented on #785
We are storing both stemmed and unstemmed words. And we stem all words in the queryParser. Indeed, we may try to not stem words (or search for both stemmed and unsteemed words). It should works, I will try.

 The `Lfr` is not so a hack. And we probably want it at a moment. It is probably the best way to handle different languages in the same zim.

Merging two results set is indeed tricky. It is ni

[2022-08-30 15:38] mgautierfr commented on #785
My bad, we are not storing unstemmed words in the fulltext database (we do it in the title database).

The solutions for now are:
- Disallow multi-language search.
- Allow search on multizim with different language, but do the search for only one language.
- Build a query with use the stemmed words in different languages and `OP_OR` (but we may have false result as a stemmed word in language A may

[2022-09-04 08:30] kelson42 opened #811 "[REGRESSION] Kiwix-serve suggestions somehow broken"
With latest libzim/libkiwix/kiwix-tools, the kiwix-serve suggestion does not work anymore. I just need to start the kiwix-serve to get this
![image](https://user-images.githubusercontent.com/1029718/188304693-28f18871-5078-44b9-aea3-d6f9f41c508a.png)

The problem is that the content is not transmited properly, see `content=content` in the URL. This is clearly a regression.

It seems that under cer

[2022-09-04 08:30] kelson42 commented on #811
@juuz0 Could you please urgently have a look, I suspect this is somehow a bug which has been introduced at the time jquery has been removed.

[2022-09-04 08:35] kelson42 commented on #811
Acutally it seem:
* totally broken if article is displayed
* fully working if fulltext search result is displayed

[2022-09-04 15:05] kelson42 opened #812 "Small glitch in kiwix-serve welcome page tile title"
With current kiwix-hotspot `3.3.0-1`:
![image](https://user-images.githubusercontent.com/1029718/188320151-db50f324-6192-4539-b508-775194f0ad05.png)

With `dev` version:
![image](https://user-images.githubusercontent.com/1029718/188320197-860bc568-1b77-484c-892c-31a928cab5d5.png)

The margin right after the icon is far too short.

[2022-09-06 07:23] juuz0 commented on #811
checking it.
Although I don't get suggestions either at https://library.kiwix.org/wikipedia_en_all_nopic_2022-01/A/User:The_other_Kiwix_guy/Landing (this is the jquery version of suggestions)

[2022-09-06 17:09] kelson42 opened #814 "Document the generation of static files"
The way it work and what is expected from devs is not obvious. See https://github.com/kiwix/libkiwix/pull/813

[2022-09-06 17:09] #812 closed

[2022-09-07 09:02] mgautierfr commented on #814
I'm commenting your [comment](https://github.com/kiwix/libkiwix/pull/813#issuecomment-1238432459) here

We are documenting libzim usage. We will not document git usage or gcc, or cpp.
Lot of features of softwares/technologies are mandatory prerequisite to develop libzim (or any other software).
We already have documentation to how install ninja or meson. We have kiwix-build compiling everything. W

[2022-09-07 09:31] kelson42 commented on #814
The problem is that the cacheid has to be updated and if you don't know about it you won't commit it. Actually in previous PR, it seems that only the test server has been updated. Seems wrong to me.

[2022-09-07 09:49] mgautierfr commented on #814
It is not related to git at all then.

The cacheid is simply the first eight char of the sha1 sum.
It can be computed with `sha1sum` tool on the **generated** resources (in build directory if you compile yourself libkiwix. In `BUILD_native_dyn/libkiwix` if you use kiwix-build)
Or even better, just adapt the test with the new value computed (and displayed in error message) when tests are failing.
[

[2022-09-07 09:52] kelson42 commented on #814
If the cacheid is generated on the fly, why it is part of `test/server.cpp` then?

[2022-09-07 09:59] mgautierfr commented on #814
Because it is part of the final files served by the server. And `test/server.cpp` is testing that server return the correct data.

[2022-09-07 10:04] kelson42 commented on #814
So, why `test/server.cpp` does not appear to have to be commited?

[2022-09-07 10:09] mgautierfr commented on #814
Because you have to modify it and `git add` it.
As I've said : The only thing which is not are the tests as they are testing that automatized things are working. Automatizing tests would open the door to using buggy value both in the output and in the test.

[2022-09-07 10:34] kelson42 commented on #814
After this discussion, this is more clear to me what has to be documented. I just want to remind that if we would generate all the time a random cacheid, we would have avoid a bit of conplexity and all this discussion. I keep thinking that current approach is over-enginered.

[2022-09-07 15:33] mgautierfr opened #815 "We need to test kiwix-serve UI (with frontend js code)"
With time, we have created a more and more complex frontend with a lot of javascript.
However, our unit/integrations tests only check the backend code.
We need to find a way to add testing on the js/frontend code.

[2022-09-10 05:23] kelson42 commented on #749
@mgautierfr @veloman-yunkan please use artificial `test` Language for testing

[2022-09-11 13:35] kelson42 commented on #814
@juuz0 @veloman-yunkan @mgautierfr So, what are exactly the instructions to run to update the `test/server.cpp` if one of the static ressource is changed?

[2022-09-11 13:59] kelson42 opened #817 "Usage of format_code.sh"
Few questions:
* Still in use? usefull?
* I guess it should be updated?
* Probably belongs to `scripts` directory?

[2022-09-12 13:36] juuz0 commented on #814
@kelson42 How I currently do this:
1. run tests (`cd build && meson test`)
2. after it fails, go to testlog file.
3. copy value from there

[2022-09-12 17:44] kelson42 commented on #814
@juuz0 Thank you for your feedback. It makes sense to donlike that indeed.

[2022-09-14 14:00] kelson42 opened #819 "`autoComplete.min.js` is already minified in the code repository"
I wonder if this is already minified:
* Why this is minified (is that really necessary)?
* How to read it?
* How to modify it?

Usually, the way of doing is to have a "working" version not minified and then minify the file at release (or even runtime). Why we don't do so?

[2022-09-14 16:56] #814 closed

[2022-09-14 17:09] veloman-yunkan commented on #819
@kelson42 That file was imported by #796 from [another project](https://github.com/TarekRaafat/autoComplete.js). We are not supposed to edit it.

IMO, the real problem is that there is no reference to the origin of that file. I had it in mind during review but somehow forgot to mention.

[2022-09-14 18:07] kelson42 commented on #819
@veloman-yunkan I understand now. Doing so has obviously many problems or things to verify:
* verify if we comply and how to comply with original license
* we should better not integrate this in our code base. We should better handle it like an external dependence
* check if it coukd be packaged by Debian

[2022-09-21 11:20] veloman-yunkan commented on #819
Adding @mgautierfr since he was the one to add `autoComplete.min.js` in #639

[2022-09-22 07:28] #394 closed

[2022-09-22 07:28] #671 closed

[2022-09-22 07:33] kelson42 commented on #811
@juuz0 Can you please give a feedback here? This is the only blocker left for 12.0.0 milestone and this regression has probably been introduce during the removal pf jquery.

[2022-09-22 10:56] veloman-yunkan opened #820 "Auto-hiding of the taskbar in the iframe-based viewer"
Introduction of iframe-based viewer (#716) broke the auto-hiding functionality of the taskbar. Auto hiding (enabled for narrow-screens) works correctly only for the first page loaded in the viewer. Navigating to other pages interferes with auto-hiding as follows:

- If the toolbar was hidden, it stays hidden.

- If the toolbar was not hidden, it loses the ability to auto-hide.

[2022-09-22 11:32] kelson42 commented on #820
We should fix that, not having a top ar is a serious regression IMO.

[2022-09-23 12:56] juuz0 commented on #811
@kelson42 I finally got some, working on this now. Though, maybe I need a brief on new changes in this regard:
![image](https://user-images.githubusercontent.com/26814569/191964965-077338c1-a4ba-43fa-9f32-dc395b3bedb6.png)

which is the correct taskbar (and how do I disable the old one)

[2022-09-23 15:14] kelson42 commented on #811
@juuz0 Browser cache problem? We have now the top bar within an iframe!

[2022-09-24 13:25] juuz0 commented on #811
@kelson42 this seems to be fixed in latest master? (probably after addition of `viewer.js`)

[2022-09-24 13:30] kelson42 commented on #811
@juuz0 Lucky guy ;) I will check.

[2022-09-24 18:12] kelson42 commented on #811
@juuz0 I confirm that it seems to work now. I guess we have to thank @veloman-yunkan

[2022-09-24 18:12] #811 closed

[2022-09-24 18:13] kelson42 commented on #810
@mgautierfr @veloman-yunkan We are almost ready to move forward with this ticket, but first we need to clarify why https://github.com/kiwix/kiwix-desktop/issues/889. I would like to avoid a regression in the libkiwix.

[2022-09-27 09:18] veloman-yunkan commented on #810
kiwix/kiwix-desktop#889 will be fixed by #823

[2022-09-27 13:06] MohitMaliFtechiz commented on #652
hi @mgautierfr ,

This issue is still exist on android , I confirmed this is working with older version 9.4.1. Its showing wrong url on MainPage ```https://kiwix.app/``` expected ```https://kiwix.app/C/questions```

[2022-09-27 13:32] mgautierfr commented on #652
I'm not sure what is wrong from your description.
Did you expect android application to show `https://kiwix.app/C/questions` and `https://kiwix.app/` is displayed instead ?

[2022-09-28 07:43] MohitMaliFtechiz opened #824 "wikiHow homepage is not loading due to wrong url return from library."
## Description

Android OS: 11
Device: Redmi Note 9
Zim File: wikiHow

### With Libkiwix  10.1.1

* Main Page url comes from zimReader: mainPage
* Url comes from WebView: https://kiwix.app/mainPage.
* is redirected url comes from zim reader true
* redirect url comes from zim reader https://kiwix.app/

### With Libkiwix 9.4.1
* its working fine.
* Main Page url comes from zimReader: W/mainPage
* Ur

[2022-09-28 07:44] MohitMaliFtechiz commented on #652
hi @mgautierfr ,

I have open separate ticket for problem. https://github.com/kiwix/libkiwix/issues/824

[2022-09-28 07:47] kelson42 commented on #824
@MohitMaliFtechiz This is a bug report for android. Here we are interested in what do you do at libkiwix level? Which primitive do you call and what do you get as a value and what you expect?

[2022-09-28 08:59] MohitMaliFtechiz commented on #824
hi @kelson42 ,

We are calling Method to get main Page url inside ```JNIKiwixReader``` class ```public native String checkUrl(String url);``` . We are expecting value  [https://kiwix.app/C/대문](https://kiwix.app/C/%EB%8C%80%EB%AC%B8) while receiving  https://kiwix.app/ on 10.1.1. For older version 9.4.1 url returning is correct.

[2022-09-28 09:01] mgautierfr commented on #824
@MohitMaliFtechiz
This issue is related to the change in libzim API (and so libkwix api).
On "old" zim files, the main entry, returned by libzim is directly the actual main entry.
This is somehow problematic as when you ask for entry path "/" (main page), you may have a entry for path "foo/index.html". As all links are relatives, the link in the page are relative to "foo/index.html", but the appli

[2022-09-28 12:32] MohitMaliFtechiz commented on #824
@mgautierfr ,

Thank you for suggestion , I can see homepage now but found another issue will post them on separate ticket.

[2022-09-28 12:43] #824 closed

[2022-09-28 15:16] #820 closed

[2022-10-03 10:11] kelson42 opened #826 "Redirection error in latest (2022-09) ifixit zim (English and Russian version)"
From ifixit created by [laggykiller](https://github.com/laggykiller): openzim/ifixit#86

The latest (2022-09) ifixit zim (English and Russian version) has redirection error ('redirected you too many times')

The zim in question is here:
https://download.kiwix.org/zim/ifixit/ifixit_en_all_2022-09.zim
https://download.kiwix.org/zim/ifixit/ifixit_ru_all_2022-09.zim

You can test it out now from here:

[2022-10-03 10:11] kelson42 commented on #826
@kelson42 this might be a kiwix-serve issue. The ZIM entries look correct:

[code]

Problem revolves around the handling of `/`:

[code]

[code]

Accessing the `home/home` entry directly works as expected

[code]

[code]

Kiwix-JS is not affected by this bug, nor is kiwix-desktop macOS (97)

[2022-10-03 10:11] kelson42 commented on #826
Both were created using `openzim/ifixit:0.2.1` so can't be related to a code change anywhere.

[2022-10-03 10:11] kelson42 commented on #826
@rgaudin @benoit74 I strongly suspect this is linked to something which has changed upstream. Anyway the problem is accute! We should disable the recipes and remove the problematic ZIM files from the repo!

[2022-10-03 10:11] kelson42 commented on #826
@rgaudin @benoit74 Indeed, looks super serious, the homepage seems to redirect on itself!!!

[2022-10-03 10:11] kelson42 commented on #826
This is weird, I did not released any change in the scraper since previous
version.
Did you released any big changes in any underlying library ?

[2022-10-03 10:13] kelson42 commented on #826
@veloman-yunkan I have migrated the ticket from the iFixit repo (but the comments are not in the right order). This is a blocker for `12.0.0` IMO, pretty unclear why such a problem has been unoticed so far.

[2022-10-03 10:14] kelson42 commented on #810
We have to fix https://github.com/kiwix/libkiwix/issues/826 first

[2022-10-03 10:37] rgaudin commented on #826
Confirming that the `2022-06` version is not affected

[code]

[code]

ZIM entries are similar:

[code]

Metadata are similar as well (not that it should matter)

[code]

[code]

[2022-10-03 13:26] MohitMaliFtechiz opened #828 "OPDS catalog must respect the used nameMapper"
**Describe the bug**
On libkiwix 10.1.1 , zim file while opening over hotspot resulting ```The requested URL "/" was not found on this server.```.

**Expected behavior**
Its should open the zim file without any issue

**Screenshots**
![Screenshot from 2022-10-03 18-52-57](https://user-images.githubusercontent.com/34593983/193588946-e4684153-6689-46ec-9f8b-7cfa55dc1bae.png)
![Screenshot from 2022-1

[2022-10-03 14:20] #817 closed

[2022-10-04 09:10] veloman-yunkan commented on #826
The issue with [ifixit_en_all_2022-09.zim](https://download.kiwix.org/zim/ifixit/ifixit_en_all_2022-09.zim) is that it contains an item at the empty path "":

[code]

Currently the main entry is returned for an empty ("") or root ("/") path only if no entry exists at that path in the ZIM file:

https://github.com/kiwix/libkiwix/blob/f6ae75e41d91efa84597221ce9f1a481a4f2ed76/src/tools/archiveTools.c

[2022-10-04 09:11] rgaudin commented on #826
Ah! Very interesting ; I did not know that. Thanks. We'll fix the scraper. Leaving this open to discuss whether we still want that (weird?) behavior

[2022-10-04 09:22] veloman-yunkan commented on #826
In any case, there is a bug in `InternalServer::handle_content()` which assumes that the entry fetched for an empty path is a redirect entry: https://github.com/kiwix/libkiwix/blob/f6ae75e41d91efa84597221ce9f1a481a4f2ed76/src/server/internalServer.cpp#L1045-L1050

[2022-10-04 14:07] kelson42 commented on #826
I guess we can close this now.

[2022-10-04 16:21] kelson42 commented on #828
@mgautierfr @veloman-yunkan Sounds like a regression to me. Isn't it?

[2022-10-04 17:17] mgautierfr commented on #828
The "regression" comes from the switch from backend generated home page to dynamic js home page which use the catalog as source.

This is not a regression from the opds_stream point of view as the bug was always here.
This is a regression from the homepage point of view and it dates from libkiwix 10.0.0 (but the bug is on opds_stream side)

[2022-10-04 17:21] kelson42 commented on #828
@mgautierfr Thx for clarification. IMO, we better get it fixed befpre 12.0.0 release.

[2022-10-06 08:28] veloman-yunkan commented on #828
I will work on this.

[2022-10-06 08:28] mgautierfr commented on #828
I'm working on this

[2022-10-06 09:53] veloman-yunkan commented on #828
I've started with some clean-up of OPDS dumper. I've now shared my work as a self contained PR #829.

[2022-10-06 10:12] veloman-yunkan commented on #828
I guess that #829 in its current form can be merged first without causing too much pain for #830. I won't continue working on it.

[2022-10-06 14:00] kelson42 commented on #650
@veloman-yunkan Looks like we are now back to this ticket. Do you need to split it in smaller pieces?

[2022-10-07 08:24] veloman-yunkan commented on #650
@kelson42 I am starting to work on it and will file subtickets as needed.

[2022-10-07 09:39] veloman-yunkan opened #831 "Cache control of static resources"
This is a sub-ticket of #650

#712 has introduced support for versioning static resources, however the HTTP caching side of their handling has not been addressed.

Currently a build of `kiwix-serve` containing static resource `/skin/RESOURCE` with the cache id value `CACHEID` is supposed only to receive and handle requests of the form `/skin/RESOURCE?cacheid=CACHEID`. #650 proposes responding to s

[2022-10-07 11:26] kelson42 commented on #831
@veloman-yunkan In both case a temporary redirection ti the URL with proper cacheid? What aboit head requests?

[2022-10-07 12:33] mgautierfr commented on #831
I don't think so. At least definitively not for case # 2.

The purpose of the cacheid is to avoid having the client using resources with different versions in the same time.
If we have a request with a "wrong" cache-id, it means that browser is using a out of date cached version of the front and so, do request for resources out of date with what we can serve.
We must return some kind of error to l

[2022-10-07 15:11] kelson42 commented on #831
Do we have legit scenarios where user will be out of sync? One of the primary goals is that the user never has to refresh manually.

[2022-10-07 15:44] kelson42 commented on #831
@mgautierfr Analysis seems pretty accurate to me. My first comment might not be that good. But we should do our best to avoid any legit scenario where user has to refresh manually. Maybe viewer should be cached and refresh if necessary based on an etag (we don't request it that ofyen anyway, each time we open a new tab I guess)? The only problematic scenario would be if API change an tab survives.

[2022-10-09 15:55] kelson42 commented on #785
@mgautierfr @veloman-yunkan I’m sorry to bring back this ticket in `12.0.0` but we remarked that it was a blocker to finish a contracted project. That said I don’t expect us to fully fix the problem here, but we should fix the part which is the most obvious.

To me either all the ZIM have the same language and all is good, we can continue to return results like now without requesting a language. B

[2022-10-09 18:48] kelson42 opened #832 "Add a feed link to kiwix-serve welcome page"
The feed link should have the same filter (URL) as the one currently running.

Read https://medium.com/samsung-internet-dev/add-rss-feeds-to-your-website-to-keep-your-core-readers-engaged-3179dca9c91e form more details.

This should help user to be kept informed about new release of their most wanted ZIM files.

[2022-10-12 08:56] mgautierfr commented on #785
I agree with @kelson42 solution. If we are in single language search (so also single zim search by definition, until we store different languages in the same zim :) ), do the search in this language. Else "ask" for a specific language from the user.
There is still the open question of a single language (`A`) search with an explicit search language (`B`) provided by the user. Should we do the searc

[2022-10-12 09:22] kelson42 commented on #785
This should always return zero result, because there is no zim with language B (we should run the search request only zim with the same languahe as the one requested).

[2022-10-12 16:55] kelson42 commented on #785
@Bastien-BSF If good for you we would proceed by doing so. The fundamental fix regarding multizim and multilanguage search would be done later, its not OPDS related and is a scenario which has never been supported properly.

[2022-10-13 12:07] Bastien-BSF commented on #785
That's good for me. Thanks.

[2022-10-17 07:41] ge0rg opened #835 "Fallback server-side generated landing page and search for browsers without JavaScript"
The "Welcome to Kiwix Server" landing page and wiki search on the `/` URL requires JavaScript to query the API for a list of matching books and to render the results.

While I appreciate the individual books popping up in a shiny animation, the result list is always empty on devices that do not support JavaScript, like older ebook readers which are a relevant target for offline reading of ZIMs.

T

[2022-10-20 14:17] #650 closed

[2022-10-20 14:17] #831 closed

[2022-10-21 05:07] kelson42 commented on #785
@veloman-yunkan Could you please implememt what has been decide in https://github.com/kiwix/libkiwix/issues/785#issuecomment-1272571526? I have reassigned to you the ticket following a discussion with @mgautierfr and with his agreement. That way he could focus on finish something to make next release of libzim.

[2022-10-23 16:29] veloman-yunkan commented on #441
This issue seems to be a special case of #775

[2022-10-24 14:57] kelson42 opened #840 "How to handle bookmarks"
Each Kiwix reader handles bookmarks on its own although this is always the same:
* Add
* Get
* Remove
* Export
* Import

I wonder if this would be a smart idea to propose the primitive in the libkiwix?

[2022-10-24 15:03] kelson42 commented on #769
@holta latest libzim/libkiwix/kiwix-tools are still not released yet, but will have to tackle this in the next months. Do you know at least if this still appear with latest nightly of kiwix-serve?

[2022-10-24 15:45] mgautierfr commented on #840
This is already the case.
Search for bookmark in [library.h](https://github.com/kiwix/libkiwix/blob/master/include/library.h)

[2022-10-24 15:53] kelson42 commented on #840
@mgautierfr Really good, do we have a storage backend in it? An xml/json file for bookmarks (something like for the local library)?

[2022-10-24 16:07] mgautierfr commented on #840
Yes, kiwix-desktop should write a xml file along with your library.xml file.
Something like `~/.local/share/kiwix/library/library.bookmarks.xml` (or another path if you are on Windows or using flatpak)

[2022-10-24 16:56] kelson42 commented on #840
@mgautierfr Actually all this is for kiwix-android. Wonder how much we could/should share with other readers like kiwix-desktop. Wouldn't be good to have the reader/writer within libkiwix?

[2022-10-24 18:54] holta commented on #769
Quick Tests: I can't reproduce the above with kiwix-tools nightly build 2022-10-24, with the latest Raspberry Pi OS:

Search query "AIDS" is slow to appear, but appeared every time within about 5-10 seconds.

The above failure however DOES occur every time — EXAMPLE:
- The search query "pi" will never work (as it's a Greek letter, try it!)
- Adding or removing a letter (e.g. "p" or "pit") will how

[2022-10-24 19:22] kelson42 commented on #769
@mgautierfr Might that be that this ticket has been a duplicate of https://github.com/kiwix/kiwix-tools/issues/573? For latest "pi" stuff stringly suspect a stopword on steeming which fails, what donyou think?

[2022-10-25 07:17] mgautierfr commented on #840
Saving the bookmarks is made with [`kiwix::Library::writeBookmarksToFile`](https://github.com/kiwix/libkiwix/blob/master/include/library.h#L254) and reading a bookmark file is done with [`kiwix::Manager::readBookmarkFile`](https://github.com/kiwix/libkiwix/blob/master/include/manager.h#L118-L124). This follow the same convention than for writing/reading `library.xml`.

Other projects just have to

[2022-10-25 09:22] #840 closed

[2022-10-31 08:14] #828 closed

[2022-11-01 18:36] kelson42 commented on #785
I will no create a new ticket in openzim/libzim regarding the conplex problem around multizim search with multiple languages... to then close that that one.

[2022-11-01 18:38] kelson42 commented on #769
@mgautierfr A feedback?

[2022-11-02 09:00] kelson42 commented on #785
Closed in favour of https://github.com/openzim/libzim/issues/734

[2022-11-02 09:00] #785 closed

[2022-11-02 17:00] kelson42 commented on #749
@veloman-yunkan Woukd be good if that one could be implemented. Seems straight forward.

[2022-11-02 18:36] kelson42 commented on #835
Duplicate of #615

[2022-11-02 18:36] #835 closed

[2022-11-03 12:35] kelson42 commented on #769
I had a look to the problem with "pi" and the problem is related to wrong json escaping, see this:
[code]
@veloman-yunkan Would you be able to quickly fit that (and adapt the test)? In general I wonder that we have this kind of bug, we don't use an external primitive to do the json escaping?!

[2022-11-04 15:15] mgautierfr commented on #615
I now have something in mind 🙂

The current frontpage is a js page which does specific request to opds catalog, parse the xml result and render the what is parsed dynamically.
We could simply render the catalog "odps" feed with hmtl.
The opds catalog is rendered to xml using (`OpdsDumper`)[https://github.com/kiwix/libkiwix/blob/master/src/opds_dumper.cpp].
which is using mustache templates to gene

[2022-11-09 14:04] kelson42 commented on #769
@veloman-yunkan Any feedback? this seems to me to be a blocker for `12.0.0` release

[2022-11-10 08:58] veloman-yunkan opened #842 "Backslash symbol in suggestions results in broken JSON"
_Originally posted by @kelson42 in https://github.com/kiwix/libkiwix/issues/769#issuecomment-1302034855_

I had a look to the problem with "pi" and the problem is related to wrong json escaping, see this:

[code]
and here with json integrety check:

[code]
@veloman-yunkan Would you be able to quickly fit that (and adapt the test)? In general I wonder that we have this kind of bug, we don't use an

[2022-11-10 09:02] kelson42 commented on #842
@veloman-yunkan Discussing with @mgautierfr about the problem, it came back that a few months ago, there was the discussion about using a proper external json library. I wonder if this would be the right time to reassess this idea.

[2022-11-10 13:50] veloman-yunkan commented on #842
@kelson42 The fix itself is simple enough to *not* justify utilizing a special library (as long as only libkiwix is concerned). The only other place in the Kiwix/OpenZIM ecosystem (that I am aware of) where we have to deal with JSON generation is in zimcheck. If we want to address that one too, then it makes a little more sense.

[2022-11-10 13:53] kelson42 commented on #842
@veloman-yunkan Yes, I'm supportive to address both. I'm just unsure about the timing. Probably we could go for your fix for now, but at next opportunity we should really put the topic on the topic on the table.

[2022-11-11 06:49] kelson42 commented on #479
I guess this is ticket fot openzim/linbzim meanwhile.

We should fix https://github.com/openzim/libzim/issues/734 forst IMO.

[2022-11-13 15:41] kelson42 opened #844 "Improve the OPDS category API"
We have a list of categories currently available at https://library.kiwix.org/catalog/v2/categories.

IMO, this is a "good start" but its missing a few things:
* We should have a label
* The label should be somehow localised
* We should deliver a URL to have a picture for the category

Then I have other points which are less clear to me:
* We propose a link with a subsection, I wonder if the categ

[2022-11-14 10:12] rgaudin commented on #844
I think we should prioritize the *features* we need to replicate current reader usage an add the additional ones later on.

Only `other` and `mooc` would benefit from it as others are *brand names*. I understand that may be useful but storing this information is gonna be an issue.

Important as it's already in use in Kiwix iOS. What they do is they use the first ZIM's Icon from that category as ca

[2022-11-15 13:07] MohitMaliFtechiz opened #845 ".so file missing in release tar for linux architecture."
Tar uploaded at https://download.kiwix.org/release/libkiwix/ for linux architecture missing .so file that is required for running test at java-libkiwix.

[2022-11-15 17:59] kelson42 commented on #845
I confirm, this is missing!!!

[2022-11-16 10:42] mgautierfr commented on #845
This is surprising.

But it should be fixed with commit https://github.com/kiwix/kiwix-build/pull/548/commits/0226d7a24fd10c065a9519e5a3f3a729cc3abe61 on kiwix/kiwix-build#548
(At least I will check that with kiwix/kiwix-build#548)

[2022-11-16 15:20] mgautierfr commented on #845
Do you really need the linux architecture ? You should better use the android architecture no ?

A proper publication of libkiwix should use a "mixed" build (dependencies build statically and libkiwix build dynamically).
But libkiwix doesn't compile currently in mixed form on linux. The publication of this archive is a bug in the kiwix-build process where it build libkiwix statically. This wrong p

[2022-11-16 15:28] kelson42 commented on #845
Here my feedback as I'm the one to push this.

First this is `java-libkiwix`, not `android-libkiwix`, so even if this is true that our usage of the moment is on Android, I think it would be a bad approach to not include `x86_64` in it.

Then, there is the current question of the unit and automated testing of the `java-libkiwix` ; if we test one of the Android binding then we will have to run the u

[2022-11-16 15:34] mgautierfr commented on #845
Ok. I will remove thing related to this issue on https://github.com/kiwix/kiwix-build/pull/548 and fix this is another PR

[2022-11-17 07:59] veloman-yunkan commented on #615
@mgautierfr If I read that sentence literally, I think that hardly there is anyone who can do it at all :wink:

[2022-11-17 08:12] kelson42 commented on #615
I'm not sure where everywhere there is javascript. But could we maybe first implement #750 in C++ (instead of the js we have currently) first? This would be better from a UX as well.

[2022-11-17 10:48] #842 closed

[2022-11-17 10:49] kelson42 commented on #769
All should work fine now

[2022-11-17 10:49] #769 closed

[2022-11-26 08:28] kelson42 commented on #754
@mgautierfr @veloman-yunkan Do we have here anything still to discuss before implementation?

[2022-11-27 09:50] kelson42 commented on #750
@veloman-yunkan It’s not thenright moment to fix/implement this ticket? I guess you need that for #846 as well.

[2022-11-29 15:19] #749 closed

[2022-11-30 14:26] #845 closed